# scrapping universities and colleges fees structure

In [1]:
!pip freeze

absl-py==1.3.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
appdirs==1.4.4
asn1crypto==1.0.1
astor==0.8.1
astroid==2.3.1
astropy==3.2.1
astunparse==1.6.3
atomicwrites==1.3.0
attrs==19.2.0
Automat==20.2.0
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.6.4
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.2.0
beautifulsoup4==4.8.0
bitarray==1.0.1
bkcharts==0.2
blaze==0.11.3
bleach==3.1.0
blinker==1.4
bokeh==1.3.4
boto==2.49.0
Bottleneck==1.2.1
cachetools==4.2.2
Camelot==12.6.29
certifi==2022.12.7
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
clyent==1.2.2
colorama==0.4.1
comtypes==1.1.7
conda==22.9.0
conda-build==3.23.3
conda-package-handling==1.6.0
conda-verify==3.4.2
constantly==15.1.0
contextlib2==0.6.0
cryptography==2.7
cycler==0.10.0
Cython==0.29.13
cytoolz==0.10.0
dask==2.5.2
datashape==0.5.4
decorator==4.4.0
defusedxml==0.6.0
distributed==2.5.2
distro==1.8.0
docutils==0.15.2
Elixir==0.7.1
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.10
flatbuffers==23.5.26
fsspec==0.5.2
future==0.18.3
gast==0.4.0
gevent==1.4.0
glob2==0.7
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
greenlet==0.4.15
grpcio==1.27.2
h5py==2.10.0
HeapDict==1.0.1
html5lib==1.0b8
hyperlink==21.0.0
idna==2.8
imageio==2.6.0
imagesize==1.1.0
importlib-metadata==4.11.3
incremental==21.3.0
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
Jinja2==2.10.3
joblib==0.13.2
json5==0.8.5
jsonify==0.5
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterlab==1.1.4
jupyterlab-launcher==0.13.1
jupyterlab-server==1.0.6
keras==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==18.0.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
libarchive-c==2.8
libclang==16.0.6
llvmlite==0.29.0
locket==0.2.0
lxml==4.4.1
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mock==3.0.5
more-itertools==7.2.0
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
navigator-updater==0.2.1
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.3
nltk==3.4.5
nose==1.3.7
notebook==6.0.1
numba==0.45.1
numexpr==2.8.4
numpy==1.21.6
numpydoc==0.9.1
oauthlib==3.1.0
odo==0.5.1
olefile==0.46
openpyxl==3.0.0
opt-einsum==3.3.0
packaging==19.2
pandas==1.3.5
pandocfilters==1.4.2
parso==0.5.1
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.5
patsy==0.5.1
pbr==5.11.1
pdfminer==20191125
pep8==1.7.1
pickleshare==0.7.5
Pillow==6.2.0
pkginfo==1.5.0.1
pluggy==0.13.0
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.19.6
psutil==5.6.3
py==1.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.15.0
pycurl==7.43.0.3
pyflakes==2.1.1
Pygments==2.4.2
pygpu==0.7.6
PyHamcrest==2.0.2
PyJWT==1.7.1
pylint==2.4.2
pyodbc==4.0.27
pyOpenSSL==19.0.0
pyparsing==2.4.2
pypdf==3.15.4
pypdf2==3.0.1
pyreadline==2.1
pyrsistent==0.15.4
PySocks==1.7.1
pytest==5.2.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.0
pytz==2019.3
PyWavelets==1.0.3
pywin32==223
pywinpty==0.5.5
PyYAML==5.1.2
pyzmq==18.1.0
QtAwesome==0.6.0
qtconsole==4.5.5
QtPy==1.9.0
requests==2.22.0
requests-oauthlib==1.3.0
rope==0.14.0
rsa==4.7.2
ruamel-yaml==0.15.46
scikit-image==0.15.0
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.9.0
Send2Trash==1.5.0
service-identity==18.1.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.3
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==2.0.20
sqlalchemy-migrate==0.13.0
sqlparse==0.4.4
statsmodels==0.10.1
stow==1.2.2
sympy==1.4
tables==3.5.2
tabula==1.0.5
tabula-py==2.6.0
tabulate==0.9.0
tblib==1.4.0
Tempita==0.5.2
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tf-estimator-nightly==2.8.0.dev2021122109
Theano==1.0.5
threadpoolctl==2.2.0
tika==2.6.0
toml==0.10.2
toolz==0.10.0
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.3
Twisted==22.2.0
twisted-iocpsupport==1.0.2
typing-extensions==4.7.1
unicodecsv==0.14.1
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.11.2
xlrd==0.7.1
XlsxWriter==1.2.1
xlwings==0.15.10
xlwt==0.7.2
zict==1.0.0
zipp==0.6.0
zope.interface==5.4.0

WARNING: Could not generate requirement for distribution -umpy 1.16.5 (c:\users\debra\anaconda3\lib\site-packages): Parse error at "'-umpy==1'": Expected W:(abcd...)

In [3]:
!pip python -V

ERROR: unknown command "python"

In [4]:
import sys
sys.version_info

sys.version_info(major=3, minor=7, micro=4, releaselevel='final', serial=0)

In [2]:
#pip install pandas

In [3]:
import pandas as pd # library for data analysis
import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML documents
import numpy as np
import tabula

In [4]:
def HMTLPageReader(url):
    df = pd.read_html(url)
    return df

## Chinhoyi Univeristy of Technology

In [5]:
urlList = ['https://zwefinder.net/chinhoyi-university-of-technology-fees-structure/',
           'https://www.buse.ac.zw/fees-structure/',
           'https://zwefinder.net/gwanda-state-university-fees-structure/',
           #'https://zwefinder.net/harare-institute-of-technology-fees-structure/',
           'https://zwefinder.net/manicaland-state-university-fees-structure/',
           #'https://zwefinder.net/nust-zimbabwe-fees-structure/',
           'https://zwefinder.net/zimbabwe-open-university-fees-structure/',
           #'https://zwefinder.net/marondera-university-fees-structure/',
           'https://zwefinder.net/africa-university-zimbabwe-fees-structure/',
           'https://zwefinder.net/arrupe-jesuit-university-fees-structure/',
           'https://zwefinder.net/catholic-university-in-zimbabwe-fees-structure/',
           #'https://zwefinder.net/reformed-church-university-fees-structure/',
           'https://zwefinder.net/kwekwe-polytechnic-fees-structure/',
           'https://zwefinder.net/gweru-polytechnic-fees-structure/',
           #'https://zwefinder.net/mupfure-self-help-college-fees-structure/',
           #'https://zwefinder.net/mutare-teachers-college-fees-structure/',
           #'https://zwefinder.net/united-college-of-education-fees-structure/',
           'https://zwefinder.net/university-of-zimbabwe-fees/',
           #'https://zwefinder.net/great-zimbabwe-university-fees/',
           #'https://zwefinder.net/lupane-state-university-fees/',
           'https://zwefinder.net/midlands-state-university-fees/',
           #'https://zwefinder.net/zimbabwe-national-defence-university-intake/',
           #'https://zwefinder.net/pan-african-university-intake/',
           'https://zwefinder.net/solusi-university-fees/',
           #'https://zwefinder.net/womens-university-in-africa-fees/',
           #'https://zwefinder.net/zimbabwe-ezekiel-guti-university-fees/',           
           'https://zwefinder.net/mutare-polytechnic-school-fees/',
           #'https://zwefinder.net/kushinga-phikelela-polytechnic-intake/',
           #'https://zwefinder.net/joshua-mqabuko-nkomo-polytechnic-fees/',
           #'https://zwefinder.net/harare-polytechnic-fees/',
           'https://zwefinder.net/bulawayo-polytechnic-fees/',
           #'https://zwefinder.net/belvedere-technical-teachers-college-fees/',
           #'https://zwefinder.net/bondolfi-teachers-college-fees/',
           #'https://zwefinder.net/hillside-teachers-college-fees/',
           #'https://zwefinder.net/madziwa-teachers-college-fees/',
           #'https://zwefinder.net/marymount-teachers-college-fees/',
           #'https://zwefinder.net/mkoba-teachers-college-fees/',
           #'https://zwefinder.net/masvingo-teachers-college-fees/',
           #'https://zwefinder.net/morgan-zintec-teachers-college-intake/',
           #'https://zwefinder.net/morgenster-teachers-college-intake/',
           #'https://zwefinder.net/nyadire-teachers-college-fees/',
           #'https://zwefinder.net/seke-teachers-college-fees/',
           #'https://zwefinder.net/msasa-industrial-training-college-fees/',
           #'https://zwefinder.net/westgate-industrial-training-college-fees/',
           #'https://zwefinder.net/st-peters-kubatana-industrial-training-college-intake/',
           #'https://zwefinder.net/danhiko-training-school-fees/'           
         ]
dfNames = []
i = 0
while i < len(urlList):
    if urlList[i].split('/')[-2].split('-')[-1] == 'structure':
        if len(urlList[i].split('/')[-2].split('-'))>2:
            globals()[f"{''.join(j.title() for j in urlList[i].split('/')[-2].split('-')[:-2])}"] = HMTLPageReader(urlList[i])
            dfNames.append(''.join(j.title() for j in urlList[i].split('/')[-2].split('-')[:-2]))
            print(''.join(j.title() for j in urlList[i].split('/')[-2].split('-')[:-2]))
        else:
            BinduraUniversity = HMTLPageReader(urlList[i])
            dfNames.append("BinduraUniversity")
            print("BinduraUniversity")
    else:
        globals()[f"{''.join(j.title() for j in urlList[i].split('/')[-2].split('-')[:-1])}"] = HMTLPageReader(urlList[i])
        dfNames.append(''.join(j.title() for j in urlList[i].split('/')[-2].split('-')[:-1]))
        print(''.join(j.title() for j in urlList[i].split('/')[-2].split('-')[:-1]))
    i += 1

ChinhoyiUniversityOfTechnology
BinduraUniversity
GwandaStateUniversity
ManicalandStateUniversity
ZimbabweOpenUniversity
AfricaUniversityZimbabwe
ArrupeJesuitUniversity
CatholicUniversityInZimbabwe
KwekwePolytechnic
GweruPolytechnic
UniversityOfZimbabwe
MidlandsStateUniversity
SolusiUniversity
MutarePolytechnicSchool
BulawayoPolytechnic

In [6]:
Uni = []
feeType = []
underGradNonRes = []
DiplomaNonRes = []
underGradResDouble = []
DiplomaResDouble = []
underGradResSingle = []
DiplomaResSingle = []
ForeignNonRes = []
ForeignResDouble = []
ForeignResSingle = []
for i in ChinhoyiUniversityOfTechnology[0].index[3:14]:
    if i == 12:
        feeType.append(ChinhoyiUniversityOfTechnology[0][0][24])
        underGradNonRes.append(np.nan)
        DiplomaNonRes.append(np.nan)
        Uni.append(dfNames[0])
    elif i > 12:
        feeType.append(ChinhoyiUniversityOfTechnology[0][0][i-1])
        underGradNonRes.append(ChinhoyiUniversityOfTechnology[0][1][i-1])
        DiplomaNonRes.append(ChinhoyiUniversityOfTechnology[0][3][i-1])
        Uni.append(dfNames[0])
    else:
        feeType.append(ChinhoyiUniversityOfTechnology[0][0][i])
        underGradNonRes.append(ChinhoyiUniversityOfTechnology[0][1][i])
        DiplomaNonRes.append(ChinhoyiUniversityOfTechnology[0][3][i])
        Uni.append(dfNames[0])
for i in ChinhoyiUniversityOfTechnology[0].index[15:26]:
    underGradResDouble.append(ChinhoyiUniversityOfTechnology[0][1][i])
    DiplomaResDouble.append(ChinhoyiUniversityOfTechnology[0][3][i])
for i in [j for j in range(28,40) if j != 38]:
    underGradResSingle.append(ChinhoyiUniversityOfTechnology[0][1][i])
    DiplomaResSingle.append(ChinhoyiUniversityOfTechnology[0][3][i])
for i in ChinhoyiUniversityOfTechnology[0].index[45:48]:
    ForeignNonRes.append(ChinhoyiUniversityOfTechnology[0][1][i])
for i in ChinhoyiUniversityOfTechnology[1].index[0:8]:
    if i == 6:
        ForeignNonRes.append(np.nan)
    elif i > 6:
        ForeignNonRes.append(ChinhoyiUniversityOfTechnology[1][1][i-1])
    else:
        ForeignNonRes.append(ChinhoyiUniversityOfTechnology[1][1][i])
for i in ChinhoyiUniversityOfTechnology[1].index[9:20]:
    ForeignResDouble.append(ChinhoyiUniversityOfTechnology[1][1][i])
for i in ChinhoyiUniversityOfTechnology[1].index[22:33]:
    ForeignResSingle.append(ChinhoyiUniversityOfTechnology[1][1][i])
len(Uni), len(feeType), len(underGradNonRes), len(DiplomaNonRes), len(underGradResDouble), len(DiplomaResDouble), len(underGradResSingle), len(DiplomaResSingle), len(ForeignNonRes)

(11, 11, 11, 11, 11, 11, 11, 11, 11)

In [7]:
CUT = pd.DataFrame(list(zip(Uni, feeType, underGradNonRes, DiplomaNonRes, underGradResDouble, DiplomaResDouble,
                            underGradResSingle, DiplomaResSingle, ForeignNonRes, ForeignResDouble, ForeignResSingle)), 
                   columns = ['University', 'FeeType', 'underGraduateNonRes', 'DiplomaNonRes', 'underGraduateResDoubleRoom', 
                              'DiplomaResDoubleRoom', 'underGraduateResSingleRoom', 'DiplomaResSingleRoom', 
                              'ForeignNonResStudent', 'ForeignResDoubleRoom', 'ForeignResSingleRoom'
                             ])
CUT.loc[len(CUT)] = ['ChinhoyiUniversityOfTechnology', 'Book Levy - 1.1 Students', 10, 10, 10, 10, 10, 10, 10, 10, 10]
CUT

,University,FeeType,underGraduateNonRes,DiplomaNonRes,underGraduateResDoubleRoom,DiplomaResDoubleRoom,underGraduateResSingleRoom,DiplomaResSingleRoom,ForeignNonResStudent,ForeignResDoubleRoom,ForeignResSingleRoom
0,ChinhoyiUniversityOfTechnology,ACADEMIC FEES,400.00,310.00,400.00,310.00,400.00,310.00,2500.00,2500.00,2500.00
1,ChinhoyiUniversityOfTechnology,EXAMINATION FEES,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00
2,ChinhoyiUniversityOfTechnology,HEALTH FEES,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00
3,ChinhoyiUniversityOfTechnology,SPORT LEVY,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00
4,ChinhoyiUniversityOfTechnology,REGISTRATION FEES,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00
5,ChinhoyiUniversityOfTechnology,FUEL LEVY,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00
6,ChinhoyiUniversityOfTechnology,BUS LEVY,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00
7,ChinhoyiUniversityOfTechnology,SRC LEVY,2.00,2.00,2.00,2.00,2.00,2.00,2.00,2.00,2.00
8,ChinhoyiUniversityOfTechnology,LIFE SKILLS,2.00,2.00,2.00,2.00,2.00,2.00,2.00,2.00,2.00
9,ChinhoyiUniversityOfTechnology,RESIDENT FEES,NaN,NaN,140.00,140.00,150.00,150.00,NaN,140.00,150.00
10,ChinhoyiUniversityOfTechnology,TOTAL FEES,514.00,424.00,654.00,564.00,664.00,574.00,2614.00,2754.00,2764.00
11,ChinhoyiUniversityOfTechnology,Book Levy - 1.1 Students,10,10,10,10,10,10,10,10,10

In [8]:
Uni = []
feeType = []
Block = []
BScNursingEdu = []
MScStratMan = []
PostGradCorpGorv = []
MScPostHarvest = []

for i in ChinhoyiUniversityOfTechnology[4].index[3:11]:
    if i == 9:
        Uni.append(dfNames[0])
        feeType.append(ChinhoyiUniversityOfTechnology[5][0][10])
        Block.append(np.nan)
        BScNursingEdu.append(np.nan)
    elif i > 9:
        Uni.append(dfNames[0])
        feeType.append(ChinhoyiUniversityOfTechnology[4][0][i-1])
        Block.append(ChinhoyiUniversityOfTechnology[4][2][i-1])
        BScNursingEdu.append(ChinhoyiUniversityOfTechnology[4][4][i-1])
    else:
        Uni.append(dfNames[0])
        feeType.append(ChinhoyiUniversityOfTechnology[4][0][i])
        Block.append(ChinhoyiUniversityOfTechnology[4][2][i])
        BScNursingEdu.append(ChinhoyiUniversityOfTechnology[4][4][i])
for i in ChinhoyiUniversityOfTechnology[5].index[4:12]:
    MScStratMan.append(ChinhoyiUniversityOfTechnology[5][2][i])
    PostGradCorpGorv.append(ChinhoyiUniversityOfTechnology[5][4][i])
for i in ChinhoyiUniversityOfTechnology[5].index[14:22]:
    MScPostHarvest.append(ChinhoyiUniversityOfTechnology[5][2][i])
CUTOther = pd.DataFrame(list(zip(Uni, feeType, Block, BScNursingEdu, MScStratMan, PostGradCorpGorv, MScPostHarvest)), 
                   columns = ['University', 'FeeType', 'BlockRelease', 'BScNursingEducation', 'MScStrategicManagement', 
                              'PostGraduateCorporateGovernance', 'MScPostHarvest'
                             ])
CUTOther

,University,FeeType,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,ChinhoyiUniversityOfTechnology,ACADEMIC FEES,400.00,400.00,720.00,543.00,698.00
1,ChinhoyiUniversityOfTechnology,EQUIPMENT LEVY,40.00,40.00,40.00,34.00,40.00
2,ChinhoyiUniversityOfTechnology,REGISTRATION FEES,15.00,15.00,20.00,17.00,20.00
3,ChinhoyiUniversityOfTechnology,LIBRARY FEES,25.00,25.00,50.00,42.00,50.00
4,ChinhoyiUniversityOfTechnology,EXAMINATION FEES,50.00,50.00,100.00,67.00,100.00
5,ChinhoyiUniversityOfTechnology,FUEL LEVY,10.00,10.00,10.00,10.00,10.00
6,ChinhoyiUniversityOfTechnology,ICT LEVY,NaN,NaN,30.00,25.00,30.00
7,ChinhoyiUniversityOfTechnology,TOTAL FEES,540.00,540.00,970.00,738.00,948.00

In [9]:
CUT = pd.merge(CUT, CUTOther, how = 'outer', on = ['University', 'FeeType'])
CUT

,University,FeeType,underGraduateNonRes,DiplomaNonRes,underGraduateResDoubleRoom,DiplomaResDoubleRoom,underGraduateResSingleRoom,DiplomaResSingleRoom,ForeignNonResStudent,ForeignResDoubleRoom,ForeignResSingleRoom,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,ChinhoyiUniversityOfTechnology,ACADEMIC FEES,400.00,310.00,400.00,310.00,400.00,310.00,2500.00,2500.00,2500.00,400.00,400.00,720.00,543.00,698.00
1,ChinhoyiUniversityOfTechnology,EXAMINATION FEES,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,100.00,67.00,100.00
2,ChinhoyiUniversityOfTechnology,HEALTH FEES,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,NaN,NaN,NaN,NaN,NaN
3,ChinhoyiUniversityOfTechnology,SPORT LEVY,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,NaN,NaN,NaN,NaN,NaN
4,ChinhoyiUniversityOfTechnology,REGISTRATION FEES,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,15.00,15.00,20.00,17.00,20.00
5,ChinhoyiUniversityOfTechnology,FUEL LEVY,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00
6,ChinhoyiUniversityOfTechnology,BUS LEVY,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,NaN,NaN,NaN,NaN,NaN
7,ChinhoyiUniversityOfTechnology,SRC LEVY,2.00,2.00,2.00,2.00,2.00,2.00,2.00,2.00,2.00,NaN,NaN,NaN,NaN,NaN
8,ChinhoyiUniversityOfTechnology,LIFE SKILLS,2.00,2.00,2.00,2.00,2.00,2.00,2.00,2.00,2.00,NaN,NaN,NaN,NaN,NaN
9,ChinhoyiUniversityOfTechnology,RESIDENT FEES,NaN,NaN,140.00,140.00,150.00,150.00,NaN,140.00,150.00,NaN,NaN,NaN,NaN,NaN
10,ChinhoyiUniversityOfTechnology,TOTAL FEES,514.00,424.00,654.00,564.00,664.00,574.00,2614.00,2754.00,2764.00,540.00,540.00,970.00,738.00,948.00
11,ChinhoyiUniversityOfTechnology,Book Levy - 1.1 Students,10,10,10,10,10,10,10,10,10,NaN,NaN,NaN,NaN,NaN
12,ChinhoyiUniversityOfTechnology,EQUIPMENT LEVY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.00,40.00,40.00,34.00,40.00
13,ChinhoyiUniversityOfTechnology,LIBRARY FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.00,25.00,50.00,42.00,50.00
14,ChinhoyiUniversityOfTechnology,ICT LEVY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.00,25.00,30.00

## Bindura Univeristy

In [10]:
url = 'https://www.buse.ac.zw/fees-structure/' 
# UNDERGRADUATE FEES
BinduraUniversity[0]

                0       1
0   Tuitions Fees  US$300
1  Ancillary Fees  US$320
2           Total  US$620

In [11]:
BinduraUniversity1=pd.DataFrame(BinduraUniversity[1])
BinduraUniversity1

              0       1
0  Tuition Fees  US$350
1     Ancillary  US$350
2         Total  US$700

In [12]:
BinduraUniversity2=pd.DataFrame(BinduraUniversity[2])
BinduraUniversity2

              0       1
0  Tuition Fees  US$330
1     Ancillary  US$350
2         Total  US$680

In [13]:
BinduraUniversity3=pd.DataFrame(BinduraUniversity[3])
BinduraUniversity3

                0       1
0    Tuition Fees  US$200
1  Ancillary Fees  US$350
2           Total  US$550

In [14]:
BinduraUniversity4=pd.DataFrame(BinduraUniversity[4])
BinduraUniversity4

               0               1
0    Medical Aid           US$35
1            SRC            US$5
2  Funeral Cover  US$5(Optional)

In [15]:
BinduraUniversity5=pd.DataFrame(BinduraUniversity[5])
BinduraUniversity5

                0       1
0   Tuitions Fees  US$650
1  Ancillary Fees  US$260
2           Total  US$910

In [16]:
BinduraUniversity6=pd.DataFrame(BinduraUniversity[6])
BinduraUniversity6

              0        1
0  Tuition Fees   US$800
1     Ancillary   US$280
2         Total  US$1080

In [17]:
BinduraUniversity7=pd.DataFrame(BinduraUniversity[7])
BinduraUniversity7

              0        1
0  Tuition Fees   US$800
1     Ancillary   US$280
2         Total  US$1080

In [18]:
BinduraUniversity8=pd.DataFrame(BinduraUniversity[8])
BinduraUniversity8

                0           1         2
0             NaN  (Physical)  (Online)
1    Tuition Fees      US$500    US$400
2  Ancillary Fees      US$280    US$280
3           Total      US$780    US$680

In [19]:
BinduraUniversity9=pd.DataFrame(BinduraUniversity[9])
BinduraUniversity9

                0        1
0    Tuition Fees   US$100
1  Ancillary Fees   US$280
2           Total  US$1280

In [20]:
BinduraUniversity10=pd.DataFrame(BinduraUniversity[10])
BinduraUniversity10

                0        1
0    Tuition Fees  US$1300
1  Ancillary Fees   US$280
2           Total  US$1580

In [21]:
Uni = []
faculty = []
level = []
fees = []
fees1 = []
fees2 = []
parallel = [] 
fees3 = []
fees4 = []


for i in BinduraUniversity[0].index[1:]:
    Uni.append(BinduraUniversity)

len(Uni)

2

In [22]:
BUSE = pd.DataFrame(list(zip(Uni, faculty, level, fees, fees1, fees2, parallel, fees3, fees4)), 
                   columns = ['University', 'Faculty', 'Level', 'Tuition', 'Online', 'Block', 'Parallel', 'FeesType', 'FeesAmount',
                             ])
BUSE

Empty DataFrame
Columns: [University, Faculty, Level, Tuition, Online, Block, Parallel, FeesType, FeesAmount]
Index: []

In [23]:
BUSE['Online'] = ''
BUSE = BUSE.rename(columns = {'Tuition' : 'Conventional'})
BUSE

Empty DataFrame
Columns: [University, Faculty, Level, Conventional, Online, Block, Parallel, FeesType, FeesAmount]
Index: []

In [24]:
BUSE.loc[len(BUSE)] = ['BinduraUniversity', 'Humanities, Commercials', 'Undergraduate', BinduraUniversity[0][1][2], '', '', '', '', '']
BUSE.loc[len(BUSE)] = ['BinduraUniversity', 'Medicine', 'Undergraduate', BinduraUniversity[1][1][2], '', '', '', '', '']
BUSE.loc[len(BUSE)] = ['BinduraUniversity', 'Science&Engineering', 'Undergraduate', BinduraUniversity[2][1][2], '', '', '', '', '']
BUSE.loc[len(BUSE)] = ['BinduraUniversity', 'Humanities, Commercials, Science&Engineering', 'Certificate/Diploma', BinduraUniversity[3][1][2], '', '', '', '', '']
BUSE.loc[len(BUSE)] = ['BinduraUniversity', 'Humanities, Commercials, Science&Engineering', 'Undergraduate', '', '', '', '', 'Medical Aid', BinduraUniversity[4][1][0]]
BUSE.loc[len(BUSE)] = ['BinduraUniversity', 'Humanities, Commercials, Science&Engineering', 'Undergraduate', '', '', '', '','SRC', BinduraUniversity[4][1][1]]
BUSE.loc[len(BUSE)] = ['BinduraUniversity', 'Humanities, Commercials, Science&Engineering', 'Undergraduate', '', '', '', '','Funeral Cover', BinduraUniversity[4][1][2]]
BUSE.loc[len(BUSE)] = ['BinduraUniversity', 'Humanities, Commercials', 'Postgraduate', BinduraUniversity[5][1][2], '', '', '', '', '']
BUSE.loc[len(BUSE)] = ['BinduraUniversity', 'Science&Engineering', 'Postgraduate', BinduraUniversity[6][1][2], '', '', '', '', '']
BUSE.loc[len(BUSE)] = ['BinduraUniversity', 'Humanities, Commercials', 'Diploma-Postgraduate', BinduraUniversity[8][1][3], BinduraUniversity[8][2][3], '', '', '', '']
BUSE.loc[len(BUSE)] = ['BinduraUniversity', 'Humanities, Commercials', 'Postgraduate', BinduraUniversity[9][1][2], '', '', '', '', '']
BUSE.loc[len(BUSE)] = ['BinduraUniversity', 'Humanities, Commercials', 'Postgraduate', BinduraUniversity[10][1][2], '', '', '', '', '']
BUSE

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount
0,BinduraUniversity,"Humanities, Commercials",Undergraduate,US$620,,,,,
1,BinduraUniversity,Medicine,Undergraduate,US$700,,,,,
2,BinduraUniversity,Science&Engineering,Undergraduate,US$680,,,,,
3,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Certificate/Diploma,US$550,,,,,
4,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Medical Aid,US$35
5,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,SRC,US$5
6,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Funeral Cover,US$5(Optional)
7,BinduraUniversity,"Humanities, Commercials",Postgraduate,US$910,,,,,
8,BinduraUniversity,Science&Engineering,Postgraduate,US$1080,,,,,
9,BinduraUniversity,"Humanities, Commercials",Diploma-Postgraduate,US$780,US$680,,,,
10,BinduraUniversity,"Humanities, Commercials",Postgraduate,US$1280,,,,,
11,BinduraUniversity,"Humanities, Commercials",Postgraduate,US$1580,,,,,

In [25]:
BUSE['Campus'] = ''
BUSE['OtherCampus'] = ''
BUSE['StudentType'] = ''
BUSE['Accommodation'] = ''
BUSE['Amount'] = ''
BUSE['underGradNonRes']  = ''
BUSE['DiplomaNonRe'] = ''
BUSE['underGradResDouble']  = ''
BUSE['DiplomaResDouble']  = ''
BUSE['underGradResSingle '] = ''
BUSE['DiplomaResSingle']  = ''
BUSE['ForeignNonRes']  = ''
BUSE['ForeignResDouble']  = ''
BUSE['ForeignResSingle']  = ''
BUSE['BlockRelease']  = ''
BUSE['BScNursingEducation']  = ''
BUSE['MScStrategicManagement']  = ''
BUSE['PostGraduateCorporateGovernance']  = ''
BUSE['MScPostHarvest']  = ''
BUSE

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,BinduraUniversity,"Humanities, Commercials",Undergraduate,US$620,,,,,,,...,,,,,,,,,,
1,BinduraUniversity,Medicine,Undergraduate,US$700,,,,,,,...,,,,,,,,,,
2,BinduraUniversity,Science&Engineering,Undergraduate,US$680,,,,,,,...,,,,,,,,,,
3,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Certificate/Diploma,US$550,,,,,,,...,,,,,,,,,,
4,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Medical Aid,US$35,,...,,,,,,,,,,
5,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,SRC,US$5,,...,,,,,,,,,,
6,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Funeral Cover,US$5(Optional),,...,,,,,,,,,,
7,BinduraUniversity,"Humanities, Commercials",Postgraduate,US$910,,,,,,,...,,,,,,,,,,
8,BinduraUniversity,Science&Engineering,Postgraduate,US$1080,,,,,,,...,,,,,,,,,,
9,BinduraUniversity,"Humanities, Commercials",Diploma-Postgraduate,US$780,US$680,,,,,,...,,,,,,,,,,
10,BinduraUniversity,"Humanities, Commercials",Postgraduate,US$1280,,,,,,,...,,,,,,,,,,
11,BinduraUniversity,"Humanities, Commercials",Postgraduate,US$1580,,,,,,,...,,,,,,,,,,

# University of Zimbabwe

In [26]:
# UNDERGRADUATE FEES
UniversityOfZimbabwe[0]

,0,1,2
0,FACULTY/ Programme,FULL-TIME,PART TIME
1,Agriculture,$643.00,NaN
2,Agricultural Engineering,$603.00,NaN
3,Arts,$503.00,$853.00
4,College of Health Sciences,$773.00,NaN
5,COMMERCE,$503.00,$853.00
6,Education,$503.00,$ 853.00
7,Engineering,$638.00,NaN
8,Surveying,$638.00,NaN
9,Law,$523.00,$586.00
10,Science,$603.00,NaN
11,Social Studies,$503.00,$853.00
12,Rural & Urban Planning,$533.00,$853.00
13,Veterinary Science,$703.00(level 1); $ 648.00(level 2); $ 713.00...,NaN

In [27]:
Uni = []
faculty = []
level = []
fees = []
block = []
parallel = []
fees1 = []
fees2 = []
fees3 = []
campus = []
campus1 = []
student = []

for i in UniversityOfZimbabwe[0].index[1:]:
    Uni.append(UniversityOfZimbabwe)

len(Uni)

13

In [28]:
UZ = pd.DataFrame(list(zip(Uni, faculty, level, fees, block, parallel, fees1, fees2, fees3, campus, campus1, student )), 
                   columns = ['University', 'Faculty', 'Level', 'Conventional', 'Online', 'Block', 'Parallel', 'FeesType', 'FeesAmount', 'Campus', 'OtherCampus', 'StudentType',
                             ])
UZ

Empty DataFrame
Columns: [University, Faculty, Level, Conventional, Online, Block, Parallel, FeesType, FeesAmount, Campus, OtherCampus, StudentType]
Index: []

In [29]:
UZ.loc[len(UZ)] = ['UniversityOfZimbabwe', 'Agriculture', 'Undergraduate', UniversityOfZimbabwe[0][1][1], '', '', '', '', '', '', '', '']
UZ.loc[len(UZ)] = ['UniversityOfZimbabwe', 'Sciences & Engineering', 'Undergraduate', UniversityOfZimbabwe[0][1][2], '', '', '', '', '', '', '', '']
UZ.loc[len(UZ)] = ['UniversityOfZimbabwe', 'Humanities', 'Undergraduate', UniversityOfZimbabwe[0][1][3], '', UniversityOfZimbabwe[0][2][3], '','', '', '', '', '']
UZ.loc[len(UZ)] = ['UniversityOfZimbabwe', 'Sciences & Engineering', 'Undergraduate', UniversityOfZimbabwe[0][1][4], '', '', '','', '', '', '', '']
UZ.loc[len(UZ)] = ['UniversityOfZimbabwe', 'Commercials', 'Undergraduate', UniversityOfZimbabwe[0][1][5], '', UniversityOfZimbabwe[0][2][5], '', '','','', '', '']
UZ.loc[len(UZ)] = ['UniversityOfZimbabwe', 'Sciences & Engineering', 'Undergraduate', UniversityOfZimbabwe[0][1][7], '','', '', '', '', '', '', '']
UZ.loc[len(UZ)] = ['UniversityOfZimbabwe', 'Humanities', 'Undergraduate', UniversityOfZimbabwe[0][1][9], '',  UniversityOfZimbabwe[0][2][9], '','', '', '', '', '']
UZ.loc[len(UZ)] = ['UniversityOfZimbabwe', 'Humanities', 'Undergraduate', UniversityOfZimbabwe[0][1][12], '', UniversityOfZimbabwe[0][2][12], '', '', '', '', '', '']
UZ.loc[len(UZ)] = ['UniversityOfZimbabwe', 'Sciences & Engineering', 'Undergraduate', '$693.00', '', '', '', '', '', '', '', '']#.split()[-1].strip('()'), '']
UZ

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType
0,UniversityOfZimbabwe,Agriculture,Undergraduate,$643.00,,,,,,,,
1,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$603.00,,,,,,,,
2,UniversityOfZimbabwe,Humanities,Undergraduate,$503.00,,$853.00,,,,,,
3,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$773.00,,,,,,,,
4,UniversityOfZimbabwe,Commercials,Undergraduate,$503.00,,$853.00,,,,,,
5,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$638.00,,,,,,,,
6,UniversityOfZimbabwe,Humanities,Undergraduate,$523.00,,$586.00,,,,,,
7,UniversityOfZimbabwe,Humanities,Undergraduate,$533.00,,$853.00,,,,,,
8,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$693.00,,,,,,,,

In [30]:
UZ['Accommodation'] = ''
UZ['Amount'] = ''
UZ['underGradNonRes']  = ''
UZ['DiplomaNonRe'] = ''
UZ['underGradResDouble']  = ''
UZ['DiplomaResDouble']  = ''
UZ['underGradResSingle '] = ''
UZ['DiplomaResSingle']  = ''
UZ['ForeignNonRes']  = ''
UZ['ForeignResDouble']  = ''
UZ['ForeignResSingle']  = ''
UZ['BlockRelease']  = ''
UZ['BScNursingEducation']  = ''
UZ['MScStrategicManagement']  = ''
UZ['PostGraduateCorporateGovernance']  = ''
UZ['MScPostHarvest']  = ''
UZ

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,UniversityOfZimbabwe,Agriculture,Undergraduate,$643.00,,,,,,,...,,,,,,,,,,
1,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$603.00,,,,,,,...,,,,,,,,,,
2,UniversityOfZimbabwe,Humanities,Undergraduate,$503.00,,$853.00,,,,,...,,,,,,,,,,
3,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$773.00,,,,,,,...,,,,,,,,,,
4,UniversityOfZimbabwe,Commercials,Undergraduate,$503.00,,$853.00,,,,,...,,,,,,,,,,
5,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$638.00,,,,,,,...,,,,,,,,,,
6,UniversityOfZimbabwe,Humanities,Undergraduate,$523.00,,$586.00,,,,,...,,,,,,,,,,
7,UniversityOfZimbabwe,Humanities,Undergraduate,$533.00,,$853.00,,,,,...,,,,,,,,,,
8,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$693.00,,,,,,,...,,,,,,,,,,

In [31]:
dfList = [BUSE, UZ]
Colleges = pd.concat(dfList)
Colleges

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,BinduraUniversity,"Humanities, Commercials",Undergraduate,US$620,,,,,,,...,,,,,,,,,,
1,BinduraUniversity,Medicine,Undergraduate,US$700,,,,,,,...,,,,,,,,,,
2,BinduraUniversity,Science&Engineering,Undergraduate,US$680,,,,,,,...,,,,,,,,,,
3,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Certificate/Diploma,US$550,,,,,,,...,,,,,,,,,,
4,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Medical Aid,US$35,,...,,,,,,,,,,
5,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,SRC,US$5,,...,,,,,,,,,,
6,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Funeral Cover,US$5(Optional),,...,,,,,,,,,,
7,BinduraUniversity,"Humanities, Commercials",Postgraduate,US$910,,,,,,,...,,,,,,,,,,
8,BinduraUniversity,Science&Engineering,Postgraduate,US$1080,,,,,,,...,,,,,,,,,,
9,BinduraUniversity,"Humanities, Commercials",Diploma-Postgraduate,US$780,US$680,,,,,,...,,,,,,,,,,
10,BinduraUniversity,"Humanities, Commercials",Postgraduate,US$1280,,,,,,,...,,,,,,,,,,
11,BinduraUniversity,"Humanities, Commercials",Postgraduate,US$1580,,,,,,,...,,,,,,,,,,
0,UniversityOfZimbabwe,Agriculture,Undergraduate,$643.00,,,,,,,...,,,,,,,,,,
1,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$603.00,,,,,,,...,,,,,,,,,,
2,UniversityOfZimbabwe,Humanities,Undergraduate,$503.00,,$853.00,,,,,...,,,,,,,,,,
3,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$773.00,,,,,,,...,,,,,,,,,,
4,UniversityOfZimbabwe,Commercials,Undergraduate,$503.00,,$853.00,,,,,...,,,,,,,,,,
5,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$638.00,,,,,,,...,,,,,,,,,,
6,UniversityOfZimbabwe,Humanities,Undergraduate,$523.00,,$586.00,,,,,...,,,,,,,,,,
7,UniversityOfZimbabwe,Humanities,Undergraduate,$533.00,,$853.00,,,,,...,,,,,,,,,,
8,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$693.00,,,,,,,...,,,,,,,,,,

# Catholic University

In [32]:
# UNDERGRADUATE FEES
CatholicUniversityInZimbabwe[0]

,Program,Year/Duration,Harare,Bulawayo,Mutare,Chinhoyi,Gokwe
0,Commerce,"1, 2& 4",$1425.00,$975.00,$975.00,$975.00,$975.00
1,Commerce,3,$525.00,$525.00,$525.00,$525.00,$525.00
2,Humanities,"1, 2& 4",$1395.00,$975.00,$975.00,$975.00,$975.00
3,Humanities,3,$525.00,$525.00,$525.00,$525.00,$525.00
4,BA Block Release/ Theology Block,"1, 2 & 4",$405.00,$405.00,$405.00,$405.00,$405.00
5,Attachment Theology Block,3,$450.00,$450.00,$450.00,$450.00,$450.00
6,Short Courses,6 months,$540.00,$540.00,$540.00,$540.00,$540.00
7,Short Course Application Fee,Short Course Application Fee,$30.00,NaN,NaN,NaN,NaN
8,Conventional Programs Application Fee,Conventional Programs Application Fee,$75.00,NaN,NaN,NaN,NaN
9,"Masters, Mphil & Dphil Application Fee","Masters, Mphil & Dphil Application Fee",$75.00,NaN,NaN,NaN,NaN
10,Global MBA in Impact Entrepreneurship,Global MBA in Impact Entrepreneurship,$1500.00,NaN,NaN,NaN,NaN
11,DPhil & Mphil,DPhil & Mphil,$1500.00,NaN,NaN,NaN,NaN
12,Accommodation Fee (Byo),Accommodation Fee (Byo),Accommodation Fee (Byo),$375.00 (excluding food),NaN,NaN,NaN
13,Refundable deposit,Refundable deposit,Refundable deposit,$75.00,NaN,NaN,NaN

In [33]:
CatholicUniversityInZimbabwe[0].iloc[:,2]

0                    $1425.00
1                     $525.00
2                    $1395.00
3                     $525.00
4                     $405.00
5                     $450.00
6                     $540.00
7                      $30.00
8                      $75.00
9                      $75.00
10                   $1500.00
11                   $1500.00
12    Accommodation Fee (Byo)
13         Refundable deposit
Name: Harare, dtype: object

In [34]:
Uni = []
faculty = []
level = []
fees = []
online = []
fees = []
parallel = []
fees = []
fees1 = []
campus = []
campus = []
student = []

for i in CatholicUniversityInZimbabwe[0].index[1:]:
    Uni.append(dfNames[7])
    
len(Uni)

13

In [35]:
Catholic = pd.DataFrame(list(zip(Uni, faculty, level, fees, online, fees, parallel, fees,fees1, campus, campus, student)), 
                   columns = ['University', 'Faculty', 'Level', 'Conventional','Online', 'Block','Parallel', 'FeesType', 'FeesAmount', 'Campus', 'OtherCampus', 'StudentType',
                             ])
Catholic

Empty DataFrame
Columns: [University, Faculty, Level, Conventional, Online, Block, Parallel, FeesType, FeesAmount, Campus, OtherCampus, StudentType]
Index: []

In [36]:
Catholic.loc[len(Catholic)] = ['CatholicUniversityInZimbabwe', 'Commercials', '1,2&4', '', '', '', '', '', '', CatholicUniversityInZimbabwe[0]['Harare'][0], CatholicUniversityInZimbabwe[0]['Bulawayo'][0], '']
Catholic.loc[len(Catholic)] = ['CatholicUniversityInZimbabwe', 'Commercials', '3',  '', '', '', '', '', '', CatholicUniversityInZimbabwe[0]['Harare'][1], CatholicUniversityInZimbabwe[0]['Bulawayo'][1], '']
Catholic.loc[len(Catholic)] = ['CatholicUniversityInZimbabwe', 'Humanities', '1,2&4', '', '', '', '','', '', CatholicUniversityInZimbabwe[0]['Harare'][2], CatholicUniversityInZimbabwe[0]['Bulawayo'][2], '']
Catholic.loc[len(Catholic)] = ['CatholicUniversityInZimbabwe', 'Humanities', '3',  '', '', '', '','', '', CatholicUniversityInZimbabwe[0]['Harare'][3], CatholicUniversityInZimbabwe[0]['Bulawayo'][3], '']
Catholic.loc[len(Catholic)] = ['CatholicUniversityInZimbabwe', 'Humanities', '1,2&4', '', '', '','', '', '', CatholicUniversityInZimbabwe[0]['Harare'][4], CatholicUniversityInZimbabwe[0]['Bulawayo'][4], '']
Catholic.loc[len(Catholic)] = ['CatholicUniversityInZimbabwe', 'Humanities', '3', '', '', '','', '', '', CatholicUniversityInZimbabwe[0]['Harare'][5], CatholicUniversityInZimbabwe[0]['Bulawayo'][5], '']
Catholic.loc[len(Catholic)] = ['CatholicUniversityInZimbabwe', 'Humanities', '6 months', '', '', '','', 'Application', '$30.00', CatholicUniversityInZimbabwe[0]['Harare'][6], CatholicUniversityInZimbabwe[0]['Bulawayo'][6], '']
Catholic.loc[len(Catholic)] = ['CatholicUniversityInZimbabwe', 'Conventional Programs ', 'Undergraduate',  '', '', '','', 'Accomodation(byo)', '$375.00 ','', '', ''] 
Catholic.loc[len(Catholic)] = ['CatholicUniversityInZimbabwe', 'Conventional Programs ', 'Undergraduate',  '', '', '','', 'Application', '$75.00 ','', '', '']
Catholic.loc[len(Catholic)] = ['CatholicUniversityInZimbabwe', 'Conventional Programs ', 'Undergraduate',  '', '', '', '','Refundable deposit', '$75.00 ','', '', '']
Catholic.loc[len(Catholic)] = ['CatholicUniversityInZimbabwe', 'Masters, Mphil & Dphil ', 'Postgraduate', '', '', '','','Application', '$75.00', '', '', '']
Catholic.loc[len(Catholic)] = ['CatholicUniversityInZimbabwe', 'Global MBA in Impact Entrepreneurship', 'Postgraduate', '$1500.00', '','', '', '', '', '', '', '']
Catholic.loc[len(Catholic)] = ['CatholicUniversityInZimbabwe', 'DPhil & Mphil', 'Postgraduate', '$1500.00', '','', '', '', '', '', '', '']
Catholic

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType
0,CatholicUniversityInZimbabwe,Commercials,"1,2&4",,,,,,,$1425.00,$975.00,
1,CatholicUniversityInZimbabwe,Commercials,3,,,,,,,$525.00,$525.00,
2,CatholicUniversityInZimbabwe,Humanities,"1,2&4",,,,,,,$1395.00,$975.00,
3,CatholicUniversityInZimbabwe,Humanities,3,,,,,,,$525.00,$525.00,
4,CatholicUniversityInZimbabwe,Humanities,"1,2&4",,,,,,,$405.00,$405.00,
5,CatholicUniversityInZimbabwe,Humanities,3,,,,,,,$450.00,$450.00,
6,CatholicUniversityInZimbabwe,Humanities,6 months,,,,,Application,$30.00,$540.00,$540.00,
7,CatholicUniversityInZimbabwe,Conventional Programs,Undergraduate,,,,,Accomodation(byo),$375.00,,,
8,CatholicUniversityInZimbabwe,Conventional Programs,Undergraduate,,,,,Application,$75.00,,,
9,CatholicUniversityInZimbabwe,Conventional Programs,Undergraduate,,,,,Refundable deposit,$75.00,,,
10,CatholicUniversityInZimbabwe,"Masters, Mphil & Dphil",Postgraduate,,,,,Application,$75.00,,,
11,CatholicUniversityInZimbabwe,Global MBA in Impact Entrepreneurship,Postgraduate,$1500.00,,,,,,,,
12,CatholicUniversityInZimbabwe,DPhil & Mphil,Postgraduate,$1500.00,,,,,,,,

In [37]:
Catholic['Accommodation'] = ''
Catholic['Amount'] = ''
Catholic['underGradNonRes']  = ''
Catholic['DiplomaNonRe'] = ''
Catholic['underGradResDouble']  = ''
Catholic['DiplomaResDouble']  = ''
Catholic['underGradResSingle '] = ''
Catholic['DiplomaResSingle']  = ''
Catholic['ForeignNonRes']  = ''
Catholic['ForeignResDouble']  = ''
Catholic['ForeignResSingle']  = ''
Catholic['BlockRelease']  = ''
Catholic['BScNursingEducation']  = ''
Catholic['MScStrategicManagement']  = ''
Catholic['PostGraduateCorporateGovernance']  = ''
Catholic['MScPostHarvest']  = ''
Catholic

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,CatholicUniversityInZimbabwe,Commercials,"1,2&4",,,,,,,$1425.00,...,,,,,,,,,,
1,CatholicUniversityInZimbabwe,Commercials,3,,,,,,,$525.00,...,,,,,,,,,,
2,CatholicUniversityInZimbabwe,Humanities,"1,2&4",,,,,,,$1395.00,...,,,,,,,,,,
3,CatholicUniversityInZimbabwe,Humanities,3,,,,,,,$525.00,...,,,,,,,,,,
4,CatholicUniversityInZimbabwe,Humanities,"1,2&4",,,,,,,$405.00,...,,,,,,,,,,
5,CatholicUniversityInZimbabwe,Humanities,3,,,,,,,$450.00,...,,,,,,,,,,
6,CatholicUniversityInZimbabwe,Humanities,6 months,,,,,Application,$30.00,$540.00,...,,,,,,,,,,
7,CatholicUniversityInZimbabwe,Conventional Programs,Undergraduate,,,,,Accomodation(byo),$375.00,,...,,,,,,,,,,
8,CatholicUniversityInZimbabwe,Conventional Programs,Undergraduate,,,,,Application,$75.00,,...,,,,,,,,,,
9,CatholicUniversityInZimbabwe,Conventional Programs,Undergraduate,,,,,Refundable deposit,$75.00,,...,,,,,,,,,,
10,CatholicUniversityInZimbabwe,"Masters, Mphil & Dphil",Postgraduate,,,,,Application,$75.00,,...,,,,,,,,,,
11,CatholicUniversityInZimbabwe,Global MBA in Impact Entrepreneurship,Postgraduate,$1500.00,,,,,,,...,,,,,,,,,,
12,CatholicUniversityInZimbabwe,DPhil & Mphil,Postgraduate,$1500.00,,,,,,,...,,,,,,,,,,

In [38]:
dfList = [BUSE, UZ, Catholic]
Colleges = pd.concat(dfList)
Colleges

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,BinduraUniversity,"Humanities, Commercials",Undergraduate,US$620,,,,,,,...,,,,,,,,,,
1,BinduraUniversity,Medicine,Undergraduate,US$700,,,,,,,...,,,,,,,,,,
2,BinduraUniversity,Science&Engineering,Undergraduate,US$680,,,,,,,...,,,,,,,,,,
3,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Certificate/Diploma,US$550,,,,,,,...,,,,,,,,,,
4,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Medical Aid,US$35,,...,,,,,,,,,,
5,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,SRC,US$5,,...,,,,,,,,,,
6,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Funeral Cover,US$5(Optional),,...,,,,,,,,,,
7,BinduraUniversity,"Humanities, Commercials",Postgraduate,US$910,,,,,,,...,,,,,,,,,,
8,BinduraUniversity,Science&Engineering,Postgraduate,US$1080,,,,,,,...,,,,,,,,,,
9,BinduraUniversity,"Humanities, Commercials",Diploma-Postgraduate,US$780,US$680,,,,,,...,,,,,,,,,,
10,BinduraUniversity,"Humanities, Commercials",Postgraduate,US$1280,,,,,,,...,,,,,,,,,,
11,BinduraUniversity,"Humanities, Commercials",Postgraduate,US$1580,,,,,,,...,,,,,,,,,,
0,UniversityOfZimbabwe,Agriculture,Undergraduate,$643.00,,,,,,,...,,,,,,,,,,
1,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$603.00,,,,,,,...,,,,,,,,,,
2,UniversityOfZimbabwe,Humanities,Undergraduate,$503.00,,$853.00,,,,,...,,,,,,,,,,
3,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$773.00,,,,,,,...,,,,,,,,,,
4,UniversityOfZimbabwe,Commercials,Undergraduate,$503.00,,$853.00,,,,,...,,,,,,,,,,
5,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$638.00,,,,,,,...,,,,,,,,,,
6,UniversityOfZimbabwe,Humanities,Undergraduate,$523.00,,$586.00,,,,,...,,,,,,,,,,
7,UniversityOfZimbabwe,Humanities,Undergraduate,$533.00,,$853.00,,,,,...,,,,,,,,,,
8,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$693.00,,,,,,,...,,,,,,,,,,
0,CatholicUniversityInZimbabwe,Commercials,"1,2&4",,,,,,,$1425.00,...,,,,,,,,,,
1,CatholicUniversityInZimbabwe,Commercials,3,,,,,,,$525.00,...,,,,,,,,,,
2,CatholicUniversityInZimbabwe,Humanities,"1,2&4",,,,,,,$1395.00,...,,,,,,,,,,
3,CatholicUniversityInZimbabwe,Humanities,3,,,,,,,$525.00,...,,,,,,,,,,
4,CatholicUniversityInZimbabwe,Humanities,"1,2&4",,,,,,,$405.00,...,,,,,,,,,,
5,CatholicUniversityInZimbabwe,Humanities,3,,,,,,,$450.00,...,,,,,,,,,,
6,CatholicUniversityInZimbabwe,Humanities,6 months,,,,,Application,$30.00,$540.00,...,,,,,,,,,,
7,CatholicUniversityInZimbabwe,Conventional Programs,Undergraduate,,,,,Accomodation(byo),$375.00,,...,,,,,,,,,,
8,CatholicUniversityInZimbabwe,Conventional Programs,Undergraduate,,,,,Application,$75.00,,...,,,,,,,,,,
9,CatholicUniversityInZimbabwe,Conventional Programs,Undergraduate,,,,,Refundable deposit,$75.00,,...,,,,,,,,,,
10,CatholicUniversityInZimbabwe,"Masters, Mphil & Dphil",Postgraduate,,,,,Application,$75.00,,...,,,,,,,,,,
11,CatholicUniversityInZimbabwe,Global MBA in Impact Entrepreneurship,Postgraduate,$1500.00,,,,,,,...,,,,,,,,,,
12,CatholicUniversityInZimbabwe,DPhil & Mphil,Postgraduate,$1500.00,,,,,,,...,,,,,,,,,,

# Gwanda state university

In [39]:
GwandaStateUniversity=pd.read_html('https://www.gsu.ac.zw/?page_id=403')
# convert list to dataframe
GwandaStateUniversity0=pd.DataFrame(GwandaStateUniversity[0])
GwandaStateUniversity0

      0                                                  1              2
0   1.0                         Undergraduate Tuition Fees            NaN
1   NaN                                                NaN            NaN
2   NaN  Conventional Programmes (Per Semester) Academi...            NaN
3   NaN         Faculty of Engineering and the Environment  ZWL411,650.00
4   NaN  Faculty of Natural Resources Management and Ag...  ZWL411,650.00
5   NaN          Faculty of Exploration and Earth Sciences  ZWL411,650.00
6   NaN                  Faculty of Computational Sciences  ZWL411,650.00
7   NaN        Faculty of Business Sciences and Management  ZWL343,650.00
8   NaN                                                NaN            NaN
9   NaN  Additional fees for Geomatics and Surveying St...   ZWL25,000.00
10  NaN                                                NaN            NaN
11  NaN  Conventional Programmes: Students on Attachmen...            NaN
12  NaN         Faculty of Engineering and the Environment  ZWL236,700.00
13  NaN  Faculty of Natural Resources Management and Ag...  ZWL236,700.00
14  NaN          Faculty of Exploration and Earth Sciences  ZWL236,700.00
15  NaN                  Faculty of Computational Sciences  ZWL236,700.00
16  NaN        Faculty of Business Sciences and Management  ZWL225,900.00
17  NaN                                                NaN            NaN
18  NaN                    Fees for International Students            NaN
19  NaN                    Engineering and the Environment       USD1,500
20  NaN       Natural Resources Management and Agriculture       USD1,500
21  NaN          Faculty of Exploration and Earth Sciences       USD1,500
22  NaN                  Faculty of Computational Sciences       USD1,500
23  NaN                   Business Sciences and Management       USD1,500

In [40]:
Uni = []
faculty = []
level = []
fees = []
online = []
fees = []
block = []
fees = []
fees1 = []
campus = []
campus = []
student = []

for i in GwandaStateUniversity[0].index[1:]:
    Uni.append(dfNames[7])
    
len(Uni)

23

In [41]:
GSU = pd.DataFrame(list(zip(Uni, faculty, level, fees, online, fees, block, fees,fees1, campus, campus, student)), 
                   columns = ['University', 'Faculty', 'Level', 'Conventional','Online', 'Block', 'Parallel', 'FeesType', 'FeesAmount', 'Campus', 'OtherCampus', 'StudentType',
                             ])
GSU

Empty DataFrame
Columns: [University, Faculty, Level, Conventional, Online, Block, Parallel, FeesType, FeesAmount, Campus, OtherCampus, StudentType]
Index: []

In [42]:
GSU.loc[len(GSU)] = ['GwandaStateUniversity', 'Science&Engineering', 'Undergraduate', GwandaStateUniversity[0][2][3], '', '', '', 'Additional', 'ZWL25,000.00', '', '', '']
GSU.loc[len(GSU)] = ['GwandaStateUniversity', 'Commercials', 'Undergraduate', GwandaStateUniversity[0][2][7], '', '', '', '', '', '', '', '']
GSU.loc[len(GSU)] = ['GwandaStateUniversity', 'Science&Engineering', 'Undergraduate', GwandaStateUniversity[0][2][12], '', '', '', '','', '', '', '']
GSU.loc[len(GSU)] = ['GwandaStateUniversity', 'Commercials', 'Undergraduate', GwandaStateUniversity[0][2][16], '', '','', '', '', '', '', '']
GSU.loc[len(GSU)] = ['GwandaStateUniversity', 'Science&Engineering', 'Undergraduate', GwandaStateUniversity[0][2][19], '','', '', '', '', '', '', 'International']
GSU.loc[len(GSU)] = ['GwandaStateUniversity', 'Commercials', 'Undergraduate', GwandaStateUniversity[0][2][23], '', '', '', '', '','', '', 'International']
GSU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType
0,GwandaStateUniversity,Science&Engineering,Undergraduate,"ZWL411,650.00",,,,Additional,"ZWL25,000.00",,,
1,GwandaStateUniversity,Commercials,Undergraduate,"ZWL343,650.00",,,,,,,,
2,GwandaStateUniversity,Science&Engineering,Undergraduate,"ZWL236,700.00",,,,,,,,
3,GwandaStateUniversity,Commercials,Undergraduate,"ZWL225,900.00",,,,,,,,
4,GwandaStateUniversity,Science&Engineering,Undergraduate,"USD1,500",,,,,,,,International
5,GwandaStateUniversity,Commercials,Undergraduate,"USD1,500",,,,,,,,International

In [43]:
GSU['Accommodation'] = ''
GSU['Amount'] = ''
GSU['underGradNonRes']  = ''
GSU['DiplomaNonRe'] = ''
GSU['underGradResDouble']  = ''
GSU['DiplomaResDouble']  = ''
GSU['underGradResSingle '] = ''
GSU['DiplomaResSingle']  = ''
GSU['ForeignNonRes']  = ''
GSU['ForeignResDouble']  = ''
GSU['ForeignResSingle']  = ''
GSU['BlockRelease']  = ''
GSU['BScNursingEducation']  = ''
GSU['MScStrategicManagement']  = ''
GSU['PostGraduateCorporateGovernance']  = ''
GSU['MScPostHarvest']  = ''
GSU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,GwandaStateUniversity,Science&Engineering,Undergraduate,"ZWL411,650.00",,,,Additional,"ZWL25,000.00",,...,,,,,,,,,,
1,GwandaStateUniversity,Commercials,Undergraduate,"ZWL343,650.00",,,,,,,...,,,,,,,,,,
2,GwandaStateUniversity,Science&Engineering,Undergraduate,"ZWL236,700.00",,,,,,,...,,,,,,,,,,
3,GwandaStateUniversity,Commercials,Undergraduate,"ZWL225,900.00",,,,,,,...,,,,,,,,,,
4,GwandaStateUniversity,Science&Engineering,Undergraduate,"USD1,500",,,,,,,...,,,,,,,,,,
5,GwandaStateUniversity,Commercials,Undergraduate,"USD1,500",,,,,,,...,,,,,,,,,,

In [44]:
dfList = [BUSE, UZ, Catholic, GSU]
Colleges = pd.concat(dfList)
Colleges

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,BinduraUniversity,"Humanities, Commercials",Undergraduate,US$620,,,,,,,...,,,,,,,,,,
1,BinduraUniversity,Medicine,Undergraduate,US$700,,,,,,,...,,,,,,,,,,
2,BinduraUniversity,Science&Engineering,Undergraduate,US$680,,,,,,,...,,,,,,,,,,
3,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Certificate/Diploma,US$550,,,,,,,...,,,,,,,,,,
4,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Medical Aid,US$35,,...,,,,,,,,,,
5,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,SRC,US$5,,...,,,,,,,,,,
6,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Funeral Cover,US$5(Optional),,...,,,,,,,,,,
7,BinduraUniversity,"Humanities, Commercials",Postgraduate,US$910,,,,,,,...,,,,,,,,,,
8,BinduraUniversity,Science&Engineering,Postgraduate,US$1080,,,,,,,...,,,,,,,,,,
9,BinduraUniversity,"Humanities, Commercials",Diploma-Postgraduate,US$780,US$680,,,,,,...,,,,,,,,,,
10,BinduraUniversity,"Humanities, Commercials",Postgraduate,US$1280,,,,,,,...,,,,,,,,,,
11,BinduraUniversity,"Humanities, Commercials",Postgraduate,US$1580,,,,,,,...,,,,,,,,,,
0,UniversityOfZimbabwe,Agriculture,Undergraduate,$643.00,,,,,,,...,,,,,,,,,,
1,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$603.00,,,,,,,...,,,,,,,,,,
2,UniversityOfZimbabwe,Humanities,Undergraduate,$503.00,,$853.00,,,,,...,,,,,,,,,,
3,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$773.00,,,,,,,...,,,,,,,,,,
4,UniversityOfZimbabwe,Commercials,Undergraduate,$503.00,,$853.00,,,,,...,,,,,,,,,,
5,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$638.00,,,,,,,...,,,,,,,,,,
6,UniversityOfZimbabwe,Humanities,Undergraduate,$523.00,,$586.00,,,,,...,,,,,,,,,,
7,UniversityOfZimbabwe,Humanities,Undergraduate,$533.00,,$853.00,,,,,...,,,,,,,,,,
8,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$693.00,,,,,,,...,,,,,,,,,,
0,CatholicUniversityInZimbabwe,Commercials,"1,2&4",,,,,,,$1425.00,...,,,,,,,,,,
1,CatholicUniversityInZimbabwe,Commercials,3,,,,,,,$525.00,...,,,,,,,,,,
2,CatholicUniversityInZimbabwe,Humanities,"1,2&4",,,,,,,$1395.00,...,,,,,,,,,,
3,CatholicUniversityInZimbabwe,Humanities,3,,,,,,,$525.00,...,,,,,,,,,,
4,CatholicUniversityInZimbabwe,Humanities,"1,2&4",,,,,,,$405.00,...,,,,,,,,,,
5,CatholicUniversityInZimbabwe,Humanities,3,,,,,,,$450.00,...,,,,,,,,,,
6,CatholicUniversityInZimbabwe,Humanities,6 months,,,,,Application,$30.00,$540.00,...,,,,,,,,,,
7,CatholicUniversityInZimbabwe,Conventional Programs,Undergraduate,,,,,Accomodation(byo),$375.00,,...,,,,,,,,,,
8,CatholicUniversityInZimbabwe,Conventional Programs,Undergraduate,,,,,Application,$75.00,,...,,,,,,,,,,
9,CatholicUniversityInZimbabwe,Conventional Programs,Undergraduate,,,,,Refundable deposit,$75.00,,...,,,,,,,,,,
10,CatholicUniversityInZimbabwe,"Masters, Mphil & Dphil",Postgraduate,,,,,Application,$75.00,,...,,,,,,,,,,
11,CatholicUniversityInZimbabwe,Global MBA in Impact Entrepreneurship,Postgraduate,$1500.00,,,,,,,...,,,,,,,,,,
12,CatholicUniversityInZimbabwe,DPhil & Mphil,Postgraduate,$1500.00,,,,,,,...,,,,,,,,,,
0,GwandaStateUniversity,Science&Engineering,Undergraduate,"ZWL411,650.00",,,,Additional,"ZWL25,000.00",,...,,,,,,,,,,
1,GwandaStateUniversity,Commercials,Undergraduate,"ZWL343,650.00",,,,,,,...,,,,,,,,,,
2,GwandaStateUniversity,Science&Engineering,Undergraduate,"ZWL236,700.00",,,,,,,...,,,,,,,,,,
3,GwandaStateUniversity,Commercials,Undergraduate,"ZWL225,900.00",,,,,,,...,,,,,,,,,,
4,GwandaStateUniversity,Science&Engineering,Undergraduate,"USD1,500",,,,,,,...,,,,,,,,,,
5,GwandaStateUniversity,Commercials,Undergraduate,"USD1,500",,,,,,,...,,,,,,,,,,

# Manicaland state university

In [45]:
ManicalandStateUniversity=pd.read_html('https://msuas.ac.zw/fees-structure-august-to-december-2023/')
# convert list to dataframe
ManicalandStateUniversity0=pd.DataFrame(ManicalandStateUniversity[0])
ManicalandStateUniversity0

,Faculty/ Programme,Level/Fees,Level/fees,Level/fees.1
0,NaN,USD,USD,USD
1,FACULTY OF ENGINEERING,LEVEL 1.1,RETURNING STUDENTS,WORK RELATED LEARNING
2,BEng Mining and Mineral Processing Honours Degree,691.00,666.00,486.00
3,BEng Chemical and Processing Honours Degree,691.00,666.00,486.00
4,BEng Metallurgy Honours Degree,691.00,666.00,486.00
5,NaN,NaN,NaN,NaN
6,FACULTY OF APPLIED SCIENCES AND TECHNOLOGY,LEVEL 1.1,RETURNING STUDENTS,WORK RELATED LEARNING
7,BSc Information Systems Honours Degree,679.00,654.00,474.00
8,BSc Psychology Honours Degree,679.00,654.00,474.00
9,BSc Computer Science Honours Degree,679.00,654.00,474.00
10,NaN,NaN,NaN,NaN
11,FACULTY OF AGRIBUSINESS MANAGEMENT 1,LEVEL 1.1,RETURNING STUDENTS,WORK RELATED LEARNING
12,BCom Accounting Honours Degree,629.00,604.00,444.00
13,BCom Business Management Honours Degree,629.00,604.00,444.00
14,NaN,NaN,NaN,NaN
15,FACULTY OF AGRIBUSINESS MANAGEMENT 2,LEVEL 1.1,RETURNING STUDENTS,WORK RELATED LEARNING
16,BCom Tourism and Hospitality Management Honour...,641.00,616.00,456.00
17,BSc Agricultural Economics and Development Hon...,641.00,616.00,456.00
18,BSc Forest Resource Management Honours Degree,641.00,616.00,456.00
19,FACULTY OF APPLIED SOCIAL SCIENCES,LEVEL 1.1,RETURNING STUDENTS,WORK RELATED LEARNING
20,BSc Psychology Honours Degree,641.00,616.00,456.00
21,BSc Human Resources Management Honours Degree,641.00,616.00,456.00
22,NaN,NaN,NaN,NaN
23,NOTE WELL:,NaN,NaN,NaN
24,FEES ARE PAYABLE WITH AN OPTION OF 50% IN RTGS...,NaN,NaN,NaN
25,"RATE ON THE DAY OF PAYMENT, PLUS 10%.",NaN,NaN,NaN
26,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN

In [46]:
Uni = []
faculty = []
level = []
fees = []
online = []
fees = []
parallel = []
fees = []
fees1 = []
campus = []
campus = []
student = []

for i in ManicalandStateUniversity[0].index[1:]:
    Uni.append(dfNames[7])
    
len(Uni)

27

In [47]:
MASU = pd.DataFrame(list(zip(Uni, faculty, level, fees, online, fees, parallel, fees,fees1, campus, campus, student)), 
                   columns = ['University', 'Faculty', 'Level', 'Conventional','Online', 'Block','Parallel', 'FeesType', 'FeesAmount', 'Campus', 'OtherCampus', 'StudentType',
                             ])
MASU

Empty DataFrame
Columns: [University, Faculty, Level, Conventional, Online, Block, Parallel, FeesType, FeesAmount, Campus, OtherCampus, StudentType]
Index: []

In [48]:
MASU.loc[len(MASU)] = ['ManicalandStateUniversity', 'Science&Engineering', '1.1', ManicalandStateUniversity[0]['Level/Fees'][2], '', '', '', '', '', '', '', '']
MASU.loc[len(MASU)] = ['ManicalandStateUniversity', 'Science&Engineering', '2&4', ManicalandStateUniversity[0]['Level/fees'][2], '', '', '', '', '', '', '', '']
MASU.loc[len(MASU)] = ['ManicalandStateUniversity', 'Science&Engineering', '3', ManicalandStateUniversity[0]['Level/fees.1'][2], '', '', '', '', '', '', '', '']
MASU.loc[len(MASU)] = ['ManicalandStateUniversity', 'Science&Engineering', '1.1', ManicalandStateUniversity[0]['Level/Fees'][7], '', '', '', '', '', '', '', '']
MASU.loc[len(MASU)] = ['ManicalandStateUniversity', 'Science&Engineering', '2&4', ManicalandStateUniversity[0]['Level/fees'][7], '', '', '', '', '', '', '', '']
MASU.loc[len(MASU)] = ['ManicalandStateUniversity', 'Science&Engineering', '3', ManicalandStateUniversity[0]['Level/fees.1'][7], '', '', '', '', '', '', '', '']
MASU.loc[len(MASU)] = ['ManicalandStateUniversity', 'Science&Engineering', '1.1', ManicalandStateUniversity[0]['Level/Fees'][12], '', '', '', '', '', '', '', '']
MASU.loc[len(MASU)] = ['ManicalandStateUniversity', 'Science&Engineering', '2&4', ManicalandStateUniversity[0]['Level/fees'][12], '', '', '', '', '', '', '', '']
MASU.loc[len(MASU)] = ['ManicalandStateUniversity', 'Science&Engineering', '3', ManicalandStateUniversity[0]['Level/fees.1'][12], '', '', '', '', '', '', '', '']
MASU.loc[len(MASU)] = ['ManicalandStateUniversity', 'Science&Engineering', '1.1', ManicalandStateUniversity[0]['Level/Fees'][16], '', '', '', '', '', '', '', '']
MASU.loc[len(MASU)] = ['ManicalandStateUniversity', 'Science&Engineering', '2&4', ManicalandStateUniversity[0]['Level/fees'][16], '', '', '', '', '', '', '', '']
MASU.loc[len(MASU)] = ['ManicalandStateUniversity', 'Science&Engineering', '3', ManicalandStateUniversity[0]['Level/fees.1'][16], '', '', '', '', '', '', '', '']
MASU.loc[len(MASU)] = ['ManicalandStateUniversity', 'Science&Engineering', '1.1', ManicalandStateUniversity[0]['Level/Fees'][20], '', '', '', '', '', '', '', '']
MASU.loc[len(MASU)] = ['ManicalandStateUniversity', 'Science&Engineering', '2&4', ManicalandStateUniversity[0]['Level/fees'][20], '', '', '', '', '', '', '', '']
MASU.loc[len(MASU)] = ['ManicalandStateUniversity', 'Science&Engineering', '3', ManicalandStateUniversity[0]['Level/fees.1'][20], '', '', '', '', '', '', '', '']
MASU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType
0,ManicalandStateUniversity,Science&Engineering,1.1,691.00,,,,,,,,
1,ManicalandStateUniversity,Science&Engineering,2&4,666.00,,,,,,,,
2,ManicalandStateUniversity,Science&Engineering,3,486.00,,,,,,,,
3,ManicalandStateUniversity,Science&Engineering,1.1,679.00,,,,,,,,
4,ManicalandStateUniversity,Science&Engineering,2&4,654.00,,,,,,,,
5,ManicalandStateUniversity,Science&Engineering,3,474.00,,,,,,,,
6,ManicalandStateUniversity,Science&Engineering,1.1,629.00,,,,,,,,
7,ManicalandStateUniversity,Science&Engineering,2&4,604.00,,,,,,,,
8,ManicalandStateUniversity,Science&Engineering,3,444.00,,,,,,,,
9,ManicalandStateUniversity,Science&Engineering,1.1,641.00,,,,,,,,
10,ManicalandStateUniversity,Science&Engineering,2&4,616.00,,,,,,,,
11,ManicalandStateUniversity,Science&Engineering,3,456.00,,,,,,,,
12,ManicalandStateUniversity,Science&Engineering,1.1,641.00,,,,,,,,
13,ManicalandStateUniversity,Science&Engineering,2&4,616.00,,,,,,,,
14,ManicalandStateUniversity,Science&Engineering,3,456.00,,,,,,,,

In [49]:
MASU['Accommodation'] = ''
MASU['Amount'] = ''
MASU['underGradNonRes']  = ''
MASU['DiplomaNonRe'] = ''
MASU['underGradResDouble']  = ''
MASU['DiplomaResDouble']  = ''
MASU['underGradResSingle '] = ''
MASU['DiplomaResSingle']  = ''
MASU['ForeignNonRes']  = ''
MASU['ForeignResDouble']  = ''
MASU['ForeignResSingle']  = ''
MASU['BlockRelease']  = ''
MASU['BScNursingEducation']  = ''
MASU['MScStrategicManagement']  = ''
MASU['PostGraduateCorporateGovernance']  = ''
MASU['MScPostHarvest']  = ''
MASU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,ManicalandStateUniversity,Science&Engineering,1.1,691.00,,,,,,,...,,,,,,,,,,
1,ManicalandStateUniversity,Science&Engineering,2&4,666.00,,,,,,,...,,,,,,,,,,
2,ManicalandStateUniversity,Science&Engineering,3,486.00,,,,,,,...,,,,,,,,,,
3,ManicalandStateUniversity,Science&Engineering,1.1,679.00,,,,,,,...,,,,,,,,,,
4,ManicalandStateUniversity,Science&Engineering,2&4,654.00,,,,,,,...,,,,,,,,,,
5,ManicalandStateUniversity,Science&Engineering,3,474.00,,,,,,,...,,,,,,,,,,
6,ManicalandStateUniversity,Science&Engineering,1.1,629.00,,,,,,,...,,,,,,,,,,
7,ManicalandStateUniversity,Science&Engineering,2&4,604.00,,,,,,,...,,,,,,,,,,
8,ManicalandStateUniversity,Science&Engineering,3,444.00,,,,,,,...,,,,,,,,,,
9,ManicalandStateUniversity,Science&Engineering,1.1,641.00,,,,,,,...,,,,,,,,,,
10,ManicalandStateUniversity,Science&Engineering,2&4,616.00,,,,,,,...,,,,,,,,,,
11,ManicalandStateUniversity,Science&Engineering,3,456.00,,,,,,,...,,,,,,,,,,
12,ManicalandStateUniversity,Science&Engineering,1.1,641.00,,,,,,,...,,,,,,,,,,
13,ManicalandStateUniversity,Science&Engineering,2&4,616.00,,,,,,,...,,,,,,,,,,
14,ManicalandStateUniversity,Science&Engineering,3,456.00,,,,,,,...,,,,,,,,,,

In [50]:
dfList = [BUSE, UZ, Catholic, GSU, MASU]
Colleges = pd.concat(dfList)
Colleges

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,BinduraUniversity,"Humanities, Commercials",Undergraduate,US$620,,,,,,,...,,,,,,,,,,
1,BinduraUniversity,Medicine,Undergraduate,US$700,,,,,,,...,,,,,,,,,,
2,BinduraUniversity,Science&Engineering,Undergraduate,US$680,,,,,,,...,,,,,,,,,,
3,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Certificate/Diploma,US$550,,,,,,,...,,,,,,,,,,
4,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Medical Aid,US$35,,...,,,,,,,,,,
5,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,SRC,US$5,,...,,,,,,,,,,
6,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Funeral Cover,US$5(Optional),,...,,,,,,,,,,
7,BinduraUniversity,"Humanities, Commercials",Postgraduate,US$910,,,,,,,...,,,,,,,,,,
8,BinduraUniversity,Science&Engineering,Postgraduate,US$1080,,,,,,,...,,,,,,,,,,
9,BinduraUniversity,"Humanities, Commercials",Diploma-Postgraduate,US$780,US$680,,,,,,...,,,,,,,,,,
10,BinduraUniversity,"Humanities, Commercials",Postgraduate,US$1280,,,,,,,...,,,,,,,,,,
11,BinduraUniversity,"Humanities, Commercials",Postgraduate,US$1580,,,,,,,...,,,,,,,,,,
0,UniversityOfZimbabwe,Agriculture,Undergraduate,$643.00,,,,,,,...,,,,,,,,,,
1,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$603.00,,,,,,,...,,,,,,,,,,
2,UniversityOfZimbabwe,Humanities,Undergraduate,$503.00,,$853.00,,,,,...,,,,,,,,,,
3,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$773.00,,,,,,,...,,,,,,,,,,
4,UniversityOfZimbabwe,Commercials,Undergraduate,$503.00,,$853.00,,,,,...,,,,,,,,,,
5,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$638.00,,,,,,,...,,,,,,,,,,
6,UniversityOfZimbabwe,Humanities,Undergraduate,$523.00,,$586.00,,,,,...,,,,,,,,,,
7,UniversityOfZimbabwe,Humanities,Undergraduate,$533.00,,$853.00,,,,,...,,,,,,,,,,
8,UniversityOfZimbabwe,Sciences & Engineering,Undergraduate,$693.00,,,,,,,...,,,,,,,,,,
0,CatholicUniversityInZimbabwe,Commercials,"1,2&4",,,,,,,$1425.00,...,,,,,,,,,,
1,CatholicUniversityInZimbabwe,Commercials,3,,,,,,,$525.00,...,,,,,,,,,,
2,CatholicUniversityInZimbabwe,Humanities,"1,2&4",,,,,,,$1395.00,...,,,,,,,,,,
3,CatholicUniversityInZimbabwe,Humanities,3,,,,,,,$525.00,...,,,,,,,,,,
4,CatholicUniversityInZimbabwe,Humanities,"1,2&4",,,,,,,$405.00,...,,,,,,,,,,
5,CatholicUniversityInZimbabwe,Humanities,3,,,,,,,$450.00,...,,,,,,,,,,
6,CatholicUniversityInZimbabwe,Humanities,6 months,,,,,Application,$30.00,$540.00,...,,,,,,,,,,
7,CatholicUniversityInZimbabwe,Conventional Programs,Undergraduate,,,,,Accomodation(byo),$375.00,,...,,,,,,,,,,
8,CatholicUniversityInZimbabwe,Conventional Programs,Undergraduate,,,,,Application,$75.00,,...,,,,,,,,,,
9,CatholicUniversityInZimbabwe,Conventional Programs,Undergraduate,,,,,Refundable deposit,$75.00,,...,,,,,,,,,,
10,CatholicUniversityInZimbabwe,"Masters, Mphil & Dphil",Postgraduate,,,,,Application,$75.00,,...,,,,,,,,,,
11,CatholicUniversityInZimbabwe,Global MBA in Impact Entrepreneurship,Postgraduate,$1500.00,,,,,,,...,,,,,,,,,,
12,CatholicUniversityInZimbabwe,DPhil & Mphil,Postgraduate,$1500.00,,,,,,,...,,,,,,,,,,
0,GwandaStateUniversity,Science&Engineering,Undergraduate,"ZWL411,650.00",,,,Additional,"ZWL25,000.00",,...,,,,,,,,,,
1,GwandaStateUniversity,Commercials,Undergraduate,"ZWL343,650.00",,,,,,,...,,,,,,,,,,
2,GwandaStateUniversity,Science&Engineering,Undergraduate,"ZWL236,700.00",,,,,,,...,,,,,,,,,,
3,GwandaStateUniversity,Commercials,Undergraduate,"ZWL225,900.00",,,,,,,...,,,,,,,,,,
4,GwandaStateUniversity,Science&Engineering,Undergraduate,"USD1,500",,,,,,,...,,,,,,,,,,
5,GwandaStateUniversity,Commercials,Undergraduate,"USD1,500",,,,,,,...,,,,,,,,,,
0,ManicalandStateUniversity,Science&Engineering,1.1,691.00,,,,,,,...,,,,,,,,,,
1,ManicalandStateUniversity,Science&Engineering,2&4,666.00,,,,,,,...,,,,,,,,,,
2,ManicalandStateUniversity,Science&Engineering,3,486.00,,,,,,,...,,,,,,,,,,
3,ManicalandStateUniversity,Science&Engineering,1.1,679.00,,,,,,,...,,,,,,,,,,
4,ManicalandStateUniversity,Science&Engineering,2&4,654.00,,,,,,,...,,,,,,,,,,
5,ManicalandStateUniversity,Science&Engineering,3,474.00,,,,,,,...,,,,,,,,,,
6,ManicalandStateUniversity,Science&Engineering,1.1,629.00,,,,,,,...,,,,,,,,,,
7,ManicalandStateUniversity,Science&Engineering,2&4,604.00,,,,,,,...,,,,,,,,,,
8,ManicalandStateUniversity,Science&Engineering,3,444.00,,,,,,,...,,,,,,,,,,
9,ManicalandStateUniversity,Science&Engineering,1.1,641.00,,,,,,,...,,,,,,,,,,
10,ManicalandStateUniversity,Science&Engineering,2&4,616.00,,,,,,,...,,,,,,,,,,
11,ManicalandStateUniversity,Science&Engineering,3,456.00,,,,,,,...,,,,,,,,,,
12,ManicalandStateUniversity,Science&Engineering,1.1,641.00,,,,,,,...,,,,,,,,,,
13,ManicalandStateUniversity,Science&Engineering,2&4,616.00,,,,,,,...,,,,,,,,,,
14,ManicalandStateUniversity,Science&Engineering,3,456.00,,,,,,,...,,,,,,,,,,

# Midlands state university

In [51]:
MidlandsStateUniversity=pd.read_html('https://zwefinder.net/midlands-state-university-fees/')
# convert list to dataframe
MidlandsStateUniversity0=pd.DataFrame(MidlandsStateUniversity[0])
MidlandsStateUniversity0

,0,1,2,3,4
0,Commerce/Law,NaN,NRM/Science &,BED,Adult
1,Social Sciences,NaN,Technology/Mining/Medicine,Block,Education
2,Arts/Education,NaN,NaN,NaN,NaN
3,Conventional,NaN,Conventional,NaN,Full time
4,US$572.00,NaN,$622.00,$592.00,$437.00
5,Parallel,NaN,Parallel,Weekend,NaN
6,US$632.00,NaN,$692.00,School,NaN
7,NaN,NaN,NaN,US$632.00,NaN
8,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN
10,Harare Programmes,Harare Programmes,NaN,NaN,NaN
11,Masters,Masters,Visiting/Weekend School,Masters,Masters
12,Harare,Harare,Harare,Gweru,Gweru
13,"US$1,341.00",MBA/EMBA,US$950.00,MBA/EMBA,US$952.00
14,US$1841.00-,"US$2,096.00",US$1450.00- SADC,"US$1,932.00",US$1452.00
15,SADC,US$2596.00-,US$1950- rest of Africa,US$2432.00-,SADC
16,US$2341.00-,SADC,US$2095- International,SADC,US$1952.00-
17,rest of Africa,US$3096.00-,NaN,US$2932.00-,rest of Africa
18,US$2486.00-,rest of Africa,NaN,rest of Africa,US$2097.00-
19,International,US$3241.00-,NaN,US$3077.00-,International
20,NaN,International,NaN,International,NaN
21,NaN,NaN,NaN,NaN,NaN
22,Diploma,NaN,NaN,NaN,NaN
23,Undergrad,Adult,Visiting,MPhil/DPhil,International
24,Block,Education,Other,US$807.00,Undergrad
25,USD$397.00,Block,US$752.00,US$1307.00,(SADC)
26,US$897.00-,US$397.00,US$1252.00- SADC,SADC,US$1072.00-
27,SADC,NaN,US$1752.00-restof Africa,US$1807.00,US$1122.00-
28,US$1397.00,NaN,US$1897.00 International,rest of Africa,Sciences
29,rest of Africa,NaN,NaN,US$1952.00,NaN
30,US$1542.00-,NaN,NaN,International,NaN
31,International,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN
33,International,Post Grad,Post Grad,Post Grad,Paralegal
34,Undergrad,Dip-,Dip- Humanities,Dip-,Diploma
35,(Non-SADC),Sciences,Harare,Humanities,US$600.00
36,US$1572.00-,US$762.00,US$910.00,US$712.00,NaN
37,US$1622.00,NaN,US$1410.00 SADC,US$1212.00,NaN
38,Sciences,NaN,US$1910.00 rest of Africa,US1712.00,NaN
39,US$1717.00,NaN,US$2055.00 International,Africa,NaN
40,International,NaN,NaN,US$1857.00,NaN
41,US$1767.00-,NaN,NaN,International,NaN
42,Sciences,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN
44,ODL,ODL,ODL,Certificate,NaN
45,Undergrad,Postgrad,Masters,in Social,NaN
46,US$486.00,US$606.00,US$1616.00,Work,NaN
47,NaN,NaN,NaN,US$365.00,NaN
48,Field Trips,NaN,NaN,NaN,NaN
49,African,NaN,NaN,NaN,NaN
50,Languages,NaN,NaN,NaN,NaN
51,Culture,US$20.00,NaN,NaN,NaN
52,Archaeology,NaN,NaN,NaN,NaN
53,Masters,US$295.00,NaN,NaN,NaN

In [52]:
MidlandsStateUniversity1=pd.DataFrame(MidlandsStateUniversity[1])
MidlandsStateUniversity1

                     0          1
0          Archaeology        NaN
1            Undergrad   US$35.00
2           Biological        NaN
3             Sciences   US$28.00
4             Chemical        NaN
5           Technology   US$35.00
6    Cultural Heritage        NaN
7              Masters  US$180.00
8          Development        NaN
9              Studies    US$8.00
10      Food Science &        NaN
11           Nutrition   US$33.00
12         Geography &        NaN
13       Environmental        NaN
14             Studies   US$30.00
15       BED Geography   US$10.00
16                 HRM   US$30.00
17                 Law   US$55.00
18   Media and Society        NaN
19             Studies   US$30.00
20       Marketing Mgt   US$14.00
21      Museum Studies        NaN
22             Masters  US$166.00
23             Music &        NaN
24          Musicology   US$35.00
25               NRM &        NaN
26         Agriculture   US$25.00
27           Community        NaN
28          Psychology        NaN
29             Masters   US$64.00
30          Psychology   US$30.00
31         Surveying &        NaN
32           Geomatics   US$45.00
33    Film and Theatre        NaN
34                Arts   US$50.00
35           Tourism &        NaN
36     Hospitality Mgt   US$27.00
37              Mining        NaN
38         Engineering   US$50.00
39            Medicine  US$195.00
40     Ecology Masters  US$145.00
41    Local Governance   US$30.00
42  Masters in African        NaN
43           Languages  US$100.00
44     Masters in Crop        NaN
45             Science  US$150.00
46  Dissertation Fee         NaN
47             3.2/4.2   US$50.00

In [53]:
Uni = []
faculty = []
level = []
fees = []
online = []
fees = []
block = []
fees = []
fees1 = []
campus = []
campus = []
student = []

for i in MidlandsStateUniversity[0].index[1:]:
    Uni.append(dfNames[7])
    
len(Uni)

53

In [54]:
MSU = pd.DataFrame(list(zip(Uni, faculty, level, fees, online, fees, parallel, fees,fees1, campus, campus, student)), 
                   columns = ['University', 'Faculty', 'Level', 'Conventional','Online', 'Block','Parallel', 'FeesType', 'FeesAmount', 'Campus', 'OtherCampus', 'StudentType',
                             ])
MSU

Empty DataFrame
Columns: [University, Faculty, Level, Conventional, Online, Block, Parallel, FeesType, FeesAmount, Campus, OtherCampus, StudentType]
Index: []

In [55]:
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Undergraduate', MidlandsStateUniversity[0][0][4], '', '', MidlandsStateUniversity[0][0][6], '', '','','', '']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Commercials', 'Undergraduate',  MidlandsStateUniversity[0][0][4], '', '', '', '', '', '','','']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Science&Engineering', 'Undergraduate', MidlandsStateUniversity[0][2][4],'', '', MidlandsStateUniversity[0][2][6],'', '', '','','']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Undergraduate', MidlandsStateUniversity[0][3][4], '', '', '', '', '','','', '']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities','Undergraduate',MidlandsStateUniversity[0][4][4], '', '$612.00','','', '','','','']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities&Commercials','Postgraduate', MidlandsStateUniversity[0][0][13],'','', '','', '', 'Harare','','']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities&Commercials','Postgraduate', MidlandsStateUniversity[0][0][14],'', '', '', '', '','Harare','', 'SADC']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities&Commercials', 'Postgraduate', MidlandsStateUniversity[0][0][16],'','', '', '', '', 'Harare','','rest of Africa']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities&Commercials', 'Postgraduate', MidlandsStateUniversity[0][0][18],'', '', '','', '', 'Harare','','International']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Commercials', 'Postgraduate','US$2,346','','','', '', '','Harare','', '']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Science&Engineering', 'Postgraduate', '' ,'', 'US$950.00','', '', '', 'Harare','','']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Science&Engineering', 'Postgraduate', '','','US$1,450.00', '','', '', 'Harare','','SADC']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Science&Engineering', 'Postgraduate', '','', 'US$1,950.00', '', '', '','Harare','', 'rest of Africa']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Science&Engineering', 'Postgraduate',  '','', 'US$2,095.00', '', '', '', 'Harare','','International']


MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Commercials','Postgraduate', '','',MidlandsStateUniversity[0][3][14], '','', '', 'Gweru','','']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Commercials','Postgraduate', '','', MidlandsStateUniversity[0][3][15], '', '', '','Gweru','', 'SADC']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Commercials', 'Postgraduate', '','', MidlandsStateUniversity[0][3][17],'', '', '', 'Gweru','','rest of Africa']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Commercials', 'Postgraduate', '','', MidlandsStateUniversity[0][3][19],'','', '', 'Gweru','','International']

MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities','Postgraduate', '','',MidlandsStateUniversity[0][4][13], '','', '', 'Gweru','','']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities','Postgraduate', '','', MidlandsStateUniversity[0][4][14], '', '', '','Gweru','', 'SADC']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Postgraduate', '','', MidlandsStateUniversity[0][4][16],'', '', '', 'Gweru','','rest of Africa']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Postgraduate', '','', MidlandsStateUniversity[0][4][18],'','', '', 'Gweru','','International']


MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Diploma','', '', MidlandsStateUniversity[0][0][25], '', '', '','','', '']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Diploma','', '', MidlandsStateUniversity[0][0][26], '', '', '','','', 'SADC']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Diploma','', '', MidlandsStateUniversity[0][0][28], '', '', '','','', 'rest of Africa']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Diploma', '', '', MidlandsStateUniversity[0][0][30], '', '', '','','', 'International']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Diploma', '', '', MidlandsStateUniversity[0][1][26], '', '', '','','', '']

MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Other', 'Diploma','', '', MidlandsStateUniversity[0][2][25], '', '', '','','', '']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Other', 'Diploma','', '', 'US$1,252.00', '', '', '','','', 'SADC']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Other', 'Diploma','', '', 'US$1,752.00', '', '', '','','', 'rest of Africa']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Other', 'Diploma', '', '', 'US$1,897.00', '', '', '','','', 'International']


MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Postgraduate', MidlandsStateUniversity[0][3][24],'', '', '', '', '','Harare','', '']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Postgraduate',  MidlandsStateUniversity[0][3][25],'', '', '', '', '', 'Harare','','SADC']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Postgraduate', MidlandsStateUniversity[0][3][27],'', '', '','', '', 'Harare','','rest of Africa']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Postgraduate', MidlandsStateUniversity[0][3][29],'', '', '','', '', 'Harare','','International']
 
    
    
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Undergraduate', MidlandsStateUniversity[0][4][26],'','', '','', '', 'Harare','','SADC']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Undergraduate', MidlandsStateUniversity[0][4][27],'', '', '', '', '','Harare','', 'International']

MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Commmercials', 'Undergraduate', MidlandsStateUniversity[0][0][36],'','', '','', '', '','','Non-SADC']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Science&Engineering', 'Undergraduate', MidlandsStateUniversity[0][0][37],'', '', '', '', '','','', 'Non-SADC']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Commmercials', 'Undergraduate', MidlandsStateUniversity[0][0][39],'','', '','', '', '','','International']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Science&Engineering', 'Undergraduate', MidlandsStateUniversity[0][0][41],'', '', '', '', '','','', 'International']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Science&Engineering', 'Postgraduate', MidlandsStateUniversity[0][1][36],'','', '','', '', '','','International']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Undergraduate', MidlandsStateUniversity[0][2][36],'', '', '', '', '','Harare','', '']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Undergraduate', 'US$1,410.00','','', '','', '', 'Harare','','SADC']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Undergraduate', 'US$1,910.00','', '', '', '', '','Harare','', 'rest of Africa']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Undergraduate', 'US$2,055.00','','', '','', '', 'Harare','','International']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Undergraduate', MidlandsStateUniversity[0][3][36],'', '', '', '', '','Harare','', '']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Undergraduate', MidlandsStateUniversity[0][3][37],'','', '','', '', 'Harare','','SADC']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Undergraduate', MidlandsStateUniversity[0][3][38],'', '', '', '', '','Harare','', 'Africa']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Undergraduate', MidlandsStateUniversity[0][3][40],'', '', '', '', '','Harare','', 'International']

MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Science&Engineering, Commercials, Humanities', 'Undergraduate', '',MidlandsStateUniversity[0][0][46], '', '', '', '','','', '']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Science&Engineering, Commercials, Humanities', 'Postgraduate', '', MidlandsStateUniversity[0][1][46], '', '', '', '','','', '']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Humanities', 'Certificate', '',MidlandsStateUniversity[0][3][47], '', '', '', '','','', '']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Science&Engineering, Commercials, Humanities', 'Undergraduate', MidlandsStateUniversity[0][2][46],'', '', '', '', '','Harare','', 'International']
MSU.loc[len(MSU)] = ['MidlandsStateUniversity', 'Science&Engineering, Commercials, Humanities', '', '','', '', '', 'Av.Fees', 'US$72.78','','', '']

MSU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType
0,MidlandsStateUniversity,Humanities,Undergraduate,US$572.00,,,US$632.00,,,,,
1,MidlandsStateUniversity,Commercials,Undergraduate,US$572.00,,,,,,,,
2,MidlandsStateUniversity,Science&Engineering,Undergraduate,$622.00,,,$692.00,,,,,
3,MidlandsStateUniversity,Humanities,Undergraduate,$592.00,,,,,,,,
4,MidlandsStateUniversity,Humanities,Undergraduate,$437.00,,$612.00,,,,,,
5,MidlandsStateUniversity,Humanities&Commercials,Postgraduate,"US$1,341.00",,,,,,Harare,,
6,MidlandsStateUniversity,Humanities&Commercials,Postgraduate,US$1841.00-,,,,,,Harare,,SADC
7,MidlandsStateUniversity,Humanities&Commercials,Postgraduate,US$2341.00-,,,,,,Harare,,rest of Africa
8,MidlandsStateUniversity,Humanities&Commercials,Postgraduate,US$2486.00-,,,,,,Harare,,International
9,MidlandsStateUniversity,Commercials,Postgraduate,"US$2,346",,,,,,Harare,,
10,MidlandsStateUniversity,Science&Engineering,Postgraduate,,,US$950.00,,,,Harare,,
11,MidlandsStateUniversity,Science&Engineering,Postgraduate,,,"US$1,450.00",,,,Harare,,SADC
12,MidlandsStateUniversity,Science&Engineering,Postgraduate,,,"US$1,950.00",,,,Harare,,rest of Africa
13,MidlandsStateUniversity,Science&Engineering,Postgraduate,,,"US$2,095.00",,,,Harare,,International
14,MidlandsStateUniversity,Commercials,Postgraduate,,,"US$1,932.00",,,,Gweru,,
15,MidlandsStateUniversity,Commercials,Postgraduate,,,US$2432.00-,,,,Gweru,,SADC
16,MidlandsStateUniversity,Commercials,Postgraduate,,,US$2932.00-,,,,Gweru,,rest of Africa
17,MidlandsStateUniversity,Commercials,Postgraduate,,,US$3077.00-,,,,Gweru,,International
18,MidlandsStateUniversity,Humanities,Postgraduate,,,US$952.00,,,,Gweru,,
19,MidlandsStateUniversity,Humanities,Postgraduate,,,US$1452.00,,,,Gweru,,SADC
20,MidlandsStateUniversity,Humanities,Postgraduate,,,US$1952.00-,,,,Gweru,,rest of Africa
21,MidlandsStateUniversity,Humanities,Postgraduate,,,US$2097.00-,,,,Gweru,,International
22,MidlandsStateUniversity,Humanities,Diploma,,,USD$397.00,,,,,,
23,MidlandsStateUniversity,Humanities,Diploma,,,US$897.00-,,,,,,SADC
24,MidlandsStateUniversity,Humanities,Diploma,,,US$1397.00,,,,,,rest of Africa
25,MidlandsStateUniversity,Humanities,Diploma,,,US$1542.00-,,,,,,International
26,MidlandsStateUniversity,Humanities,Diploma,,,US$397.00,,,,,,
27,MidlandsStateUniversity,Other,Diploma,,,US$752.00,,,,,,
28,MidlandsStateUniversity,Other,Diploma,,,"US$1,252.00",,,,,,SADC
29,MidlandsStateUniversity,Other,Diploma,,,"US$1,752.00",,,,,,rest of Africa
30,MidlandsStateUniversity,Other,Diploma,,,"US$1,897.00",,,,,,International
31,MidlandsStateUniversity,Humanities,Postgraduate,US$807.00,,,,,,Harare,,
32,MidlandsStateUniversity,Humanities,Postgraduate,US$1307.00,,,,,,Harare,,SADC
33,MidlandsStateUniversity,Humanities,Postgraduate,US$1807.00,,,,,,Harare,,rest of Africa
34,MidlandsStateUniversity,Humanities,Postgraduate,US$1952.00,,,,,,Harare,,International
35,MidlandsStateUniversity,Humanities,Undergraduate,US$1072.00-,,,,,,Harare,,SADC
36,MidlandsStateUniversity,Humanities,Undergraduate,US$1122.00-,,,,,,Harare,,International
37,MidlandsStateUniversity,Commmercials,Undergraduate,US$1572.00-,,,,,,,,Non-SADC
38,MidlandsStateUniversity,Science&Engineering,Undergraduate,US$1622.00,,,,,,,,Non-SADC
39,MidlandsStateUniversity,Commmercials,Undergraduate,US$1717.00,,,,,,,,International
40,MidlandsStateUniversity,Science&Engineering,Undergraduate,US$1767.00-,,,,,,,,International
41,MidlandsStateUniversity,Science&Engineering,Postgraduate,US$762.00,,,,,,,,International
42,MidlandsStateUniversity,Humanities,Undergraduate,US$910.00,,,,,,Harare,,
43,MidlandsStateUniversity,Humanities,Undergraduate,"US$1,410.00",,,,,,Harare,,SADC
44,MidlandsStateUniversity,Humanities,Undergraduate,"US$1,910.00",,,,,,Harare,,rest of Africa
45,MidlandsStateUniversity,Humanities,Undergraduate,"US$2,055.00",,,,,,Harare,,International
46,MidlandsStateUniversity,Humanities,Undergraduate,US$712.00,,,,,,Harare,,
47,MidlandsStateUniversity,Humanities,Undergraduate,US$1212.00,,,,,,Harare,,SADC
48,MidlandsStateUniversity,Humanities,Undergraduate,US1712.00,,,,,,Harare,,Africa
49,MidlandsStateUniversity,Humanities,Undergraduate,US$1857.00,,,,,,Harare,,International
50,MidlandsStateUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,,US$486.00,,,,,,,
51,MidlandsStateUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate,,US$606.00,,,,,,,
52,MidlandsStateUniversity,Humanities,Certificate,,US$365.00,,,,,,,
53,MidlandsStateUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,US$1616.00,,,,,,Harare,,International
54,MidlandsStateUniversity,"Science&Engineering, Commercials, Humanities",,,,,,Av.Fees,US$72.78,,,

In [56]:
MSU['Accommodation'] = ''
MSU['Amount'] = ''
MSU['underGradNonRes']  = ''
MSU['DiplomaNonRe'] = ''
MSU['underGradResDouble']  = ''
MSU['DiplomaResDouble']  = ''
MSU['underGradResSingle '] = ''
MSU['DiplomaResSingle']  = ''
MSU['ForeignNonRes']  = ''
MSU['ForeignResDouble']  = ''
MSU['ForeignResSingle']  = ''
MSU['BlockRelease']  = ''
MSU['BScNursingEducation']  = ''
MSU['MScStrategicManagement']  = ''
MSU['PostGraduateCorporateGovernance']  = ''
MSU['MScPostHarvest']  = ''
MSU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,MidlandsStateUniversity,Humanities,Undergraduate,US$572.00,,,US$632.00,,,,...,,,,,,,,,,
1,MidlandsStateUniversity,Commercials,Undergraduate,US$572.00,,,,,,,...,,,,,,,,,,
2,MidlandsStateUniversity,Science&Engineering,Undergraduate,$622.00,,,$692.00,,,,...,,,,,,,,,,
3,MidlandsStateUniversity,Humanities,Undergraduate,$592.00,,,,,,,...,,,,,,,,,,
4,MidlandsStateUniversity,Humanities,Undergraduate,$437.00,,$612.00,,,,,...,,,,,,,,,,
5,MidlandsStateUniversity,Humanities&Commercials,Postgraduate,"US$1,341.00",,,,,,Harare,...,,,,,,,,,,
6,MidlandsStateUniversity,Humanities&Commercials,Postgraduate,US$1841.00-,,,,,,Harare,...,,,,,,,,,,
7,MidlandsStateUniversity,Humanities&Commercials,Postgraduate,US$2341.00-,,,,,,Harare,...,,,,,,,,,,
8,MidlandsStateUniversity,Humanities&Commercials,Postgraduate,US$2486.00-,,,,,,Harare,...,,,,,,,,,,
9,MidlandsStateUniversity,Commercials,Postgraduate,"US$2,346",,,,,,Harare,...,,,,,,,,,,
10,MidlandsStateUniversity,Science&Engineering,Postgraduate,,,US$950.00,,,,Harare,...,,,,,,,,,,
11,MidlandsStateUniversity,Science&Engineering,Postgraduate,,,"US$1,450.00",,,,Harare,...,,,,,,,,,,
12,MidlandsStateUniversity,Science&Engineering,Postgraduate,,,"US$1,950.00",,,,Harare,...,,,,,,,,,,
13,MidlandsStateUniversity,Science&Engineering,Postgraduate,,,"US$2,095.00",,,,Harare,...,,,,,,,,,,
14,MidlandsStateUniversity,Commercials,Postgraduate,,,"US$1,932.00",,,,Gweru,...,,,,,,,,,,
15,MidlandsStateUniversity,Commercials,Postgraduate,,,US$2432.00-,,,,Gweru,...,,,,,,,,,,
16,MidlandsStateUniversity,Commercials,Postgraduate,,,US$2932.00-,,,,Gweru,...,,,,,,,,,,
17,MidlandsStateUniversity,Commercials,Postgraduate,,,US$3077.00-,,,,Gweru,...,,,,,,,,,,
18,MidlandsStateUniversity,Humanities,Postgraduate,,,US$952.00,,,,Gweru,...,,,,,,,,,,
19,MidlandsStateUniversity,Humanities,Postgraduate,,,US$1452.00,,,,Gweru,...,,,,,,,,,,
20,MidlandsStateUniversity,Humanities,Postgraduate,,,US$1952.00-,,,,Gweru,...,,,,,,,,,,
21,MidlandsStateUniversity,Humanities,Postgraduate,,,US$2097.00-,,,,Gweru,...,,,,,,,,,,
22,MidlandsStateUniversity,Humanities,Diploma,,,USD$397.00,,,,,...,,,,,,,,,,
23,MidlandsStateUniversity,Humanities,Diploma,,,US$897.00-,,,,,...,,,,,,,,,,
24,MidlandsStateUniversity,Humanities,Diploma,,,US$1397.00,,,,,...,,,,,,,,,,
25,MidlandsStateUniversity,Humanities,Diploma,,,US$1542.00-,,,,,...,,,,,,,,,,
26,MidlandsStateUniversity,Humanities,Diploma,,,US$397.00,,,,,...,,,,,,,,,,
27,MidlandsStateUniversity,Other,Diploma,,,US$752.00,,,,,...,,,,,,,,,,
28,MidlandsStateUniversity,Other,Diploma,,,"US$1,252.00",,,,,...,,,,,,,,,,
29,MidlandsStateUniversity,Other,Diploma,,,"US$1,752.00",,,,,...,,,,,,,,,,
30,MidlandsStateUniversity,Other,Diploma,,,"US$1,897.00",,,,,...,,,,,,,,,,
31,MidlandsStateUniversity,Humanities,Postgraduate,US$807.00,,,,,,Harare,...,,,,,,,,,,
32,MidlandsStateUniversity,Humanities,Postgraduate,US$1307.00,,,,,,Harare,...,,,,,,,,,,
33,MidlandsStateUniversity,Humanities,Postgraduate,US$1807.00,,,,,,Harare,...,,,,,,,,,,
34,MidlandsStateUniversity,Humanities,Postgraduate,US$1952.00,,,,,,Harare,...,,,,,,,,,,
35,MidlandsStateUniversity,Humanities,Undergraduate,US$1072.00-,,,,,,Harare,...,,,,,,,,,,
36,MidlandsStateUniversity,Humanities,Undergraduate,US$1122.00-,,,,,,Harare,...,,,,,,,,,,
37,MidlandsStateUniversity,Commmercials,Undergraduate,US$1572.00-,,,,,,,...,,,,,,,,,,
38,MidlandsStateUniversity,Science&Engineering,Undergraduate,US$1622.00,,,,,,,...,,,,,,,,,,
39,MidlandsStateUniversity,Commmercials,Undergraduate,US$1717.00,,,,,,,...,,,,,,,,,,
40,MidlandsStateUniversity,Science&Engineering,Undergraduate,US$1767.00-,,,,,,,...,,,,,,,,,,
41,MidlandsStateUniversity,Science&Engineering,Postgraduate,US$762.00,,,,,,,...,,,,,,,,,,
42,MidlandsStateUniversity,Humanities,Undergraduate,US$910.00,,,,,,Harare,...,,,,,,,,,,
43,MidlandsStateUniversity,Humanities,Undergraduate,"US$1,410.00",,,,,,Harare,...,,,,,,,,,,
44,MidlandsStateUniversity,Humanities,Undergraduate,"US$1,910.00",,,,,,Harare,...,,,,,,,,,,
45,MidlandsStateUniversity,Humanities,Undergraduate,"US$2,055.00",,,,,,Harare,...,,,,,,,,,,
46,MidlandsStateUniversity,Humanities,Undergraduate,US$712.00,,,,,,Harare,...,,,,,,,,,,
47,MidlandsStateUniversity,Humanities,Undergraduate,US$1212.00,,,,,,Harare,...,,,,,,,,,,
48,MidlandsStateUniversity,Humanities,Undergraduate,US1712.00,,,,,,Harare,...,,,,,,,,,,
49,MidlandsStateUniversity,Humanities,Undergraduate,US$1857.00,,,,,,Harare,...,,,,,,,,,,
50,MidlandsStateUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,,US$486.00,,,,,,...,,,,,,,,,,
51,MidlandsStateUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate,,US$606.00,,,,,,...,,,,,,,,,,
52,MidlandsStateUniversity,Humanities,Certificate,,US$365.00,,,,,,...,,,,,,,,,,
53,MidlandsStateUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,US$1616.00,,,,,,Harare,...,,,,,,,,,,
54,MidlandsStateUniversity,"Science&Engineering, Commercials, Humanities",,,,,,Av.Fees,US$72.78,,...,,,,,,,,,,

In [57]:
dfList = [BUSE, UZ, Catholic, GSU, MASU, MSU]
Colleges = pd.concat(dfList)
Colleges

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,BinduraUniversity,"Humanities, Commercials",Undergraduate,US$620,,,,,,,...,,,,,,,,,,
1,BinduraUniversity,Medicine,Undergraduate,US$700,,,,,,,...,,,,,,,,,,
2,BinduraUniversity,Science&Engineering,Undergraduate,US$680,,,,,,,...,,,,,,,,,,
3,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Certificate/Diploma,US$550,,,,,,,...,,,,,,,,,,
4,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Medical Aid,US$35,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,MidlandsStateUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,,US$486.00,,,,,,...,,,,,,,,,,
51,MidlandsStateUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate,,US$606.00,,,,,,...,,,,,,,,,,
52,MidlandsStateUniversity,Humanities,Certificate,,US$365.00,,,,,,...,,,,,,,,,,
53,MidlandsStateUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,US$1616.00,,,,,,Harare,...,,,,,,,,,,
54,MidlandsStateUniversity,"Science&Engineering, Commercials, Humanities",,,,,,Av.Fees,US$72.78,,...,,,,,,,,,,

# NUST

In [58]:
import re

In [59]:
from pdfminer.high_level import extract_pages, extract_text

In [60]:
text = extract_text("NUST undergraduate-2023-fees-structure.pdf")

In [61]:
text

'FEES STRUCTURE FOR 2023 \n\nUNDERGRADUATE  DEGREE PROGRAMMES (INCLUSIVE  OF ALL LEVIES) \n\nUndergraduate  fees (excluding those on attachment) \n\n1.  Faculty  of Applied  Science   \n2.  Faculty  of The Built  Environment      \n3.  Faculty  of Commerce      \n4.  Faculty  of Communication  and Information  Science \n5.  Faculty  of Engineering    \n6.  Faculty  of Medicine                                                \n7.  Faculty  of Science  and Technology  Education                          \n8.  Faculty  of Environmental  Sciences \n\nUndergraduate  fees for students on attachment \n\n1.  Faculty  of Applied  Science   \n2.  Faculty  of The Built  Environment      \n3.  Faculty  of Commerce      \n4.  Faculty  of Communication  and Information  Science \n5.  Faculty  of Engineering    \n6.  Faculty  of Medicine                                                \n7.  Faculty  of Environmental  Sciences \n\nZWL$ \n\n415,000  \n415,000 \n350,000 \n405,000 \n415,000 \n420,000 \n415,000 \n415,000 \n\n393,000  \n393,000 \n332,000 \n387,000 \n393,000 \n396,000 \n393,000 \n\nStudents are required  to pay a deposit of 60% of total fees to be allowed to register. \n\nSpecial levies \n\n1.  Studio Levy (FCIS)  \n2.  Studio Levy (FOBE)  \n3.  Clinical  Levy (FMED)    \n4.  Clinical  Levy (FAS) \n5.  Elective  Medicine \n6.  Location  Levy \n\nApplication of special levies \n\n17,500 \n52,500 \n17,500 \n70,000 \n           105,000 \n           US$150 \n\nClinical levy (FAS)  Special  Honours in Radiography \n\nClinical levy (FMED) Part 4, 5 and 6 Medicine  students and all  Midwifery  students \n\n1 \n\n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n                        \n \n \n \n \n \n \n \n \n \n \n \n \n \n                                                         \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n\x0cStudio levy (FOBE)  Architecture,  all  Part 1 to 5 and Block students in Property Development  and \nEstate Management \n\nStudio levy (FCIS)  All  Journalism  and Media Studies  students, except  those on Industrial  Attachment \n\nLocation Levy  Cohorts outside  Bulawayo \n\nNB: Fees are per semester. \n\nDeputy Registrar,   \n\nAcademic \n\n2 \n\n \n         \n \n \n \n\x0c'

In [62]:
x=[]
for i in text:
    if i!='\n'and i!='*': 
       print(i, end='')

FEES STRUCTURE FOR 2023 UNDERGRADUATE  DEGREE PROGRAMMES (INCLUSIVE  OF ALL LEVIES) Undergraduate  fees (excluding those on attachment) 1.  Faculty  of Applied  Science   2.  Faculty  of The Built  Environment      3.  Faculty  of Commerce      4.  Faculty  of Communication  and Information  Science 5.  Faculty  of Engineering    6.  Faculty  of Medicine                                                7.  Faculty  of Science  and Technology  Education                          8.  Faculty  of Environmental  Sciences Undergraduate  fees for students on attachment 1.  Faculty  of Applied  Science   2.  Faculty  of The Built  Environment      3.  Faculty  of Commerce      4.  Faculty  of Communication  and Information  Science 5.  Faculty  of Engineering    6.  Faculty  of Medicine                                                7.  Faculty  of Environmental  Sciences ZWL$ 415,000  415,000 350,000 405,000 415,000 420,000 415,000 415,000 393,000  393,000 332,000 387,000 393,000 396,000 393,000 Students are required  to pay a deposit of 60% of total fees to be allowed to register. Special levies 1.  Studio Levy (FCIS)  2.  Studio Levy (FOBE)  3.  Clinical  Levy (FMED)    4.  Clinical  Levy (FAS) 5.  Elective  Medicine 6.  Location  Levy Application of special levies 17,500 52,500 17,500 70,000            105,000            US$150 Clinical levy (FAS)  Special  Honours in Radiography Clinical levy (FMED) Part 4, 5 and 6 Medicine  students and all  Midwifery  students 1                                                                                                                                                                      Studio levy (FOBE)  Architecture,  all  Part 1 to 5 and Block students in Property Development  and Estate Management Studio levy (FCIS)  All  Journalism  and Media Studies  students, except  those on Industrial  Attachment Location Levy  Cohorts outside  Bulawayo NB: Fees are per semester. Deputy Registrar,   Academic 2

In [63]:
Uni = []
faculty = []
level = []
fees = []
online = []
fees = []
parallel = []
fees = []
fees1 = []
campus = []
campus = []
student = []
accom = []
amnt = []

In [64]:
NUST = pd.DataFrame(list(zip(Uni, faculty, level, fees, online, fees, parallel, fees,fees1, campus, campus, student, accom, amnt)), 
                   columns = ['University', 'Faculty', 'Level', 'Conventional','Online', 'Block', 'Parallel', 'FeesType', 'FeesAmount', 'Campus', 'OtherCampus', 'StudentType', 'Accommodation', 'Amount',
                             ])
NUST

Empty DataFrame
Columns: [University, Faculty, Level, Conventional, Online, Block, Parallel, FeesType, FeesAmount, Campus, OtherCampus, StudentType, Accommodation, Amount]
Index: []

In [65]:
NUST.loc[len(NUST)] = ['NationalUniversityofScienceandTechnology', 'Science&Engineering', 'Undergraduate', '415 000', '', '', '', 'Levies', '52 500', '', '', '', '', '']
NUST.loc[len(NUST)] = ['NationalUniversityofScienceandTechnology', 'Commercials', 'Undergraduate', '350 000', '', '', '', 'Levies', '52 500', '', '', '', '', '']
NUST.loc[len(NUST)] = ['NationalUniversityofScienceandTechnology', 'Humanities', 'Undergraduate', '405 000', '', '', '', 'Levies', '52 500', '', '', '', '', '']
NUST.loc[len(NUST)] = ['NationalUniversityofScienceandTechnology', 'Medicine', 'Undergraduate', '420 000', '', '', '', 'Levies', '52 500', '', '', '', '', '']
NUST.loc[len(NUST)] = ['NationalUniversityofScienceandTechnology', 'Science&Engineering, Commercials & Humanities', 'Undergraduate', '', '', '', '', 'Location', 'US$150', '', '', '', '', '']
NUST.loc[len(NUST)] = ['NationalUniversityofScienceandTechnology', 'Science&Engineering', '3', '393 000', '', '', '', 'Levies', '52 500', '', '', '', '', '']
NUST.loc[len(NUST)] = ['NationalUniversityofScienceandTechnology', 'Commercials', '3', '332 000', '', '', '', 'Levies', '52 500', '', '', '', '', '']
NUST.loc[len(NUST)] = ['NationalUniversityofScienceandTechnology', 'Humanities', '3', '387 000', '', '', '', 'Levies', '52 500', '', '', '', '', '']
NUST.loc[len(NUST)] = ['NationalUniversityofScienceandTechnology', 'Medicine', '3', '396 000', '', '', '', 'Levies', '52 500', '', '', '', '', '']
NUST

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType,Accommodation,Amount
0,NationalUniversityofScienceandTechnology,Science&Engineering,Undergraduate,415 000,,,,Levies,52 500,,,,,
1,NationalUniversityofScienceandTechnology,Commercials,Undergraduate,350 000,,,,Levies,52 500,,,,,
2,NationalUniversityofScienceandTechnology,Humanities,Undergraduate,405 000,,,,Levies,52 500,,,,,
3,NationalUniversityofScienceandTechnology,Medicine,Undergraduate,420 000,,,,Levies,52 500,,,,,
4,NationalUniversityofScienceandTechnology,"Science&Engineering, Commercials & Humanities",Undergraduate,,,,,Location,US$150,,,,,
5,NationalUniversityofScienceandTechnology,Science&Engineering,3,393 000,,,,Levies,52 500,,,,,
6,NationalUniversityofScienceandTechnology,Commercials,3,332 000,,,,Levies,52 500,,,,,
7,NationalUniversityofScienceandTechnology,Humanities,3,387 000,,,,Levies,52 500,,,,,
8,NationalUniversityofScienceandTechnology,Medicine,3,396 000,,,,Levies,52 500,,,,,

In [66]:
NUST['underGradNonRes']  = ''
NUST['DiplomaNonRe'] = ''
NUST['underGradResDouble']  = ''
NUST['DiplomaResDouble']  = ''
NUST['underGradResSingle '] = ''
NUST['DiplomaResSingle']  = ''
NUST['ForeignNonRes']  = ''
NUST['ForeignResDouble']  = ''
NUST['ForeignResSingle']  = ''
NUST['BlockRelease']  = ''
NUST['BScNursingEducation']  = ''
NUST['MScStrategicManagement']  = ''
NUST['PostGraduateCorporateGovernance']  = ''
NUST['MScPostHarvest']  = ''
NUST

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,NationalUniversityofScienceandTechnology,Science&Engineering,Undergraduate,415 000,,,,Levies,52 500,,...,,,,,,,,,,
1,NationalUniversityofScienceandTechnology,Commercials,Undergraduate,350 000,,,,Levies,52 500,,...,,,,,,,,,,
2,NationalUniversityofScienceandTechnology,Humanities,Undergraduate,405 000,,,,Levies,52 500,,...,,,,,,,,,,
3,NationalUniversityofScienceandTechnology,Medicine,Undergraduate,420 000,,,,Levies,52 500,,...,,,,,,,,,,
4,NationalUniversityofScienceandTechnology,"Science&Engineering, Commercials & Humanities",Undergraduate,,,,,Location,US$150,,...,,,,,,,,,,
5,NationalUniversityofScienceandTechnology,Science&Engineering,3,393 000,,,,Levies,52 500,,...,,,,,,,,,,
6,NationalUniversityofScienceandTechnology,Commercials,3,332 000,,,,Levies,52 500,,...,,,,,,,,,,
7,NationalUniversityofScienceandTechnology,Humanities,3,387 000,,,,Levies,52 500,,...,,,,,,,,,,
8,NationalUniversityofScienceandTechnology,Medicine,3,396 000,,,,Levies,52 500,,...,,,,,,,,,,

In [67]:
dfList = [BUSE, UZ, Catholic, GSU, MASU, MSU, NUST]
Colleges = pd.concat(dfList)
Colleges

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,BinduraUniversity,"Humanities, Commercials",Undergraduate,US$620,,,,,,,...,,,,,,,,,,
1,BinduraUniversity,Medicine,Undergraduate,US$700,,,,,,,...,,,,,,,,,,
2,BinduraUniversity,Science&Engineering,Undergraduate,US$680,,,,,,,...,,,,,,,,,,
3,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Certificate/Diploma,US$550,,,,,,,...,,,,,,,,,,
4,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Medical Aid,US$35,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,NationalUniversityofScienceandTechnology,"Science&Engineering, Commercials & Humanities",Undergraduate,,,,,Location,US$150,,...,,,,,,,,,,
5,NationalUniversityofScienceandTechnology,Science&Engineering,3,393 000,,,,Levies,52 500,,...,,,,,,,,,,
6,NationalUniversityofScienceandTechnology,Commercials,3,332 000,,,,Levies,52 500,,...,,,,,,,,,,
7,NationalUniversityofScienceandTechnology,Humanities,3,387 000,,,,Levies,52 500,,...,,,,,,,,,,
8,NationalUniversityofScienceandTechnology,Medicine,3,396 000,,,,Levies,52 500,,...,,,,,,,,,,

# Zimbabwe open university

In [68]:
ZimbabweOpenUniversity=pd.read_html('https://zwefinder.net/zimbabwe-open-university-fees-structure/')
# convert list to dataframe
ZimbabweOpenUniversity0=pd.DataFrame(ZimbabweOpenUniversity[0])
ZimbabweOpenUniversity0

,0,1,2,3,4,5
0,PROGRAMME LEVEL,PER COURSE,TOTAL (for 4 courses),Building Levy,Technology Fees,TOTAL PER SEMESTER (for 4 courses)
1,Diploma,$80.00,$320.00,$25.00,$100,$445.00
2,Undergraduate,$100.00,$400.00,$25.00,$100,$525.00
3,Post Graduate PGDE,$72.00,$360.00 (for 5 courses),$25.00,$100,$485.00 (for 5 courses)
4,MBA,$176.00,$704.00,$25.00,$100,$829.00
5,Other Post Graduate,$152.00,$608.00,$25.00,$100,$733.00
6,DPHIL/MPHIL,NaN,$1 440.00 per year,$25.00,$100,$1 565.00

In [69]:
Uni = []
faculty = []
level = []
fees = []
online = []
fees = []
parallel = []
fees = []
fees1 = []
campus = []
campus = []
student = []

for i in ZimbabweOpenUniversity[0].index[1:]:
    Uni.append(dfNames[7])
    
len(Uni)

6

In [70]:
ZOU = pd.DataFrame(list(zip(Uni, faculty, level, fees, online, fees, parallel, fees,fees1, campus, campus, student)), 
                   columns = ['University', 'Faculty', 'Level', 'Conventional','Online', 'Block', 'Parallel', 'FeesType', 'FeesAmount', 'Campus', 'OtherCampus', 'StudentType',
                             ])
ZOU

Empty DataFrame
Columns: [University, Faculty, Level, Conventional, Online, Block, Parallel, FeesType, FeesAmount, Campus, OtherCampus, StudentType]
Index: []

In [71]:
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Diploma', ZimbabweOpenUniversity[0][5][1], '', '', '', 'Technology', '$100', '', '', '']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Diploma', ZimbabweOpenUniversity[0][5][1], '', '', '', 'Building', '$25', '', '', '']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Undergraduate', ZimbabweOpenUniversity[0][5][2], '', '', '', 'Technology', '$100', '', '', '']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Undergraduate', ZimbabweOpenUniversity[0][5][2], '', '', '', 'Building', '$25', '', '', '']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Postgraduate PGDE ', ZimbabweOpenUniversity[0][5][3], '', '', '', 'Technology', '$100', '', '', '']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Postgraduate PGDE', ZimbabweOpenUniversity[0][5][3], '', '', '', 'Building', '$25', '', '', '']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'MBA', ZimbabweOpenUniversity[0][5][4], '', '', '', 'Technology', '$100', '', '', '']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'MBA', ZimbabweOpenUniversity[0][5][4], '', '', '', 'Building', '$25', '', '', '']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Other Postgraduate', ZimbabweOpenUniversity[0][5][5], '', '', '', 'Technology', '$100', '', '', '']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Other Postgraduate', ZimbabweOpenUniversity[0][5][5], '', '', '', 'Building', '$25', '', '', '']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'DPHIL/MPHIL', ZimbabweOpenUniversity[0][5][6], '', '', '', 'Technology', '$100', '', '', '']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'DPHIL/MPHIL', ZimbabweOpenUniversity[0][5][6], '', '', '', 'Building', '$25', '', '', '']

ZOU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType
0,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,$445.00,,,,Technology,$100,,,
1,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,$445.00,,,,Building,$25,,,
2,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,$525.00,,,,Technology,$100,,,
3,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,$525.00,,,,Building,$25,,,
4,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,$485.00 (for 5 courses),,,,Technology,$100,,,
5,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,$485.00 (for 5 courses),,,,Building,$25,,,
6,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,$829.00,,,,Technology,$100,,,
7,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,$829.00,,,,Building,$25,,,
8,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$733.00,,,,Technology,$100,,,
9,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$733.00,,,,Building,$25,,,
10,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$1 565.00,,,,Technology,$100,,,
11,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$1 565.00,,,,Building,$25,,,

In [72]:
ZimbabweOpenUniversity1=pd.DataFrame(ZimbabweOpenUniversity[1])
ZimbabweOpenUniversity1

,0,1,2,3,4,5
0,PROGRAMME LEVEL,PER COURSE,TOTAL (for 4 courses),Building Levy,Technology,TOTAL PER SEMESTER (for 4 courses)
1,Undergraduate,$100.00,$400.00,$25.00,$125.00,$550.00

In [73]:
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering', 'Undergraduate', ZimbabweOpenUniversity[1][5][1], '', '', '', 'Technology', '$125', '', '', '']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering', 'Undergraduate', ZimbabweOpenUniversity[1][5][1], '', '', '', 'Building', '$25', '', '', '']
ZOU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType
0,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,$445.00,,,,Technology,$100,,,
1,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,$445.00,,,,Building,$25,,,
2,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,$525.00,,,,Technology,$100,,,
3,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,$525.00,,,,Building,$25,,,
4,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,$485.00 (for 5 courses),,,,Technology,$100,,,
5,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,$485.00 (for 5 courses),,,,Building,$25,,,
6,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,$829.00,,,,Technology,$100,,,
7,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,$829.00,,,,Building,$25,,,
8,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$733.00,,,,Technology,$100,,,
9,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$733.00,,,,Building,$25,,,
10,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$1 565.00,,,,Technology,$100,,,
11,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$1 565.00,,,,Building,$25,,,
12,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,$550.00,,,,Technology,$125,,,
13,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,$550.00,,,,Building,$25,,,

In [74]:
ZimbabweOpenUniversity2=pd.DataFrame(ZimbabweOpenUniversity[2])
ZimbabweOpenUniversity2

,0,1,2,3,4,5
0,PROGRAMME LEVEL,PER COURSE,TOTAL (for 4 courses),Building Levy,Technology Fees,TOTAL PER SEMESTER (for 4 courses)
1,Diploma,USD130.00,USD520.00,USD25.00,USD100,USD645.00
2,Undergraduate,USD150.00,USD600.00,USD25.00,USD100,USD725.00
3,Post Graduate PGDE,USD125.00,USD600.00 (for 5 courses),USD25.00,USD100,USD725.00 (for 5 courses)
4,MBA,USD226.00,USD904.00,USD25.00,USD100,USD1029.00
5,Other Post Graduate,USD202.00,USD808.00,USD25.00,USD100,USD933.00
6,DPHIL/MPHIL,NaN,USD1 640.00 per year,USD25.00,USD100,USD1 765.00

In [75]:
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Diploma', ZimbabweOpenUniversity[2][5][1], '', '', '', 'Technology', '$100', '', '', 'External&SADC']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Diploma', ZimbabweOpenUniversity[2][5][1], '', '', '', 'Building', '$25', '', '', 'External&SADC']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Undergraduate', ZimbabweOpenUniversity[2][5][2], '', '', '', 'Technology', '$100', '', '', 'External&SADC']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Undergraduate', ZimbabweOpenUniversity[2][5][2], '', '', '', 'Building', '$25', '', '', 'External&SADC']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Postgraduate PGDE ', ZimbabweOpenUniversity[2][5][3], '', '', '', 'Technology', '$100', '', '', 'External&SADC']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Postgraduate PGDE', ZimbabweOpenUniversity[2][5][3], '', '', '', 'Building', '$25', '', '', 'External&SADC']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'MBA', ZimbabweOpenUniversity[2][5][4], '', '', '', 'Technology', '$100', '', '', 'External&SADC']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'MBA', ZimbabweOpenUniversity[2][5][4], '', '', '', 'Building', '$25', '', '', 'External&SADC']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Other Postgraduate', ZimbabweOpenUniversity[2][5][5], '', '', '', 'Technology', '$100', '', '', 'External&SADC']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Other Postgraduate', ZimbabweOpenUniversity[2][5][5], '', '', '', 'Building', '$25', '', '', 'External&SADC']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'DPHIL/MPHIL', ZimbabweOpenUniversity[2][5][6], '', '', '', 'Technology', '$100', '', '', 'External&SADC']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'DPHIL/MPHIL', ZimbabweOpenUniversity[2][5][6], '', '', '', 'Building', '$25', '', '', 'External&SADC']

ZOU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType
0,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,$445.00,,,,Technology,$100,,,
1,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,$445.00,,,,Building,$25,,,
2,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,$525.00,,,,Technology,$100,,,
3,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,$525.00,,,,Building,$25,,,
4,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,$485.00 (for 5 courses),,,,Technology,$100,,,
5,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,$485.00 (for 5 courses),,,,Building,$25,,,
6,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,$829.00,,,,Technology,$100,,,
7,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,$829.00,,,,Building,$25,,,
8,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$733.00,,,,Technology,$100,,,
9,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$733.00,,,,Building,$25,,,
10,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$1 565.00,,,,Technology,$100,,,
11,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$1 565.00,,,,Building,$25,,,
12,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,$550.00,,,,Technology,$125,,,
13,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,$550.00,,,,Building,$25,,,
14,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,USD645.00,,,,Technology,$100,,,External&SADC
15,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,USD645.00,,,,Building,$25,,,External&SADC
16,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,USD725.00,,,,Technology,$100,,,External&SADC
17,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,USD725.00,,,,Building,$25,,,External&SADC
18,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,USD725.00 (for 5 courses),,,,Technology,$100,,,External&SADC
19,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,USD725.00 (for 5 courses),,,,Building,$25,,,External&SADC
20,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,USD1029.00,,,,Technology,$100,,,External&SADC
21,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,USD1029.00,,,,Building,$25,,,External&SADC
22,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,USD933.00,,,,Technology,$100,,,External&SADC
23,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,USD933.00,,,,Building,$25,,,External&SADC
24,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,USD1 765.00,,,,Technology,$100,,,External&SADC
25,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,USD1 765.00,,,,Building,$25,,,External&SADC

In [76]:
ZimbabweOpenUniversity3=pd.DataFrame(ZimbabweOpenUniversity[3])
ZimbabweOpenUniversity3

,0,1,2,3,4,5
0,PROGRAMME LEVEL,PER COURSE,TOTAL (for 4 courses),Building Levy,Technology,TOTAL PER SEMESTER (for 4 courses)
1,Undergraduate,USD150.00,USD600.00,USD25.00,USD125.00,USD750.00

In [77]:
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering', 'Undergraduate', ZimbabweOpenUniversity[3][5][1], '', '','', 'Technology', '$125', '', '', 'External&SADC']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering', 'Undergraduate', ZimbabweOpenUniversity[3][5][1], '', '','', 'Building', '$25', '', '', 'External&SADC']
ZOU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType
0,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,$445.00,,,,Technology,$100,,,
1,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,$445.00,,,,Building,$25,,,
2,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,$525.00,,,,Technology,$100,,,
3,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,$525.00,,,,Building,$25,,,
4,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,$485.00 (for 5 courses),,,,Technology,$100,,,
5,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,$485.00 (for 5 courses),,,,Building,$25,,,
6,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,$829.00,,,,Technology,$100,,,
7,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,$829.00,,,,Building,$25,,,
8,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$733.00,,,,Technology,$100,,,
9,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$733.00,,,,Building,$25,,,
10,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$1 565.00,,,,Technology,$100,,,
11,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$1 565.00,,,,Building,$25,,,
12,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,$550.00,,,,Technology,$125,,,
13,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,$550.00,,,,Building,$25,,,
14,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,USD645.00,,,,Technology,$100,,,External&SADC
15,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,USD645.00,,,,Building,$25,,,External&SADC
16,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,USD725.00,,,,Technology,$100,,,External&SADC
17,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,USD725.00,,,,Building,$25,,,External&SADC
18,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,USD725.00 (for 5 courses),,,,Technology,$100,,,External&SADC
19,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,USD725.00 (for 5 courses),,,,Building,$25,,,External&SADC
20,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,USD1029.00,,,,Technology,$100,,,External&SADC
21,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,USD1029.00,,,,Building,$25,,,External&SADC
22,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,USD933.00,,,,Technology,$100,,,External&SADC
23,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,USD933.00,,,,Building,$25,,,External&SADC
24,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,USD1 765.00,,,,Technology,$100,,,External&SADC
25,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,USD1 765.00,,,,Building,$25,,,External&SADC
26,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,USD750.00,,,,Technology,$125,,,External&SADC
27,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,USD750.00,,,,Building,$25,,,External&SADC

In [78]:
ZimbabweOpenUniversity4=pd.DataFrame(ZimbabweOpenUniversity[4])
ZimbabweOpenUniversity4

,0,1,2,3,4,5
0,PROGRAMMES,CURRENT PER COURSE,CURRENT TOTAL PER SEMESTER (for 4 courses),Building Levy,Technology Fees,TOTAL PER SEMESTER (for 4 courses)
1,Diploma,USD284.00,USD1 136.00,USD25.00,USD100,USD1 261.00
2,Undergraduate,USD314.00,USD1256.00,USD25.00,USD100,$1 381.00
3,Post Graduate PGDE,USD$319.00,USD$1 595.00 (for 5 courses),USD25.00,USD100,$1 720.00 (for 5 courses)
4,Other Post Graduate,USD$324.00,USD$1 296.00,USD25.00,USD100,$1 421.00
5,MBA,USD$364 .00,USD$1 456.00,USD25.00,USD100,$1 581.00
6,DPHIL/MPHIL,NaN,USD2 096.00 per year,USD 25,USD100,$2 221.00

In [79]:
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Diploma', ZimbabweOpenUniversity[4][5][1], '', '','', 'Technology', '$100', '', '', 'International']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Diploma', ZimbabweOpenUniversity[4][5][1], '', '', '', 'Building', '$25', '', '', 'International']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Undergraduate', ZimbabweOpenUniversity[4][5][2], '', '', '', 'Technology', '$100', '', '', 'International']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Undergraduate', ZimbabweOpenUniversity[4][5][2], '', '', '', 'Building', '$25', '', '', 'International']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Postgraduate PGDE ', ZimbabweOpenUniversity[4][5][3], '', '', '', 'Technology', '$100', '', '', 'International']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Postgraduate PGDE', ZimbabweOpenUniversity[4][5][3], '', '', '', 'Building', '$25', '', '', 'International']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'MBA', ZimbabweOpenUniversity[4][5][4], '', '', '', 'Technology', '$100', '', '', 'International']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'MBA', ZimbabweOpenUniversity[4][5][4], '', '', '', 'Building', '$25', '', '', 'International']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Other Postgraduate', ZimbabweOpenUniversity[4][5][5], '', '', '', 'Technology', '$100', '', '', 'International']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'Other Postgraduate', ZimbabweOpenUniversity[4][5][5], '', '', '', 'Building', '$25', '', '', 'International']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'DPHIL/MPHIL', ZimbabweOpenUniversity[4][5][6], '', '', '', 'Technology', '$100', '', '', 'International']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering, Commercials, Humanities', 'DPHIL/MPHIL', ZimbabweOpenUniversity[4][5][6], '', '', '', 'Building', '$25', '', '', 'International']

ZOU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType
0,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,$445.00,,,,Technology,$100,,,
1,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,$445.00,,,,Building,$25,,,
2,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,$525.00,,,,Technology,$100,,,
3,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,$525.00,,,,Building,$25,,,
4,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,$485.00 (for 5 courses),,,,Technology,$100,,,
5,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,$485.00 (for 5 courses),,,,Building,$25,,,
6,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,$829.00,,,,Technology,$100,,,
7,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,$829.00,,,,Building,$25,,,
8,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$733.00,,,,Technology,$100,,,
9,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$733.00,,,,Building,$25,,,
10,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$1 565.00,,,,Technology,$100,,,
11,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$1 565.00,,,,Building,$25,,,
12,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,$550.00,,,,Technology,$125,,,
13,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,$550.00,,,,Building,$25,,,
14,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,USD645.00,,,,Technology,$100,,,External&SADC
15,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,USD645.00,,,,Building,$25,,,External&SADC
16,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,USD725.00,,,,Technology,$100,,,External&SADC
17,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,USD725.00,,,,Building,$25,,,External&SADC
18,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,USD725.00 (for 5 courses),,,,Technology,$100,,,External&SADC
19,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,USD725.00 (for 5 courses),,,,Building,$25,,,External&SADC
20,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,USD1029.00,,,,Technology,$100,,,External&SADC
21,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,USD1029.00,,,,Building,$25,,,External&SADC
22,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,USD933.00,,,,Technology,$100,,,External&SADC
23,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,USD933.00,,,,Building,$25,,,External&SADC
24,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,USD1 765.00,,,,Technology,$100,,,External&SADC
25,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,USD1 765.00,,,,Building,$25,,,External&SADC
26,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,USD750.00,,,,Technology,$125,,,External&SADC
27,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,USD750.00,,,,Building,$25,,,External&SADC
28,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,USD1 261.00,,,,Technology,$100,,,International
29,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,USD1 261.00,,,,Building,$25,,,International
30,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,$1 381.00,,,,Technology,$100,,,International
31,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,$1 381.00,,,,Building,$25,,,International
32,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,$1 720.00 (for 5 courses),,,,Technology,$100,,,International
33,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,$1 720.00 (for 5 courses),,,,Building,$25,,,International
34,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,$1 421.00,,,,Technology,$100,,,International
35,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,$1 421.00,,,,Building,$25,,,International
36,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$1 581.00,,,,Technology,$100,,,International
37,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$1 581.00,,,,Building,$25,,,International
38,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$2 221.00,,,,Technology,$100,,,International
39,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$2 221.00,,,,Building,$25,,,International

In [80]:
ZimbabweOpenUniversity5=pd.DataFrame(ZimbabweOpenUniversity[5])
ZimbabweOpenUniversity5

,0,1,2,3,4,5
0,PROGRAMME LEVEL,PER COURSE,TOTAL (for 4 courses),Building Levy,Technology,TOTAL PER SEMESTER (for 4 courses)
1,Undergraduate,USD314.00,USD1256.00,USD25.00,USD125.00,USD1406.00

In [81]:
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering', 'Undergraduate', ZimbabweOpenUniversity[5][5][1], '', '','', 'Technology', '$125', '', '', 'International']
ZOU.loc[len(ZOU)] = ['ZimbabweOpenUniversity', 'Science&Engineering', 'Undergraduate', ZimbabweOpenUniversity[5][5][1], '', '','', 'Building', '$25', '', '', 'International']
ZOU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType
0,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,$445.00,,,,Technology,$100,,,
1,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,$445.00,,,,Building,$25,,,
2,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,$525.00,,,,Technology,$100,,,
3,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,$525.00,,,,Building,$25,,,
4,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,$485.00 (for 5 courses),,,,Technology,$100,,,
5,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,$485.00 (for 5 courses),,,,Building,$25,,,
6,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,$829.00,,,,Technology,$100,,,
7,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,$829.00,,,,Building,$25,,,
8,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$733.00,,,,Technology,$100,,,
9,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$733.00,,,,Building,$25,,,
10,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$1 565.00,,,,Technology,$100,,,
11,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$1 565.00,,,,Building,$25,,,
12,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,$550.00,,,,Technology,$125,,,
13,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,$550.00,,,,Building,$25,,,
14,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,USD645.00,,,,Technology,$100,,,External&SADC
15,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,USD645.00,,,,Building,$25,,,External&SADC
16,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,USD725.00,,,,Technology,$100,,,External&SADC
17,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,USD725.00,,,,Building,$25,,,External&SADC
18,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,USD725.00 (for 5 courses),,,,Technology,$100,,,External&SADC
19,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,USD725.00 (for 5 courses),,,,Building,$25,,,External&SADC
20,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,USD1029.00,,,,Technology,$100,,,External&SADC
21,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,USD1029.00,,,,Building,$25,,,External&SADC
22,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,USD933.00,,,,Technology,$100,,,External&SADC
23,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,USD933.00,,,,Building,$25,,,External&SADC
24,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,USD1 765.00,,,,Technology,$100,,,External&SADC
25,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,USD1 765.00,,,,Building,$25,,,External&SADC
26,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,USD750.00,,,,Technology,$125,,,External&SADC
27,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,USD750.00,,,,Building,$25,,,External&SADC
28,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,USD1 261.00,,,,Technology,$100,,,International
29,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,USD1 261.00,,,,Building,$25,,,International
30,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,$1 381.00,,,,Technology,$100,,,International
31,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,$1 381.00,,,,Building,$25,,,International
32,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,$1 720.00 (for 5 courses),,,,Technology,$100,,,International
33,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,$1 720.00 (for 5 courses),,,,Building,$25,,,International
34,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,$1 421.00,,,,Technology,$100,,,International
35,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,$1 421.00,,,,Building,$25,,,International
36,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$1 581.00,,,,Technology,$100,,,International
37,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$1 581.00,,,,Building,$25,,,International
38,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$2 221.00,,,,Technology,$100,,,International
39,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$2 221.00,,,,Building,$25,,,International
40,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,USD1406.00,,,,Technology,$125,,,International
41,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,USD1406.00,,,,Building,$25,,,International

In [82]:
ZOU['Accommodation'] = ''
ZOU['Amount'] = ''
ZOU['underGradNonRes']  = ''
ZOU['DiplomaNonRe'] = ''
ZOU['underGradResDouble']  = ''
ZOU['DiplomaResDouble']  = ''
ZOU['underGradResSingle '] = ''
ZOU['DiplomaResSingle']  = ''
ZOU['ForeignNonRes']  = ''
ZOU['ForeignResDouble']  = ''
ZOU['ForeignResSingle']  = ''
ZOU['BlockRelease']  = ''
ZOU['BScNursingEducation']  = ''
ZOU['MScStrategicManagement']  = ''
ZOU['PostGraduateCorporateGovernance']  = ''
ZOU['MScPostHarvest']  = ''
ZOU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,$445.00,,,,Technology,$100,,...,,,,,,,,,,
1,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,$445.00,,,,Building,$25,,...,,,,,,,,,,
2,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,$525.00,,,,Technology,$100,,...,,,,,,,,,,
3,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,$525.00,,,,Building,$25,,...,,,,,,,,,,
4,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,$485.00 (for 5 courses),,,,Technology,$100,,...,,,,,,,,,,
5,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,$485.00 (for 5 courses),,,,Building,$25,,...,,,,,,,,,,
6,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,$829.00,,,,Technology,$100,,...,,,,,,,,,,
7,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,$829.00,,,,Building,$25,,...,,,,,,,,,,
8,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$733.00,,,,Technology,$100,,...,,,,,,,,,,
9,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$733.00,,,,Building,$25,,...,,,,,,,,,,
10,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$1 565.00,,,,Technology,$100,,...,,,,,,,,,,
11,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$1 565.00,,,,Building,$25,,...,,,,,,,,,,
12,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,$550.00,,,,Technology,$125,,...,,,,,,,,,,
13,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,$550.00,,,,Building,$25,,...,,,,,,,,,,
14,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,USD645.00,,,,Technology,$100,,...,,,,,,,,,,
15,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,USD645.00,,,,Building,$25,,...,,,,,,,,,,
16,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,USD725.00,,,,Technology,$100,,...,,,,,,,,,,
17,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,USD725.00,,,,Building,$25,,...,,,,,,,,,,
18,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,USD725.00 (for 5 courses),,,,Technology,$100,,...,,,,,,,,,,
19,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,USD725.00 (for 5 courses),,,,Building,$25,,...,,,,,,,,,,
20,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,USD1029.00,,,,Technology,$100,,...,,,,,,,,,,
21,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,USD1029.00,,,,Building,$25,,...,,,,,,,,,,
22,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,USD933.00,,,,Technology,$100,,...,,,,,,,,,,
23,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,USD933.00,,,,Building,$25,,...,,,,,,,,,,
24,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,USD1 765.00,,,,Technology,$100,,...,,,,,,,,,,
25,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,USD1 765.00,,,,Building,$25,,...,,,,,,,,,,
26,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,USD750.00,,,,Technology,$125,,...,,,,,,,,,,
27,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,USD750.00,,,,Building,$25,,...,,,,,,,,,,
28,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,USD1 261.00,,,,Technology,$100,,...,,,,,,,,,,
29,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Diploma,USD1 261.00,,,,Building,$25,,...,,,,,,,,,,
30,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,$1 381.00,,,,Technology,$100,,...,,,,,,,,,,
31,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Undergraduate,$1 381.00,,,,Building,$25,,...,,,,,,,,,,
32,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,$1 720.00 (for 5 courses),,,,Technology,$100,,...,,,,,,,,,,
33,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Postgraduate PGDE,$1 720.00 (for 5 courses),,,,Building,$25,,...,,,,,,,,,,
34,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,$1 421.00,,,,Technology,$100,,...,,,,,,,,,,
35,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",MBA,$1 421.00,,,,Building,$25,,...,,,,,,,,,,
36,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$1 581.00,,,,Technology,$100,,...,,,,,,,,,,
37,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$1 581.00,,,,Building,$25,,...,,,,,,,,,,
38,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$2 221.00,,,,Technology,$100,,...,,,,,,,,,,
39,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$2 221.00,,,,Building,$25,,...,,,,,,,,,,
40,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,USD1406.00,,,,Technology,$125,,...,,,,,,,,,,
41,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,USD1406.00,,,,Building,$25,,...,,,,,,,,,,

In [83]:
dfList = [BUSE, UZ, Catholic, GSU, MASU, MSU, NUST, ZOU]
Colleges = pd.concat(dfList)
Colleges

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,BinduraUniversity,"Humanities, Commercials",Undergraduate,US$620,,,,,,,...,,,,,,,,,,
1,BinduraUniversity,Medicine,Undergraduate,US$700,,,,,,,...,,,,,,,,,,
2,BinduraUniversity,Science&Engineering,Undergraduate,US$680,,,,,,,...,,,,,,,,,,
3,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Certificate/Diploma,US$550,,,,,,,...,,,,,,,,,,
4,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Medical Aid,US$35,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",Other Postgraduate,$1 581.00,,,,Building,$25,,...,,,,,,,,,,
38,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$2 221.00,,,,Technology,$100,,...,,,,,,,,,,
39,ZimbabweOpenUniversity,"Science&Engineering, Commercials, Humanities",DPHIL/MPHIL,$2 221.00,,,,Building,$25,,...,,,,,,,,,,
40,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,USD1406.00,,,,Technology,$125,,...,,,,,,,,,,
41,ZimbabweOpenUniversity,Science&Engineering,Undergraduate,USD1406.00,,,,Building,$25,,...,,,,,,,,,,

# Great Zimbabwe

In [84]:
GreatZimbaweUniversity = tabula.read_pdf('FEES-SUMMARY-AUGUST-2023.pdf' , pages='all')
GreatZimbaweUniversity[0]

,CONVENTIONAL PROGRAMMES,NEW\rSTUDENT,RETURNING\rSTUDENT,STUDENT\rON WORK\rRELATED\rLEARNING
0,NaN,USD$,USD$,USD$
1,SCHOOL OF AGRICULTURE AND ENGINEERING,NaN,NaN,NaN
2,Bachelor of Science,570,560,400
3,NaN,NaN,NaN,NaN
4,SCHOOL OF NATURAL SCIENCES,NaN,NaN,NaN
5,Bachelor of Science,570,560,400
6,NaN,NaN,NaN,NaN
7,SCHOOL OF MEDICAL AND HEALTH SCIENCES,NaN,NaN,NaN
8,Bachelor of Science,635,625,-
9,NaN,NaN,NaN,NaN
10,SCHOOL OF LAW,NaN,NaN,NaN
11,Bachelor of Law: LLB,520,510,370
12,NaN,NaN,NaN,NaN
13,SCHOOL OF HERITAGE AND EDUCATION,NaN,NaN,NaN
14,Bachelor of Arts & Bachelor of Education (with...,) 490,480,340
15,Bachelor of Arts & Bachelor of Education (with...,520,510,370
16,NaN,NaN,NaN,NaN
17,SCHOOL OF COMMERCE,NaN,NaN,NaN
18,Bachelor of Commerce (without practicals),490,480,340
19,Bachelor of Commerce (with practicals) Tourism...,y & C u lt u 5re20,510,370
20,NaN,NaN,NaN,NaN
21,SCHOOL OF SOCIAL SCIENCES,NaN,NaN,NaN
22,Bachelor of Science (without practicals),490,480,340
23,Bachelor of Science (with practicals),520,510,370

In [85]:
GreatZimbaweUniversity[1]

,Unnamed: 0,NEW\rSTUDENT,RETURNING\rSTUDENT
0,NaN,USD$,USD$
1,SCHOOL OF AGRICULTURE AND ENGINEERING,NaN,NaN
2,Bachelor of Science (Masvingo Cohort),570,560
3,Bachelor of Science (Chiredzi Cohort),720,710
4,Master of Science (Masvingo Cohort),660,650
5,Diploma in Sugarcane Farming (Chiredzi Cohort),430,420
6,Certificate in Sugarcane Farming (Chiredzi Coh...,390,380
7,NaN,NaN,NaN
8,SCHOOL OF NATURAL SCIENCES,NaN,NaN
9,Bachelor of Science (Masvingo Cohort),570,560
10,Master of Science (Masvingo Cohort),660,650
11,NaN,NaN,NaN
12,"SCHOOL OF HERITAGE, EDUCATION AND CULTURE",NaN,NaN
13,Bachelor of Arts Special Honours (without prac...,o h o r t 490,480
14,Bachelor of Arts Special Honours (with practic...,o r t 520,510
15,Bachelor of Arts (without practicals) Masvingo...,490,480
16,Bachelor of Arts (with practicals) Masvingo/Ma...,520,510
17,Master of Arts (without practicals) (Masvingo/...,610,600
18,NaN,NaN,NaN
19,Bachelor of Education In-Service (without prac...,o h o r t 490,480
20,Bachelor of Education In-Servce (with practica...,r t ) 520,510
21,Bachelor of Education (without practicals) (Bu...,690,680
22,Bachelor of Education (with practicals) (Bulaw...,720,710
23,NaN,NaN,NaN
24,M.Ed (without practicals) Masvingo/Mashava Cohort,610,600
25,M.Ed (without practicals) Harare/Bulawayo Cohort,810,800
26,"M.Ed (with practicals) ECD, Inclusive Educatio...",r t ) 640,630
27,"M.Ed (with practicals) ECD, Inclusive Educatio...",840,830
28,Post-graduate Diploma Higher and Tertiary Educ...,370,360
29,Graduate Diploma in Education (Grad. DE),370,360
30,NaN,NaN,NaN
31,SCHOOL OF COMMERCE,NaN,NaN
32,Bachelor of Commerce Special Honours (Masvingo...,490,480
33,Bachelor of Commerce Special Honours (Bulawayo...,690,680
34,Bachelor of Commerce (Masvingo/Mashava Cohort),490,480
35,Bachelor of Commerce (Bulawayo/Harare Cohort),690,680
36,MBA/ M.Com/ Master Development Finance (Masvin...,610,600
37,MBA/ M.Com/ Master Development Finance (Bulawa...,810,800
38,Post graduate Diploma Digital Marketing /Entre...,o r t ) 370,360
39,Post graduate Diploma Digital Marketing/ Entre...,r t ) 570,560

In [86]:
Uni = []
faculty = []
level = []
fees = []
online = []
fees = []
para = []
fees = []
fees1 = []
campus = []
campus = []
student = []

for i in GreatZimbaweUniversity[0].index[1:]:
    Uni.append( GreatZimbaweUniversity)
    
len(Uni)

23

In [87]:
GZU = pd.DataFrame(list(zip(Uni, faculty, level, fees, online, fees, para, fees,fees1, campus, campus, student)), 
                   columns = ['University', 'Faculty', 'Level', 'Conventional','Online', 'Block', 'Parallel', 'FeesType', 'FeesAmount', 'Campus', 'OtherCampus', 'StudentType',
                             ])
GZU

Empty DataFrame
Columns: [University, Faculty, Level, Conventional, Online, Block, Parallel, FeesType, FeesAmount, Campus, OtherCampus, StudentType]
Index: []

In [88]:
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Science&Engineering', '1.1', GreatZimbaweUniversity[0]['NEW\rSTUDENT'][2], '', '', '', '', '', '', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Science&Engineering', '1.2, 2 & 4', GreatZimbaweUniversity[0]['RETURNING\rSTUDENT'][2], '', '', '', '', '', '', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Science&Engineering', '3', GreatZimbaweUniversity[0]['STUDENT\rON WORK\rRELATED\rLEARNING'][2], '', '', '', '', '', '', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Science&Engineering', '1.1', GreatZimbaweUniversity[0]['NEW\rSTUDENT'][8], '', '', '', '', '', '', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Science&Engineering', '1.2, 2 & 4', GreatZimbaweUniversity[0]['RETURNING\rSTUDENT'][8], '', '', '', '', '', '', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Science&Engineering', '3', GreatZimbaweUniversity[0]['STUDENT\rON WORK\rRELATED\rLEARNING'][8], '', '', '', '', '', '', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', '1.1', '520', '', '', '', '', '', '', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', '1.2, 2 & 4', GreatZimbaweUniversity[0]['RETURNING\rSTUDENT'][11], '', '', '', '', '', '', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', '3', '370', '', '', '', '', '', '', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', '1.1', '490', '', '', '', '', '', '', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', '1.2, 2 & 4', GreatZimbaweUniversity[0]['RETURNING\rSTUDENT'][14], '', '', '', '', '', '', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', '3', GreatZimbaweUniversity[0]['STUDENT\rON WORK\rRELATED\rLEARNING'][14], '', '', '', '', '', '', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Commercials', '1.1', GreatZimbaweUniversity[0]['NEW\rSTUDENT'][18], '', '', '', '', '', '', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Commercials', '1.2, 2 & 4', GreatZimbaweUniversity[0]['RETURNING\rSTUDENT'][18], '', '', '', '', '', '', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Commercials', '3', GreatZimbaweUniversity[0]['STUDENT\rON WORK\rRELATED\rLEARNING'][18], '', '', '', '', '', '', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Commercials', '1.1', GreatZimbaweUniversity[0]['NEW\rSTUDENT'][23], '', '', '', '', '', '', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Commercials', '1.2, 2 & 4', GreatZimbaweUniversity[0]['RETURNING\rSTUDENT'][23], '', '', '', '', '', '', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Commercials', '3', GreatZimbaweUniversity[0]['STUDENT\rON WORK\rRELATED\rLEARNING'][23], '', '', '', '', '', '', '', '']
GZU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType
0,GreatZimbaweUniversity,Science&Engineering,1.1,570,,,,,,,,
1,GreatZimbaweUniversity,Science&Engineering,"1.2, 2 & 4",560,,,,,,,,
2,GreatZimbaweUniversity,Science&Engineering,3,400,,,,,,,,
3,GreatZimbaweUniversity,Science&Engineering,1.1,635,,,,,,,,
4,GreatZimbaweUniversity,Science&Engineering,"1.2, 2 & 4",625,,,,,,,,
5,GreatZimbaweUniversity,Science&Engineering,3,-,,,,,,,,
6,GreatZimbaweUniversity,Humanities,1.1,520,,,,,,,,
7,GreatZimbaweUniversity,Humanities,"1.2, 2 & 4",510,,,,,,,,
8,GreatZimbaweUniversity,Humanities,3,370,,,,,,,,
9,GreatZimbaweUniversity,Humanities,1.1,490,,,,,,,,
10,GreatZimbaweUniversity,Humanities,"1.2, 2 & 4",480,,,,,,,,
11,GreatZimbaweUniversity,Humanities,3,340,,,,,,,,
12,GreatZimbaweUniversity,Commercials,1.1,490,,,,,,,,
13,GreatZimbaweUniversity,Commercials,"1.2, 2 & 4",480,,,,,,,,
14,GreatZimbaweUniversity,Commercials,3,340,,,,,,,,
15,GreatZimbaweUniversity,Commercials,1.1,520,,,,,,,,
16,GreatZimbaweUniversity,Commercials,"1.2, 2 & 4",510,,,,,,,,
17,GreatZimbaweUniversity,Commercials,3,370,,,,,,,,

In [89]:
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Science&Engineering', 'Undergraduate', '', '', GreatZimbaweUniversity[1]['NEW\rSTUDENT'][2], '', '', '', 'Masvingo', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Science&Engineering', 'Undergraduate', '', '', GreatZimbaweUniversity[1]['RETURNING\rSTUDENT'][2], '', '', '', 'Masvingo', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Science&Engineering', 'Undergraduate', '', '', GreatZimbaweUniversity[1]['NEW\rSTUDENT'][3], '', '', '', 'Chiredzi', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Science&Engineering', 'Undergraduate', '', '', GreatZimbaweUniversity[1]['RETURNING\rSTUDENT'][3], '', '', '', 'Chiredzi', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Science&Engineering', 'PostgraduateDiploma', '', '', GreatZimbaweUniversity[1]['NEW\rSTUDENT'][4], '', '', '', 'Masvingo', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Science&Engineering', 'PostgraduateDiploma', '', '', GreatZimbaweUniversity[1]['RETURNING\rSTUDENT'][4], '', '', '', 'Chiredzi', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Science&Engineering', 'Diploma', '', '', GreatZimbaweUniversity[1]['NEW\rSTUDENT'][5], '', '', '', 'Chiredzi', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Science&Engineering', 'Diploma', '', '', GreatZimbaweUniversity[1]['RETURNING\rSTUDENT'][5], '', '', '', 'Chiredzi', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Science&Engineering', 'Certificate', '', '', GreatZimbaweUniversity[1]['NEW\rSTUDENT'][6], '', '', '', 'Chiredzi', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Science&Engineering', 'Certificate', '', '', GreatZimbaweUniversity[1]['RETURNING\rSTUDENT'][6], '', '', '', 'Chiredzi', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', 'Undergraduate', '', '', '490', '', '', 'Masvingo/Mashava', '', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', 'Undergraduate', '', '', GreatZimbaweUniversity[1]['RETURNING\rSTUDENT'][13], '', '', '', 'Masvingo/Mashava', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', 'Undergraduate', '', '', '520', '', '', '', 'Masvingo/Mashava', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', 'Undergraduate', '', '',  GreatZimbaweUniversity[1]['RETURNING\rSTUDENT'][14], '', '', '', 'Masvingo/Mashava', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', 'Postgraduate', '', '','610','', '', '', 'Masvingo/Mashava', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', 'Postgraduate', '', '', '600','', '', '', 'Masvingo/Mashava', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', 'Undergraduate', '', '', GreatZimbaweUniversity[1]['NEW\rSTUDENT'][21], '', '', '', 'Bulawayo/Harare', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', 'Undergraduate', '', '',GreatZimbaweUniversity[1]['RETURNING\rSTUDENT'][21], '', '', '', 'Bulawayo/Harare', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', 'Undergraduate', '', '', GreatZimbaweUniversity[1]['NEW\rSTUDENT'][22],'', '', '', 'Masvingo', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', 'Undergraduate', '', '', GreatZimbaweUniversity[1]['RETURNING\rSTUDENT'][22], '', '','', 'Masvingo', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', 'Undergraduate', '', '', GreatZimbaweUniversity[1]['NEW\rSTUDENT'][25], '', '', '', 'Bulawayo/Harare', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', 'Undergraduate', '', '', GreatZimbaweUniversity[1]['RETURNING\rSTUDENT'][25], '', '', '', 'Bulawayo/Harare', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', 'Undergraduate', '', '', '640', '', '', '', 'Masvingo', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', 'Undergraduate', '', '', GreatZimbaweUniversity[1]['RETURNING\rSTUDENT'][26], '', '', '', 'Masvingo', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', 'Undergraduate', '', '', GreatZimbaweUniversity[1]['NEW\rSTUDENT'][27], '', '', '', 'Bulawayo/Harare', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', 'Undergraduate', '', '', GreatZimbaweUniversity[1]['RETURNING\rSTUDENT'][27], '', '', '', 'Bulawayo/Harare', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', 'Postgraduate', '', '', GreatZimbaweUniversity[1]['NEW\rSTUDENT'][28], '', '', '', 'Bulawayo/Harare', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', 'Postgraduate', '', '', GreatZimbaweUniversity[1]['RETURNING\rSTUDENT'][28], '', '', '', 'Bulawayo/Harare', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', 'Undergraduate', '', '', GreatZimbaweUniversity[1]['NEW\rSTUDENT'][29], '', '', '', 'Bulawayo/Harare', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Humanities', 'Undergraduate', '', '', GreatZimbaweUniversity[1]['RETURNING\rSTUDENT'][29], '', '', '', 'Bulawayo/Harare', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Commercials', 'Undergraduate', '', '', GreatZimbaweUniversity[1]['NEW\rSTUDENT'][32], '', '', '', 'Masvingo', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Commercials', 'Undergraduate', '', '', GreatZimbaweUniversity[1]['RETURNING\rSTUDENT'][32], '', '', '', 'Masvingo', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Commercials', 'Undergraduate', '', '', GreatZimbaweUniversity[1]['NEW\rSTUDENT'][33],'', '', '', 'Bulawayo/Harare', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Commercials', 'Undergraduate', '', '', GreatZimbaweUniversity[1]['RETURNING\rSTUDENT'][33], '', '', '', 'Bulawayo/Harare', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Commercials', 'Postgraduate', '', '', GreatZimbaweUniversity[1]['NEW\rSTUDENT'][36], '', '', '', 'Masvingo', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Commercials', 'Postgraduate', '', '', GreatZimbaweUniversity[1]['RETURNING\rSTUDENT'][36], '', '', '', 'Masvingo', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Commercials', 'Postgraduate', '', '', GreatZimbaweUniversity[1]['NEW\rSTUDENT'][37], '', '', '', 'Bulawayo/Harare', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Commercials', 'Postgraduate', '', '', GreatZimbaweUniversity[1]['RETURNING\rSTUDENT'][37], '', '', '', 'Bulawayo/Harare', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Commercials', 'Postgraduate', '', '', '370', '', '', '', 'Masvingo', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Commercials', 'Postgraduate', '', '', GreatZimbaweUniversity[1]['RETURNING\rSTUDENT'][38], '', '', '', 'Masvingo', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Commercials', 'Postgraduate', '', '', '570', '', '', '', 'Bulawayo/Harare', '', '']
GZU.loc[len(GZU)] = ['GreatZimbaweUniversity', 'Commercials', 'Postgraduate', '', '', GreatZimbaweUniversity[1]['RETURNING\rSTUDENT'][39], '', '', '', 'Bulawayo/Harare', '', '']
GZU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType
0,GreatZimbaweUniversity,Science&Engineering,1.1,570,,,,,,,,
1,GreatZimbaweUniversity,Science&Engineering,"1.2, 2 & 4",560,,,,,,,,
2,GreatZimbaweUniversity,Science&Engineering,3,400,,,,,,,,
3,GreatZimbaweUniversity,Science&Engineering,1.1,635,,,,,,,,
4,GreatZimbaweUniversity,Science&Engineering,"1.2, 2 & 4",625,,,,,,,,
5,GreatZimbaweUniversity,Science&Engineering,3,-,,,,,,,,
6,GreatZimbaweUniversity,Humanities,1.1,520,,,,,,,,
7,GreatZimbaweUniversity,Humanities,"1.2, 2 & 4",510,,,,,,,,
8,GreatZimbaweUniversity,Humanities,3,370,,,,,,,,
9,GreatZimbaweUniversity,Humanities,1.1,490,,,,,,,,
10,GreatZimbaweUniversity,Humanities,"1.2, 2 & 4",480,,,,,,,,
11,GreatZimbaweUniversity,Humanities,3,340,,,,,,,,
12,GreatZimbaweUniversity,Commercials,1.1,490,,,,,,,,
13,GreatZimbaweUniversity,Commercials,"1.2, 2 & 4",480,,,,,,,,
14,GreatZimbaweUniversity,Commercials,3,340,,,,,,,,
15,GreatZimbaweUniversity,Commercials,1.1,520,,,,,,,,
16,GreatZimbaweUniversity,Commercials,"1.2, 2 & 4",510,,,,,,,,
17,GreatZimbaweUniversity,Commercials,3,370,,,,,,,,
18,GreatZimbaweUniversity,Science&Engineering,Undergraduate,,,570,,,,Masvingo,,
19,GreatZimbaweUniversity,Science&Engineering,Undergraduate,,,560,,,,Masvingo,,
20,GreatZimbaweUniversity,Science&Engineering,Undergraduate,,,720,,,,Chiredzi,,
21,GreatZimbaweUniversity,Science&Engineering,Undergraduate,,,710,,,,Chiredzi,,
22,GreatZimbaweUniversity,Science&Engineering,PostgraduateDiploma,,,660,,,,Masvingo,,
23,GreatZimbaweUniversity,Science&Engineering,PostgraduateDiploma,,,650,,,,Chiredzi,,
24,GreatZimbaweUniversity,Science&Engineering,Diploma,,,430,,,,Chiredzi,,
25,GreatZimbaweUniversity,Science&Engineering,Diploma,,,420,,,,Chiredzi,,
26,GreatZimbaweUniversity,Science&Engineering,Certificate,,,390,,,,Chiredzi,,
27,GreatZimbaweUniversity,Science&Engineering,Certificate,,,380,,,,Chiredzi,,
28,GreatZimbaweUniversity,Humanities,Undergraduate,,,490,,,Masvingo/Mashava,,,
29,GreatZimbaweUniversity,Humanities,Undergraduate,,,480,,,,Masvingo/Mashava,,
30,GreatZimbaweUniversity,Humanities,Undergraduate,,,520,,,,Masvingo/Mashava,,
31,GreatZimbaweUniversity,Humanities,Undergraduate,,,510,,,,Masvingo/Mashava,,
32,GreatZimbaweUniversity,Humanities,Postgraduate,,,610,,,,Masvingo/Mashava,,
33,GreatZimbaweUniversity,Humanities,Postgraduate,,,600,,,,Masvingo/Mashava,,
34,GreatZimbaweUniversity,Humanities,Undergraduate,,,690,,,,Bulawayo/Harare,,
35,GreatZimbaweUniversity,Humanities,Undergraduate,,,680,,,,Bulawayo/Harare,,
36,GreatZimbaweUniversity,Humanities,Undergraduate,,,720,,,,Masvingo,,
37,GreatZimbaweUniversity,Humanities,Undergraduate,,,710,,,,Masvingo,,
38,GreatZimbaweUniversity,Humanities,Undergraduate,,,810,,,,Bulawayo/Harare,,
39,GreatZimbaweUniversity,Humanities,Undergraduate,,,800,,,,Bulawayo/Harare,,
40,GreatZimbaweUniversity,Humanities,Undergraduate,,,640,,,,Masvingo,,
41,GreatZimbaweUniversity,Humanities,Undergraduate,,,630,,,,Masvingo,,
42,GreatZimbaweUniversity,Humanities,Undergraduate,,,840,,,,Bulawayo/Harare,,
43,GreatZimbaweUniversity,Humanities,Undergraduate,,,830,,,,Bulawayo/Harare,,
44,GreatZimbaweUniversity,Humanities,Postgraduate,,,370,,,,Bulawayo/Harare,,
45,GreatZimbaweUniversity,Humanities,Postgraduate,,,360,,,,Bulawayo/Harare,,
46,GreatZimbaweUniversity,Humanities,Undergraduate,,,370,,,,Bulawayo/Harare,,
47,GreatZimbaweUniversity,Humanities,Undergraduate,,,360,,,,Bulawayo/Harare,,
48,GreatZimbaweUniversity,Commercials,Undergraduate,,,490,,,,Masvingo,,
49,GreatZimbaweUniversity,Commercials,Undergraduate,,,480,,,,Masvingo,,
50,GreatZimbaweUniversity,Commercials,Undergraduate,,,690,,,,Bulawayo/Harare,,
51,GreatZimbaweUniversity,Commercials,Undergraduate,,,680,,,,Bulawayo/Harare,,
52,GreatZimbaweUniversity,Commercials,Postgraduate,,,610,,,,Masvingo,,
53,GreatZimbaweUniversity,Commercials,Postgraduate,,,600,,,,Masvingo,,
54,GreatZimbaweUniversity,Commercials,Postgraduate,,,810,,,,Bulawayo/Harare,,
55,GreatZimbaweUniversity,Commercials,Postgraduate,,,800,,,,Bulawayo/Harare,,
56,GreatZimbaweUniversity,Commercials,Postgraduate,,,370,,,,Masvingo,,
57,GreatZimbaweUniversity,Commercials,Postgraduate,,,360,,,,Masvingo,,
58,GreatZimbaweUniversity,Commercials,Postgraduate,,,570,,,,Bulawayo/Harare,,
59,GreatZimbaweUniversity,Commercials,Postgraduate,,,560,,,,Bulawayo/Harare,,

In [90]:
GZU['Accommodation'] = ''
GZU['Amount'] = ''
GZU['underGradNonRes']  = ''
GZU['DiplomaNonRe'] = ''
GZU['underGradResDouble']  = ''
GZU['DiplomaResDouble']  = ''
GZU['underGradResSingle '] = ''
GZU['DiplomaResSingle']  = ''
GZU['ForeignNonRes']  = ''
GZU['ForeignResDouble']  = ''
GZU['ForeignResSingle']  = ''
GZU['BlockRelease']  = ''
GZU['BScNursingEducation']  = ''
GZU['MScStrategicManagement']  = ''
GZU['PostGraduateCorporateGovernance']  = ''
GZU['MScPostHarvest']  = ''
GZU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,GreatZimbaweUniversity,Science&Engineering,1.1,570,,,,,,,...,,,,,,,,,,
1,GreatZimbaweUniversity,Science&Engineering,"1.2, 2 & 4",560,,,,,,,...,,,,,,,,,,
2,GreatZimbaweUniversity,Science&Engineering,3,400,,,,,,,...,,,,,,,,,,
3,GreatZimbaweUniversity,Science&Engineering,1.1,635,,,,,,,...,,,,,,,,,,
4,GreatZimbaweUniversity,Science&Engineering,"1.2, 2 & 4",625,,,,,,,...,,,,,,,,,,
5,GreatZimbaweUniversity,Science&Engineering,3,-,,,,,,,...,,,,,,,,,,
6,GreatZimbaweUniversity,Humanities,1.1,520,,,,,,,...,,,,,,,,,,
7,GreatZimbaweUniversity,Humanities,"1.2, 2 & 4",510,,,,,,,...,,,,,,,,,,
8,GreatZimbaweUniversity,Humanities,3,370,,,,,,,...,,,,,,,,,,
9,GreatZimbaweUniversity,Humanities,1.1,490,,,,,,,...,,,,,,,,,,
10,GreatZimbaweUniversity,Humanities,"1.2, 2 & 4",480,,,,,,,...,,,,,,,,,,
11,GreatZimbaweUniversity,Humanities,3,340,,,,,,,...,,,,,,,,,,
12,GreatZimbaweUniversity,Commercials,1.1,490,,,,,,,...,,,,,,,,,,
13,GreatZimbaweUniversity,Commercials,"1.2, 2 & 4",480,,,,,,,...,,,,,,,,,,
14,GreatZimbaweUniversity,Commercials,3,340,,,,,,,...,,,,,,,,,,
15,GreatZimbaweUniversity,Commercials,1.1,520,,,,,,,...,,,,,,,,,,
16,GreatZimbaweUniversity,Commercials,"1.2, 2 & 4",510,,,,,,,...,,,,,,,,,,
17,GreatZimbaweUniversity,Commercials,3,370,,,,,,,...,,,,,,,,,,
18,GreatZimbaweUniversity,Science&Engineering,Undergraduate,,,570,,,,Masvingo,...,,,,,,,,,,
19,GreatZimbaweUniversity,Science&Engineering,Undergraduate,,,560,,,,Masvingo,...,,,,,,,,,,
20,GreatZimbaweUniversity,Science&Engineering,Undergraduate,,,720,,,,Chiredzi,...,,,,,,,,,,
21,GreatZimbaweUniversity,Science&Engineering,Undergraduate,,,710,,,,Chiredzi,...,,,,,,,,,,
22,GreatZimbaweUniversity,Science&Engineering,PostgraduateDiploma,,,660,,,,Masvingo,...,,,,,,,,,,
23,GreatZimbaweUniversity,Science&Engineering,PostgraduateDiploma,,,650,,,,Chiredzi,...,,,,,,,,,,
24,GreatZimbaweUniversity,Science&Engineering,Diploma,,,430,,,,Chiredzi,...,,,,,,,,,,
25,GreatZimbaweUniversity,Science&Engineering,Diploma,,,420,,,,Chiredzi,...,,,,,,,,,,
26,GreatZimbaweUniversity,Science&Engineering,Certificate,,,390,,,,Chiredzi,...,,,,,,,,,,
27,GreatZimbaweUniversity,Science&Engineering,Certificate,,,380,,,,Chiredzi,...,,,,,,,,,,
28,GreatZimbaweUniversity,Humanities,Undergraduate,,,490,,,Masvingo/Mashava,,...,,,,,,,,,,
29,GreatZimbaweUniversity,Humanities,Undergraduate,,,480,,,,Masvingo/Mashava,...,,,,,,,,,,
30,GreatZimbaweUniversity,Humanities,Undergraduate,,,520,,,,Masvingo/Mashava,...,,,,,,,,,,
31,GreatZimbaweUniversity,Humanities,Undergraduate,,,510,,,,Masvingo/Mashava,...,,,,,,,,,,
32,GreatZimbaweUniversity,Humanities,Postgraduate,,,610,,,,Masvingo/Mashava,...,,,,,,,,,,
33,GreatZimbaweUniversity,Humanities,Postgraduate,,,600,,,,Masvingo/Mashava,...,,,,,,,,,,
34,GreatZimbaweUniversity,Humanities,Undergraduate,,,690,,,,Bulawayo/Harare,...,,,,,,,,,,
35,GreatZimbaweUniversity,Humanities,Undergraduate,,,680,,,,Bulawayo/Harare,...,,,,,,,,,,
36,GreatZimbaweUniversity,Humanities,Undergraduate,,,720,,,,Masvingo,...,,,,,,,,,,
37,GreatZimbaweUniversity,Humanities,Undergraduate,,,710,,,,Masvingo,...,,,,,,,,,,
38,GreatZimbaweUniversity,Humanities,Undergraduate,,,810,,,,Bulawayo/Harare,...,,,,,,,,,,
39,GreatZimbaweUniversity,Humanities,Undergraduate,,,800,,,,Bulawayo/Harare,...,,,,,,,,,,
40,GreatZimbaweUniversity,Humanities,Undergraduate,,,640,,,,Masvingo,...,,,,,,,,,,
41,GreatZimbaweUniversity,Humanities,Undergraduate,,,630,,,,Masvingo,...,,,,,,,,,,
42,GreatZimbaweUniversity,Humanities,Undergraduate,,,840,,,,Bulawayo/Harare,...,,,,,,,,,,
43,GreatZimbaweUniversity,Humanities,Undergraduate,,,830,,,,Bulawayo/Harare,...,,,,,,,,,,
44,GreatZimbaweUniversity,Humanities,Postgraduate,,,370,,,,Bulawayo/Harare,...,,,,,,,,,,
45,GreatZimbaweUniversity,Humanities,Postgraduate,,,360,,,,Bulawayo/Harare,...,,,,,,,,,,
46,GreatZimbaweUniversity,Humanities,Undergraduate,,,370,,,,Bulawayo/Harare,...,,,,,,,,,,
47,GreatZimbaweUniversity,Humanities,Undergraduate,,,360,,,,Bulawayo/Harare,...,,,,,,,,,,
48,GreatZimbaweUniversity,Commercials,Undergraduate,,,490,,,,Masvingo,...,,,,,,,,,,
49,GreatZimbaweUniversity,Commercials,Undergraduate,,,480,,,,Masvingo,...,,,,,,,,,,
50,GreatZimbaweUniversity,Commercials,Undergraduate,,,690,,,,Bulawayo/Harare,...,,,,,,,,,,
51,GreatZimbaweUniversity,Commercials,Undergraduate,,,680,,,,Bulawayo/Harare,...,,,,,,,,,,
52,GreatZimbaweUniversity,Commercials,Postgraduate,,,610,,,,Masvingo,...,,,,,,,,,,
53,GreatZimbaweUniversity,Commercials,Postgraduate,,,600,,,,Masvingo,...,,,,,,,,,,
54,GreatZimbaweUniversity,Commercials,Postgraduate,,,810,,,,Bulawayo/Harare,...,,,,,,,,,,
55,GreatZimbaweUniversity,Commercials,Postgraduate,,,800,,,,Bulawayo/Harare,...,,,,,,,,,,
56,GreatZimbaweUniversity,Commercials,Postgraduate,,,370,,,,Masvingo,...,,,,,,,,,,
57,GreatZimbaweUniversity,Commercials,Postgraduate,,,360,,,,Masvingo,...,,,,,,,,,,
58,GreatZimbaweUniversity,Commercials,Postgraduate,,,570,,,,Bulawayo/Harare,...,,,,,,,,,,
59,GreatZimbaweUniversity,Commercials,Postgraduate,,,560,,,,Bulawayo/Harare,...,,,,,,,,,,

In [91]:
dfList = [BUSE, UZ, Catholic, GSU, MASU, MSU, NUST, ZOU, GZU]
Colleges = pd.concat(dfList)
Colleges

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,BinduraUniversity,"Humanities, Commercials",Undergraduate,US$620,,,,,,,...,,,,,,,,,,
1,BinduraUniversity,Medicine,Undergraduate,US$700,,,,,,,...,,,,,,,,,,
2,BinduraUniversity,Science&Engineering,Undergraduate,US$680,,,,,,,...,,,,,,,,,,
3,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Certificate/Diploma,US$550,,,,,,,...,,,,,,,,,,
4,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Medical Aid,US$35,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,GreatZimbaweUniversity,Commercials,Postgraduate,,,800,,,,Bulawayo/Harare,...,,,,,,,,,,
56,GreatZimbaweUniversity,Commercials,Postgraduate,,,370,,,,Masvingo,...,,,,,,,,,,
57,GreatZimbaweUniversity,Commercials,Postgraduate,,,360,,,,Masvingo,...,,,,,,,,,,
58,GreatZimbaweUniversity,Commercials,Postgraduate,,,570,,,,Bulawayo/Harare,...,,,,,,,,,,
59,GreatZimbaweUniversity,Commercials,Postgraduate,,,560,,,,Bulawayo/Harare,...,,,,,,,,,,

# Zimbabwe national defence university

-No hyperlink or tables

# Marondera university

In [92]:
import re
from pdfminer.high_level import extract_pages, extract_text

In [93]:
text = extract_text("Marondera University.pdf")
text

'Fees Information \n\nUndergraduate  Total Fees \nSciences: ZWL$377 000.00 \n\nHumanities: ZWL$333 000.00 \nAccommodation (Dozmery Campus): US$ 140 \n\nStudents on Industrial Attachement Total Fees \n(Calculated as 60% of tuition fees plus the mandatory fee) \n\nSciences: ZWL$313 200.00 \nHumanities: ZWL$284 600.20 \n\nInternational Total Fees \nSciences: US$1 750.00 \nHumanities: US$1 500.00 \n\nMasters Total Fees \nSciences: US$500.00 \nHumanities: US$435.00 \n\nMPhil Total Fees                           Locals                       International \nHumanities:                                    1020.00USD              1660.00USD \nSciences:                                         1120.00USD              1730.00USD \n\nDPhil Total Fees \nHumanities:                                    1220.00USD              1760.00USD \nSciences:                                        1320.00USD               1830.00USD \n\n\x0c'

In [94]:
x=[]
for i in text:
    if i!='\n'and i!='*': 
       print(i, end='')

Fees Information Undergraduate  Total Fees Sciences: ZWL$377 000.00 Humanities: ZWL$333 000.00 Accommodation (Dozmery Campus): US$ 140 Students on Industrial Attachement Total Fees (Calculated as 60% of tuition fees plus the mandatory fee) Sciences: ZWL$313 200.00 Humanities: ZWL$284 600.20 International Total Fees Sciences: US$1 750.00 Humanities: US$1 500.00 Masters Total Fees Sciences: US$500.00 Humanities: US$435.00 MPhil Total Fees                           Locals                       International Humanities:                                    1020.00USD              1660.00USD Sciences:                                         1120.00USD              1730.00USD DPhil Total Fees Humanities:                                    1220.00USD              1760.00USD Sciences:                                        1320.00USD               1830.00USD

In [95]:
Uni = []
faculty = []
level = []
fees = []
online = []
fees = []
para = []
fees = []
fees1 = []
campus = []
campus = []
student = []
accom = []
amnt = []

In [96]:
MARONDERA = pd.DataFrame(list(zip(Uni, faculty, level, fees, online, fees, para, fees,fees1, campus, campus, student, accom, amnt)), 
                   columns = ['University', 'Faculty', 'Level', 'Conventional','Online', 'Block', 'Parallel','FeesType', 'FeesAmount', 'Campus', 'OtherCampus', 'StudentType', 'Accommodation', 'Amount',
                             ])
MARONDERA

Empty DataFrame
Columns: [University, Faculty, Level, Conventional, Online, Block, Parallel, FeesType, FeesAmount, Campus, OtherCampus, StudentType, Accommodation, Amount]
Index: []

In [97]:
MARONDERA.loc[len(MARONDERA)] = ['MaronderaUniversity', 'Science&Engineering', 'Undergraduate', 'ZWL$377 000.00', '', '', '', '', '', '', '', '', 'Dozmery', 'US$140']
MARONDERA.loc[len(MARONDERA)] = ['MaronderaUniversity', 'Humanities', 'Undergraduate', 'ZWL$333 000.00', '', '', '', '', '', '', '', '', 'Dozmery', 'US$140']
MARONDERA.loc[len(MARONDERA)] = ['MaronderaUniversity', 'Science&Engineering', '3', 'ZWL$313 200.00', '', '', '', '', '', '', '', '', '', '']
MARONDERA.loc[len(MARONDERA)] = ['MaronderaUniversity', 'Humanities', '3', 'ZWL$284 600.20', '', '', '', '', '', '', '', '', '', '']
MARONDERA.loc[len(MARONDERA)] = ['MaronderaUniversity', 'Science&Engineering', 'Undergraduate', 'US$1 750.00', '', '', '', '', '', '', '', 'International', '', '']
MARONDERA.loc[len(MARONDERA)] = ['MaronderaUniversity', 'Humanities', 'Undergraduate', 'US$1 500.00', '', '', '', '', '', '', '', 'International', '', '']
MARONDERA.loc[len(MARONDERA)] = ['MaronderaUniversity', 'Science&Engineering', 'Postgraduate', 'US$500.00', '', '', '', '', '', '', '', '', '', '']
MARONDERA.loc[len(MARONDERA)] = ['MaronderaUniversity', 'Humanities', 'Postgraduate', 'US$435.00', '', '', '', '', '', '', '', '', '', '']
MARONDERA.loc[len(MARONDERA)] = ['MaronderaUniversity', 'Science&Engineering', 'Postgraduate', 'US$1 120.00', '', '', '', '', '', '', '', 'Locals', '', '']
MARONDERA.loc[len(MARONDERA)] = ['MaronderaUniversity', 'Humanities', 'Postgraduate', 'US$1 020.00', '', '', '', '', '', '', '', 'Locals', '', '']
MARONDERA.loc[len(MARONDERA)] = ['MaronderaUniversity', 'Science&Engineering', 'Postgraduate', 'US$1 730.00', '', '', '', '', '', '', '', 'International', '', '']
MARONDERA.loc[len(MARONDERA)] = ['MaronderaUniversity', 'Humanities', 'Postgraduate', 'US$1 660.00', '', '', '', '', '', '', '', 'International', '', '']
MARONDERA.loc[len(MARONDERA)] = ['MaronderaUniversity', 'Science&Engineering', 'Postgraduate', 'US$1 320.00', '', '', '', '', '', '', '', 'Locals', '', '']
MARONDERA.loc[len(MARONDERA)] = ['MaronderaUniversity', 'Humanities', 'Postgraduate', 'US$1 220.00', '', '', '', '', '', '', '', 'Locals', '', '']
MARONDERA.loc[len(MARONDERA)] = ['MaronderaUniversity', 'Science&Engineering', 'Postgraduate', 'US$1 830.00', '', '', '', '', '', '', '', 'International', '', '']
MARONDERA.loc[len(MARONDERA)] = ['MaronderaUniversity', 'Humanities', 'Postgraduate', 'US$1 760.00', '', '', '', '', '', '', '', 'International', '', '']
MARONDERA

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType,Accommodation,Amount
0,MaronderaUniversity,Science&Engineering,Undergraduate,ZWL$377 000.00,,,,,,,,,Dozmery,US$140
1,MaronderaUniversity,Humanities,Undergraduate,ZWL$333 000.00,,,,,,,,,Dozmery,US$140
2,MaronderaUniversity,Science&Engineering,3,ZWL$313 200.00,,,,,,,,,,
3,MaronderaUniversity,Humanities,3,ZWL$284 600.20,,,,,,,,,,
4,MaronderaUniversity,Science&Engineering,Undergraduate,US$1 750.00,,,,,,,,International,,
5,MaronderaUniversity,Humanities,Undergraduate,US$1 500.00,,,,,,,,International,,
6,MaronderaUniversity,Science&Engineering,Postgraduate,US$500.00,,,,,,,,,,
7,MaronderaUniversity,Humanities,Postgraduate,US$435.00,,,,,,,,,,
8,MaronderaUniversity,Science&Engineering,Postgraduate,US$1 120.00,,,,,,,,Locals,,
9,MaronderaUniversity,Humanities,Postgraduate,US$1 020.00,,,,,,,,Locals,,
10,MaronderaUniversity,Science&Engineering,Postgraduate,US$1 730.00,,,,,,,,International,,
11,MaronderaUniversity,Humanities,Postgraduate,US$1 660.00,,,,,,,,International,,
12,MaronderaUniversity,Science&Engineering,Postgraduate,US$1 320.00,,,,,,,,Locals,,
13,MaronderaUniversity,Humanities,Postgraduate,US$1 220.00,,,,,,,,Locals,,
14,MaronderaUniversity,Science&Engineering,Postgraduate,US$1 830.00,,,,,,,,International,,
15,MaronderaUniversity,Humanities,Postgraduate,US$1 760.00,,,,,,,,International,,

In [98]:
MARONDERA['underGradNonRes']  = ''
MARONDERA['DiplomaNonRe'] = ''
MARONDERA['underGradResDouble']  = ''
MARONDERA['DiplomaResDouble']  = ''
MARONDERA['underGradResSingle '] = ''
MARONDERA['DiplomaResSingle']  = ''
MARONDERA['ForeignNonRes']  = ''
MARONDERA['ForeignResDouble']  = ''
MARONDERA['ForeignResSingle']  = ''
MARONDERA['BlockRelease']  = ''
MARONDERA['BScNursingEducation']  = ''
MARONDERA['MScStrategicManagement']  = ''
MARONDERA['PostGraduateCorporateGovernance']  = ''
MARONDERA['MScPostHarvest']  = ''
MARONDERA

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,MaronderaUniversity,Science&Engineering,Undergraduate,ZWL$377 000.00,,,,,,,...,,,,,,,,,,
1,MaronderaUniversity,Humanities,Undergraduate,ZWL$333 000.00,,,,,,,...,,,,,,,,,,
2,MaronderaUniversity,Science&Engineering,3,ZWL$313 200.00,,,,,,,...,,,,,,,,,,
3,MaronderaUniversity,Humanities,3,ZWL$284 600.20,,,,,,,...,,,,,,,,,,
4,MaronderaUniversity,Science&Engineering,Undergraduate,US$1 750.00,,,,,,,...,,,,,,,,,,
5,MaronderaUniversity,Humanities,Undergraduate,US$1 500.00,,,,,,,...,,,,,,,,,,
6,MaronderaUniversity,Science&Engineering,Postgraduate,US$500.00,,,,,,,...,,,,,,,,,,
7,MaronderaUniversity,Humanities,Postgraduate,US$435.00,,,,,,,...,,,,,,,,,,
8,MaronderaUniversity,Science&Engineering,Postgraduate,US$1 120.00,,,,,,,...,,,,,,,,,,
9,MaronderaUniversity,Humanities,Postgraduate,US$1 020.00,,,,,,,...,,,,,,,,,,
10,MaronderaUniversity,Science&Engineering,Postgraduate,US$1 730.00,,,,,,,...,,,,,,,,,,
11,MaronderaUniversity,Humanities,Postgraduate,US$1 660.00,,,,,,,...,,,,,,,,,,
12,MaronderaUniversity,Science&Engineering,Postgraduate,US$1 320.00,,,,,,,...,,,,,,,,,,
13,MaronderaUniversity,Humanities,Postgraduate,US$1 220.00,,,,,,,...,,,,,,,,,,
14,MaronderaUniversity,Science&Engineering,Postgraduate,US$1 830.00,,,,,,,...,,,,,,,,,,
15,MaronderaUniversity,Humanities,Postgraduate,US$1 760.00,,,,,,,...,,,,,,,,,,

In [99]:
dfList = [BUSE, UZ, Catholic, GSU, MASU, MSU, NUST, ZOU, GZU, MARONDERA]
Colleges = pd.concat(dfList)
Colleges

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,BinduraUniversity,"Humanities, Commercials",Undergraduate,US$620,,,,,,,...,,,,,,,,,,
1,BinduraUniversity,Medicine,Undergraduate,US$700,,,,,,,...,,,,,,,,,,
2,BinduraUniversity,Science&Engineering,Undergraduate,US$680,,,,,,,...,,,,,,,,,,
3,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Certificate/Diploma,US$550,,,,,,,...,,,,,,,,,,
4,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Medical Aid,US$35,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,MaronderaUniversity,Humanities,Postgraduate,US$1 660.00,,,,,,,...,,,,,,,,,,
12,MaronderaUniversity,Science&Engineering,Postgraduate,US$1 320.00,,,,,,,...,,,,,,,,,,
13,MaronderaUniversity,Humanities,Postgraduate,US$1 220.00,,,,,,,...,,,,,,,,,,
14,MaronderaUniversity,Science&Engineering,Postgraduate,US$1 830.00,,,,,,,...,,,,,,,,,,
15,MaronderaUniversity,Humanities,Postgraduate,US$1 760.00,,,,,,,...,,,,,,,,,,

# Pan African University

-No hyperlink or tables

# Africa University

In [100]:
text = extract_text("Africa University .pdf")
text

'Tuition and fees \n\nFees per semester in US$ \n\nTuition fees (Other programs)  \n\nTuition Fees (Law program) \n\nFull board (Triple Occupancy)  \n\nRegistration fees  \n\nHealth fees (per semester)  \n\nStudents Union (per year payable in 1st semester only)  \n\nTechnology fees  \n\nAgriculture Laboratory fees  \n\nHealth Sciences Laboratory fees  \n\nComputer Information Systems Lab fees  \n\nComputer Science & Software Eng. Lab fees  \n\nLate registration fees  \n\nApplication fees  \n\nContinuing Education Harare (per semester)  \n\nTuition  \n\nTechnology fees  \n\nRegistration fees  \n\nContinuing Education Mutare (per semester)  \n\nTuition  \n\nTechnology fees  \n\nRegistration fees  \n\nContinuing Education Online (CIS)(per semester)  \n\nTuition  \n\n1,680.00  \n\n1,700.00  \n\n1000.00  \n\n50.00  \n\n125.00  \n\n25.00  \n\n100.00  \n\n100.00  \n\n250.00  \n\n70.00  \n\n140.00  \n\n30.00  \n\n25.00  \n\n1015.00  \n\n50.00  \n\n50.00  \n\n790.00  \n\n50.00  \n\n50.00  \n\n790.00  \n\n \n \n  \n  \n  \n  \n  \n\x0cTechnology fees  \n\nRegistration fees  \n\nContinuing Education Online (Nusing Block Release) \n(per semester)  \n\nTuition  \n\nTechnology fees  \n\nRegistration fees  \n\nContinuing Education Online (Agriculture) (per \nsemester)  \n\nTuition  \n\nTechnology fees  \n\nRegistration fees  \n\nLaboratory fees  \n\nBachelor of Arts in Education (per semester)  \n\nTuition  \n\nTechnology fees  \n\nRegistration fees  \n\nECDE Nyadire (per semester)  \n\nTuition  \n\nRegistration fees  \n\nOTHER FEES  \n\nAppeals fee (per course)  \n\nStudent Permit fees  \n\nCertificate replacement  \n\nResult transcript fees (excluding postage)  \n\nInterim transcript fees \n\nSupplementary Examination fees  \n\nGraduation fees  \n\n50.00  \n\n50.00  \n\n800.00  \n\n50.00  \n\n50.00  \n\n800.00  \n\n50.00  \n\n50.00  \n\n40.00  \n\n700.00  \n\n50.00  \n\n50.00  \n\n500.00  \n\n50.00  \n\n50.00  \n\n200.00  \n\n200.00  \n\n50.00  \n\n40.00  \n\n20.00  \n\n150.00  \n\n  \n  \n  \n  \n  \n  \n  \n \n\x0cFees per semester in US$ \n\nMBA full time programme per credit hour  \n\nEMBA (Part-time) per credit hour \n\nIPLG (per credit hour) \n\nMTS/MARS (per credit hour) \n\nOther programmes (per credit hour) \n\nFull Board (Double Occupancy)  \n\nRegistration fees  \n\nHealth fees (per semester)  \n\nStudents Union (per year)  \n\nTechnology fees  \n\nLate registration fees  \n\nApplication fees  \n\nMasters in Public Sector Management (per \nsemester)  \n\nTuition  \n\nTechnology fees  \n\nRegistration fees  \n\nMasters in Educational Technology (per semester)  \n\nTuition  \n\nTechnology fees  \n\nRegistration fees  \n\nPostgraduate Diploma in Education (PGDE) (per \nsemester)  \n\nTuition  \n\nTechnology fees  \n\nRegistration fees  \n\nDOCTORAL PROGRAMMES \nPhD fees per semester  \n\nTuition  \n\n135.00  \n\n135.00  \n\n135.00  \n\n135.00  \n\n135.00  \n\n1200.00  \n\n50.00  \n\n125.00  \n\n25.00  \n\n100.00  \n\n30.00  \n\n30.00  \n\n800.00  \n\n50.00  \n\n50.00  \n\n945.00  \n\n50.00  \n\n50.00  \n\n680.00  \n\n50.00  \n\n50.00  \n\n2520.00  \n\n \n  \n  \n  \n  \n  \n  \n  \n \n  \n\x0cApplication fees  \n\nRegistration fees  \n\nTechnology fees  \n\nLate Registration fees  \n\nDPhil fees per semester \n\nTuition  \n\nApplication fees  \n\nRegistration fees  \n\nTechnology fees  \n\nLate Registration fees  \n\nOTHER FEES  \n\nAppeals fee (per course)  \n\nStudent Permit Fees  \n\nCertificate replacement  \n\nResult transcript fees (excluding postage)  \n\nInterim transcript fees  \n\nSupplementary Examination fees  \n\nGraduation fees  \n\n70.00  \n\n50.00  \n\n100.00  \n\n30.00  \n\n2000.00  \n\n70.00  \n\n50.00  \n\n100.00  \n\n30.00  \n\n50.00  \n\n200.00  \n\n200.00  \n\n50.00  \n\n40.00  \n\n20.00  \n\n150.00  \n\n  \n \n  \n  \n \n  \n \n \n\x0c'

In [101]:
x=[]
for i in text:
    if i!='\n'and i!='*': 
       print(i, end='')

Tuition and fees Fees per semester in US$ Tuition fees (Other programs)  Tuition Fees (Law program) Full board (Triple Occupancy)  Registration fees  Health fees (per semester)  Students Union (per year payable in 1st semester only)  Technology fees  Agriculture Laboratory fees  Health Sciences Laboratory fees  Computer Information Systems Lab fees  Computer Science & Software Eng. Lab fees  Late registration fees  Application fees  Continuing Education Harare (per semester)  Tuition  Technology fees  Registration fees  Continuing Education Mutare (per semester)  Tuition  Technology fees  Registration fees  Continuing Education Online (CIS)(per semester)  Tuition  1,680.00  1,700.00  1000.00  50.00  125.00  25.00  100.00  100.00  250.00  70.00  140.00  30.00  25.00  1015.00  50.00  50.00  790.00  50.00  50.00  790.00              Technology fees  Registration fees  Continuing Education Online (Nusing Block Release) (per semester)  Tuition  Technology fees  Registration fees  Continuing Education Online (Agriculture) (per semester)  Tuition  Technology fees  Registration fees  Laboratory fees  Bachelor of Arts in Education (per semester)  Tuition  Technology fees  Registration fees  ECDE Nyadire (per semester)  Tuition  Registration fees  OTHER FEES  Appeals fee (per course)  Student Permit fees  Certificate replacement  Result transcript fees (excluding postage)  Interim transcript fees Supplementary Examination fees  Graduation fees  50.00  50.00  800.00  50.00  50.00  800.00  50.00  50.00  40.00  700.00  50.00  50.00  500.00  50.00  50.00  200.00  200.00  50.00  40.00  20.00  150.00                 Fees per semester in US$ MBA full time programme per credit hour  EMBA (Part-time) per credit hour IPLG (per credit hour) MTS/MARS (per credit hour) Other programmes (per credit hour) Full Board (Double Occupancy)  Registration fees  Health fees (per semester)  Students Union (per year)  Technology fees  Late registration fees  Application fees  Masters in Public Sector Management (per semester)  Tuition  Technology fees  Registration fees  Masters in Educational Technology (per semester)  Tuition  Technology fees  Registration fees  Postgraduate Diploma in Education (PGDE) (per semester)  Tuition  Technology fees  Registration fees  DOCTORAL PROGRAMMES PhD fees per semester  Tuition  135.00  135.00  135.00  135.00  135.00  1200.00  50.00  125.00  25.00  100.00  30.00  30.00  800.00  50.00  50.00  945.00  50.00  50.00  680.00  50.00  50.00  2520.00                    Application fees  Registration fees  Technology fees  Late Registration fees  DPhil fees per semester Tuition  Application fees  Registration fees  Technology fees  Late Registration fees  OTHER FEES  Appeals fee (per course)  Student Permit Fees  Certificate replacement  Result transcript fees (excluding postage)  Interim transcript fees  Supplementary Examination fees  Graduation fees  70.00  50.00  100.00  30.00  2000.00  70.00  50.00  100.00  30.00  50.00  200.00  200.00  50.00  40.00  20.00  150.00

In [102]:
Uni = []
faculty = []
level = []
fees = []
online = []
fees = []
para = []
fees = []
fees1 = []
campus = []
campus = []
student = []
accom = []
amnt = []

In [103]:
AU = pd.DataFrame(list(zip(Uni, faculty, level, fees, online, fees, para, fees,fees1, campus, campus, student, accom, amnt)), 
                   columns = ['University', 'Faculty', 'Level', 'Conventional','Online', 'Block', 'Parallel','FeesType', 'FeesAmount', 'Campus', 'OtherCampus', 'StudentType', 'Accommodation', 'Amount',
                             ])
AU

Empty DataFrame
Columns: [University, Faculty, Level, Conventional, Online, Block, Parallel, FeesType, FeesAmount, Campus, OtherCampus, StudentType, Accommodation, Amount]
Index: []

In [104]:
AU.loc[len(AU)] = ['AfricaUniversity', 'Other programmes', 'Undergraduate', 'US$1,680.00', '', '','', 'Av.Fees', 'US$91.50', '', '', '', 'Triple Occupancy', 'US$1000']
AU.loc[len(AU)] = ['AfricaUniversity', 'Law', 'Undergraduate', 'US$ 1,700.00', '', '','', 'Av.Fees', 'US$91.50', '', '', '', 'Triple Occupancy', 'US$1000']
AU.loc[len(AU)] = ['AfricaUniversity', '', 'Undergraduate', 'US$1015.00', '', '','', 'Technology, Registration', 'US$50.00', 'Harare', '', '', '', '']
AU.loc[len(AU)] = ['AfricaUniversity', '', 'Undergraduate', 'US$790.00', '', '','', 'Technology, Registration', 'US$50.00', 'Mutare', '', '', '', '']
AU.loc[len(AU)] = ['AfricaUniversity', '', 'Undergraduate', '', 'US$790', '','', 'Technology, Registration', 'US$50.00', '', '', '', '', '']
AU.loc[len(AU)] = ['AfricaUniversity', 'Science&Engineering', 'Undergraduate', 'US$800.00', 'US$800.00', '','', 'Technology, Registration', 'US$50.00', '', '', '', '', '']                   
AU.loc[len(AU)] = ['AfricaUniversity', 'Humanities', 'Undergraduate', 'US$700.00', '', '','', 'Technology, Registration', 'US$50.00', '', '', '', '', '']
AU.loc[len(AU)] = ['AfricaUniversity', 'ECDE', '', 'US$500.00', '', '','', 'Technology, Registration', 'US$50.00', '', '', '', '', '']                   
AU.loc[len(AU)] = ['AfricaUniversity', '', 'Undergraduate&Postgraduate', '', '', '','', 'Appeals,Transcript', 'US$50.00', '', '', '', '', '']                   
AU.loc[len(AU)] = ['AfricaUniversity', '', 'Undergraduate&Postgraduate', '', '', '','', 'Interim transcript', 'US$40.00', '', '', '', '', '']  
AU.loc[len(AU)] = ['AfricaUniversity', '', 'Undergraduate&Postgraduate', '', '', '','', 'Supplementary', 'US$20.00', '', '', '', '', '']                     
AU.loc[len(AU)] = ['AfricaUniversity', '', 'Undergraduate&Postgraduate', '', '', '','', 'Graduation fees', 'US$150.00', '', '', '', '', '']
AU.loc[len(AU)] = ['AfricaUniversity', 'Programme/hour', 'Postgraduate', 'US$135.00', '', '','', 'Av.Fees', 'US$60', '', '', '', 'Double Occupancy', 'US$1200']
AU.loc[len(AU)] = ['AfricaUniversity', 'Humanities', 'Postgraduate', 'US$800.00', '', '','', 'Technology, Registration', 'US$50.00', '', '', '', '', '']
AU.loc[len(AU)] = ['AfricaUniversity', 'Technology', 'Postgraduate', 'US$945.00', '', '','', 'Technology, Registration', 'US$50.00', '', '', '', '', '']
AU.loc[len(AU)] = ['AfricaUniversity', 'Humanities', 'Postgraduate', 'US$680.00', '', '','', 'Technology, Registration', 'US$50.00', '', '', '', '', '']
AU.loc[len(AU)] = ['AfricaUniversity', '', 'Postgraduate', '', 'US$2520.00', '','', 'Application', 'US$70.00', '', '', '', '', '']
AU.loc[len(AU)] = ['AfricaUniversity', '', 'Postgraduate', '', 'US$2520.00', '','', 'Registration', 'US$50.00', '', '', '', '', '']
AU.loc[len(AU)] = ['AfricaUniversity', '', 'Postgraduate', '', 'US$2520.00', '','', 'Technology', 'US$100.00', '', '', '', '', '']                   
AU.loc[len(AU)] = ['AfricaUniversity', '', 'Postgraduate', '', 'US$2520.00', '','', 'Late Registration', 'US$30.00', '', '', '', '', '']                   
AU.loc[len(AU)] = ['AfricaUniversity', '', 'Postgraduate', '', 'US$2000.00', '','', 'Application', 'US$70.00', '', '', '', '', ''] 
AU.loc[len(AU)] = ['AfricaUniversity', '', 'Postgraduate', '', 'US$2000.00', '','', 'Registration', 'US$50.00', '', '', '', '', '']
AU.loc[len(AU)] = ['AfricaUniversity', '', 'Postgraduate', '', 'US$2000.00', '','', 'Technology', 'US$100.00', '', '', '', '', '']                   
AU.loc[len(AU)] = ['AfricaUniversity', '', 'Postgraduate', '', 'US$2000.00', '','', 'Late Registration', 'US$30.00', '', '', '', '', '']                   
AU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType,Accommodation,Amount
0,AfricaUniversity,Other programmes,Undergraduate,"US$1,680.00",,,,Av.Fees,US$91.50,,,,Triple Occupancy,US$1000
1,AfricaUniversity,Law,Undergraduate,"US$ 1,700.00",,,,Av.Fees,US$91.50,,,,Triple Occupancy,US$1000
2,AfricaUniversity,,Undergraduate,US$1015.00,,,,"Technology, Registration",US$50.00,Harare,,,,
3,AfricaUniversity,,Undergraduate,US$790.00,,,,"Technology, Registration",US$50.00,Mutare,,,,
4,AfricaUniversity,,Undergraduate,,US$790,,,"Technology, Registration",US$50.00,,,,,
5,AfricaUniversity,Science&Engineering,Undergraduate,US$800.00,US$800.00,,,"Technology, Registration",US$50.00,,,,,
6,AfricaUniversity,Humanities,Undergraduate,US$700.00,,,,"Technology, Registration",US$50.00,,,,,
7,AfricaUniversity,ECDE,,US$500.00,,,,"Technology, Registration",US$50.00,,,,,
8,AfricaUniversity,,Undergraduate&Postgraduate,,,,,"Appeals,Transcript",US$50.00,,,,,
9,AfricaUniversity,,Undergraduate&Postgraduate,,,,,Interim transcript,US$40.00,,,,,
10,AfricaUniversity,,Undergraduate&Postgraduate,,,,,Supplementary,US$20.00,,,,,
11,AfricaUniversity,,Undergraduate&Postgraduate,,,,,Graduation fees,US$150.00,,,,,
12,AfricaUniversity,Programme/hour,Postgraduate,US$135.00,,,,Av.Fees,US$60,,,,Double Occupancy,US$1200
13,AfricaUniversity,Humanities,Postgraduate,US$800.00,,,,"Technology, Registration",US$50.00,,,,,
14,AfricaUniversity,Technology,Postgraduate,US$945.00,,,,"Technology, Registration",US$50.00,,,,,
15,AfricaUniversity,Humanities,Postgraduate,US$680.00,,,,"Technology, Registration",US$50.00,,,,,
16,AfricaUniversity,,Postgraduate,,US$2520.00,,,Application,US$70.00,,,,,
17,AfricaUniversity,,Postgraduate,,US$2520.00,,,Registration,US$50.00,,,,,
18,AfricaUniversity,,Postgraduate,,US$2520.00,,,Technology,US$100.00,,,,,
19,AfricaUniversity,,Postgraduate,,US$2520.00,,,Late Registration,US$30.00,,,,,
20,AfricaUniversity,,Postgraduate,,US$2000.00,,,Application,US$70.00,,,,,
21,AfricaUniversity,,Postgraduate,,US$2000.00,,,Registration,US$50.00,,,,,
22,AfricaUniversity,,Postgraduate,,US$2000.00,,,Technology,US$100.00,,,,,
23,AfricaUniversity,,Postgraduate,,US$2000.00,,,Late Registration,US$30.00,,,,,

In [105]:
AU['underGradNonRes']  = ''
AU['DiplomaNonRe'] = ''
AU['underGradResDouble']  = ''
AU['DiplomaResDouble']  = ''
AU['underGradResSingle '] = ''
AU['DiplomaResSingle']  = ''
AU['ForeignNonRes']  = ''
AU['ForeignResDouble']  = ''
AU['ForeignResSingle']  = ''
AU['BlockRelease']  = ''
AU['BScNursingEducation']  = ''
AU['MScStrategicManagement']  = ''
AU['PostGraduateCorporateGovernance']  = ''
AU['MScPostHarvest']  = ''
AU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,AfricaUniversity,Other programmes,Undergraduate,"US$1,680.00",,,,Av.Fees,US$91.50,,...,,,,,,,,,,
1,AfricaUniversity,Law,Undergraduate,"US$ 1,700.00",,,,Av.Fees,US$91.50,,...,,,,,,,,,,
2,AfricaUniversity,,Undergraduate,US$1015.00,,,,"Technology, Registration",US$50.00,Harare,...,,,,,,,,,,
3,AfricaUniversity,,Undergraduate,US$790.00,,,,"Technology, Registration",US$50.00,Mutare,...,,,,,,,,,,
4,AfricaUniversity,,Undergraduate,,US$790,,,"Technology, Registration",US$50.00,,...,,,,,,,,,,
5,AfricaUniversity,Science&Engineering,Undergraduate,US$800.00,US$800.00,,,"Technology, Registration",US$50.00,,...,,,,,,,,,,
6,AfricaUniversity,Humanities,Undergraduate,US$700.00,,,,"Technology, Registration",US$50.00,,...,,,,,,,,,,
7,AfricaUniversity,ECDE,,US$500.00,,,,"Technology, Registration",US$50.00,,...,,,,,,,,,,
8,AfricaUniversity,,Undergraduate&Postgraduate,,,,,"Appeals,Transcript",US$50.00,,...,,,,,,,,,,
9,AfricaUniversity,,Undergraduate&Postgraduate,,,,,Interim transcript,US$40.00,,...,,,,,,,,,,
10,AfricaUniversity,,Undergraduate&Postgraduate,,,,,Supplementary,US$20.00,,...,,,,,,,,,,
11,AfricaUniversity,,Undergraduate&Postgraduate,,,,,Graduation fees,US$150.00,,...,,,,,,,,,,
12,AfricaUniversity,Programme/hour,Postgraduate,US$135.00,,,,Av.Fees,US$60,,...,,,,,,,,,,
13,AfricaUniversity,Humanities,Postgraduate,US$800.00,,,,"Technology, Registration",US$50.00,,...,,,,,,,,,,
14,AfricaUniversity,Technology,Postgraduate,US$945.00,,,,"Technology, Registration",US$50.00,,...,,,,,,,,,,
15,AfricaUniversity,Humanities,Postgraduate,US$680.00,,,,"Technology, Registration",US$50.00,,...,,,,,,,,,,
16,AfricaUniversity,,Postgraduate,,US$2520.00,,,Application,US$70.00,,...,,,,,,,,,,
17,AfricaUniversity,,Postgraduate,,US$2520.00,,,Registration,US$50.00,,...,,,,,,,,,,
18,AfricaUniversity,,Postgraduate,,US$2520.00,,,Technology,US$100.00,,...,,,,,,,,,,
19,AfricaUniversity,,Postgraduate,,US$2520.00,,,Late Registration,US$30.00,,...,,,,,,,,,,
20,AfricaUniversity,,Postgraduate,,US$2000.00,,,Application,US$70.00,,...,,,,,,,,,,
21,AfricaUniversity,,Postgraduate,,US$2000.00,,,Registration,US$50.00,,...,,,,,,,,,,
22,AfricaUniversity,,Postgraduate,,US$2000.00,,,Technology,US$100.00,,...,,,,,,,,,,
23,AfricaUniversity,,Postgraduate,,US$2000.00,,,Late Registration,US$30.00,,...,,,,,,,,,,

In [106]:
dfList = [BUSE, UZ, Catholic, GSU, MASU, MSU, NUST, ZOU, GZU, MARONDERA, AU]
Colleges = pd.concat(dfList)
Colleges

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,BinduraUniversity,"Humanities, Commercials",Undergraduate,US$620,,,,,,,...,,,,,,,,,,
1,BinduraUniversity,Medicine,Undergraduate,US$700,,,,,,,...,,,,,,,,,,
2,BinduraUniversity,Science&Engineering,Undergraduate,US$680,,,,,,,...,,,,,,,,,,
3,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Certificate/Diploma,US$550,,,,,,,...,,,,,,,,,,
4,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Medical Aid,US$35,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,AfricaUniversity,,Postgraduate,,US$2520.00,,,Late Registration,US$30.00,,...,,,,,,,,,,
20,AfricaUniversity,,Postgraduate,,US$2000.00,,,Application,US$70.00,,...,,,,,,,,,,
21,AfricaUniversity,,Postgraduate,,US$2000.00,,,Registration,US$50.00,,...,,,,,,,,,,
22,AfricaUniversity,,Postgraduate,,US$2000.00,,,Technology,US$100.00,,...,,,,,,,,,,
23,AfricaUniversity,,Postgraduate,,US$2000.00,,,Late Registration,US$30.00,,...,,,,,,,,,,

# Arrupe jesuit university

In [107]:
ArrupeJesuitUniversity=pd.read_html('https://www.aju.ac.zw/tuition-fees/')
# convert list to dataframe
ArrupeJesuitUniversity0=pd.DataFrame(ArrupeJesuitUniversity[0])
ArrupeJesuitUniversity0

,0,1,2,3
0,ARRUPE JESUIT UNIVERSITY,ARRUPE JESUIT UNIVERSITY,ARRUPE JESUIT UNIVERSITY,NaN
1,NaN,LOCALS/ZIMBABWEAN NATIONALS/Permanent Resident...,INTERNATIONAL STUDENTS,NaN
2,NaN,Currency,Currency,NaN
3,NaN,USD$,USD$,NaN
4,GRADUATE TUITION FEES PER SEMESTER,NaN,NaN,NaN
5,Masters,1200.00,1400.00,NaN
6,PhD,1500.00,1800.00,NaN
7,UNDERGRADUATE STUDIES TUITION FEES PER SEMESTER,NaN,NaN,NaN
8,Bachelors Degrees,NaN,NaN,NaN
9,Bachelors Degrees(all),Accounting & Management = 900.00Education/Tra...,900.00 850.001000.00,NaN
10,Fees Work Study Year,390,390,NaN
11,DIPLOMA COURSES TUITION FEES PER SEMESTER,NaN,NaN,NaN
12,Diploma in Ignatian Spirituality,300.00,300.00,NaN
13,DiplomasPost-Graduate Diplomas,650.001200.00,650.001400.00,NaN
14,SHORT COURSE FEES PER SHORT COURSE,330.00,330.00,NaN
15,Languages(all)- 3 Months,330.00,330.00,NaN
16,Executive Certificates 6 Months (For working p...,330,330,NaN
17,Other Short Courses(all)- 6 Months,330.00,330.00,NaN
18,OTHER UNIVERSITY FEES,NaN,NaN,NaN
19,Application Fees**on Application only,20.00,20.00,NaN
20,Registration Fees**on Acceptance only,20.00,20.00,NaN
21,Supplementary examination fee(per course),20.00,20.00,NaN
22,Transcript fees(excluding postage),30.00,30.00,NaN
23,Student ID **First Semester Only,5.00,5.00,NaN
24,Lunch(**Optional) per Semester,250.00,250.00,NaN
25,Student Permit(**Government gazetted fee apply),,200.00,NaN
26,NaN,NaN,NaN,NaN
27,Late Registration fees,20.00,20.00,NaN
28,Certificate Replacement fee,200.00,200.00,NaN
29,Examination Appeal fees(per course),20.00,20.00,NaN
30,Graduation fees,*,*,NaN
31,Graduation regalia fees,85.00,85.00,NaN
32,Medical Fees (Per Visit to University Clinic),10.00,10.00,NaN
33,Accommodation Fees,NaN,NaN,NaN
34,Off Campus Accommodation at Montrose house F...,NaN,NaN,NaN
35,Single,150.00,150.00,NaN
36,Shared,120.00,120.00,NaN
37,On Campus Accommodation fees per month,NaN,NaN,NaN
38,Single,200.00,200.00,NaN
39,Shared,180.00,180.00,NaN

In [108]:
Uni = []
faculty = []
level = []
fees = []
online = []
fees = []
para = []
fees = []
fees1 = []
campus = []
campus = []
student = []
accommd = []
amnt = []

for i in ArrupeJesuitUniversity[0].index[1:]:
    Uni.append(ArrupeJesuitUniversity)
    
len(Uni)

39

In [109]:
AJU = pd.DataFrame(list(zip(Uni, faculty, level, fees, online, fees,para, fees,fees1, campus, campus, student, accommd, amnt )), 
                   columns = ['University', 'Faculty', 'Level', 'Conventional','Online', 'Block', 'Parallel', 'FeesType', 'FeesAmount', 'Campus', 'OtherCampus', 'StudentType', 'Accommodation','Amount'
                             ])
AJU

Empty DataFrame
Columns: [University, Faculty, Level, Conventional, Online, Block, Parallel, FeesType, FeesAmount, Campus, OtherCampus, StudentType, Accommodation, Amount]
Index: []

In [110]:
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Postgraduate', ArrupeJesuitUniversity[0][1][5], '', '','' ,'Application, Registration, Supplementary, LateReg & ExamAppeal', ArrupeJesuitUniversity[0][1][19], '', '', '', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Postgraduate', ArrupeJesuitUniversity[0][1][6], '', '','' ,'Application, Registration, Supplementary, LateReg & ExamAppeal', ArrupeJesuitUniversity[0][1][19], '', '', '', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Postgraduate', ArrupeJesuitUniversity[0][2][5], '', '','' ,'Application, Registration, Supplementary, LateReg & ExamAppeal',  ArrupeJesuitUniversity[0][2][19], '', '', 'International', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Postgraduate', ArrupeJesuitUniversity[0][2][6], '', '','' ,'Application, Registration, Supplementary, LateReg & ExamAppeal',  ArrupeJesuitUniversity[0][2][19], '', '', 'International', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Undergraduate', '900.00', '', '','' ,'Application, Registration, Supplementary, LateReg & ExamAppeal',  ArrupeJesuitUniversity[0][1][19], '', '', '', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Undergraduate', '850.00', '', '','' ,'Application, Registration, Supplementary, LateReg & ExamAppeal',  ArrupeJesuitUniversity[0][1][19], '', '', '', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Undergraduate', '1000.00', '', '','' ,'Application, Registration, Supplementary, LateReg & ExamAppeal',  ArrupeJesuitUniversity[0][1][19], '', '', '', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Undergraduate', '900.00', '', '','' ,'Application, Registration, Supplementary, LateReg & ExamAppeal',  ArrupeJesuitUniversity[0][2][19], '', '', 'International', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Undergraduate', '850.00', '', '','' ,'Application, Registration, Supplementary, LateReg & ExamAppeal', ArrupeJesuitUniversity[0][2][19], '', '', 'International', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Undergraduate', '1000.00', '', '','' ,'Application, Registration, Supplementary, LateReg & ExamAppeal',  ArrupeJesuitUniversity[0][2][19], '', '', 'International','', '']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Diploma', ArrupeJesuitUniversity[0][1][12], '', '','' ,'Application, Registration, Supplementary, LateReg & ExamAppeal',  ArrupeJesuitUniversity[0][1][19], '', '', '', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Diploma', ArrupeJesuitUniversity[0][2][12], '', '', '','Application, Registration, Supplementary, LateReg & ExamAppeal',  ArrupeJesuitUniversity[0][2][19], '', '', 'International', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Diploma', '650', '', '','' ,'Application, Registration, Supplementary, LateReg & ExamAppeal',  ArrupeJesuitUniversity[0][1][19], '', '', '', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Diploma', '650', '', '','' ,'Application, Registration, Supplementary, LateReg & ExamAppeal',  ArrupeJesuitUniversity[0][2][19], '', '', 'International', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Diploma', '1200', '', '','' ,'Application, Registration, Supplementary, LateReg & ExamAppeal',  ArrupeJesuitUniversity[0][1][19], '', '', '', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Diploma', '1400', '', '', '','Application, Registration, Supplementary, LateReg & ExamAppeal',  ArrupeJesuitUniversity[0][2][19], '', '', 'International', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Shortcourse', ArrupeJesuitUniversity[0][1][14], '', '','' ,'Application, Registration, Supplementary, LateReg & ExamAppeal',  ArrupeJesuitUniversity[0][1][19], '', '', '', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Shortcourse', ArrupeJesuitUniversity[0][2][14], '', '','' ,'Application, Registration, Supplementary, LateReg & ExamAppeal',  ArrupeJesuitUniversity[0][2][19], '', '', 'International', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Under&Postgraduate, Diploma, Shortcourse', '', '', '','' ,'Transcript', ArrupeJesuitUniversity[0][1][22], '', '', 'National&International', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Under&Postgraduate, Diploma, Shortcourse', '', '', '','' ,'Student ID', ArrupeJesuitUniversity[0][1][23], '', '', 'National&International', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Under&Postgraduate, Diploma, Shortcourse', '', '', '','' ,'Lunch', ArrupeJesuitUniversity[0][1][24], '', '', 'National&International', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Under&Postgraduate, Diploma, Shortcourse', '', '', '','' ,'Student Permit', ArrupeJesuitUniversity[0][1][25], '', '', 'National&International', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Under&Postgraduate, Diploma, Shortcourse', '', '', '','' ,'Graduation regalia', ArrupeJesuitUniversity[0][1][31], '', '', 'National&International', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Under&Postgraduate, Diploma, Shortcourse', '', '', '','' ,'Medical', ArrupeJesuitUniversity[0][1][32], '', '', 'National&International', '','']
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Under&Postgraduate, Diploma, Shortcourse', '', '', '','' ,'', '', '', '', 'International', 'Offcampus-Single', ArrupeJesuitUniversity[0][1][35]]
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Under&Postgraduate, Diploma, Shortcourse', '', '', '','' ,'', '', '', '', 'International', 'Offcampus-Shared', ArrupeJesuitUniversity[0][1][36]]
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Under&Postgraduate, Diploma, Shortcourse', '', '', '','' ,'', '', '', '', 'International', 'Oncampus-Single', ArrupeJesuitUniversity[0][1][37]]
AJU.loc[len(AJU)] = ['ArrupeJesuitUniversity', '', 'Under&Postgraduate, Diploma, Shortcourse', '', '', '','' ,'', '', '', '', 'International', 'Oncampus-Shared', ArrupeJesuitUniversity[0][1][38]]
AJU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType,Accommodation,Amount
0,ArrupeJesuitUniversity,,Postgraduate,1200.00,,,,"Application, Registration, Supplementary, Late...",20.00,,,,,
1,ArrupeJesuitUniversity,,Postgraduate,1500.00,,,,"Application, Registration, Supplementary, Late...",20.00,,,,,
2,ArrupeJesuitUniversity,,Postgraduate,1400.00,,,,"Application, Registration, Supplementary, Late...",20.00,,,International,,
3,ArrupeJesuitUniversity,,Postgraduate,1800.00,,,,"Application, Registration, Supplementary, Late...",20.00,,,International,,
4,ArrupeJesuitUniversity,,Undergraduate,900.00,,,,"Application, Registration, Supplementary, Late...",20.00,,,,,
5,ArrupeJesuitUniversity,,Undergraduate,850.00,,,,"Application, Registration, Supplementary, Late...",20.00,,,,,
6,ArrupeJesuitUniversity,,Undergraduate,1000.00,,,,"Application, Registration, Supplementary, Late...",20.00,,,,,
7,ArrupeJesuitUniversity,,Undergraduate,900.00,,,,"Application, Registration, Supplementary, Late...",20.00,,,International,,
8,ArrupeJesuitUniversity,,Undergraduate,850.00,,,,"Application, Registration, Supplementary, Late...",20.00,,,International,,
9,ArrupeJesuitUniversity,,Undergraduate,1000.00,,,,"Application, Registration, Supplementary, Late...",20.00,,,International,,
10,ArrupeJesuitUniversity,,Diploma,300.00,,,,"Application, Registration, Supplementary, Late...",20.00,,,,,
11,ArrupeJesuitUniversity,,Diploma,300.00,,,,"Application, Registration, Supplementary, Late...",20.00,,,International,,
12,ArrupeJesuitUniversity,,Diploma,650,,,,"Application, Registration, Supplementary, Late...",20.00,,,,,
13,ArrupeJesuitUniversity,,Diploma,650,,,,"Application, Registration, Supplementary, Late...",20.00,,,International,,
14,ArrupeJesuitUniversity,,Diploma,1200,,,,"Application, Registration, Supplementary, Late...",20.00,,,,,
15,ArrupeJesuitUniversity,,Diploma,1400,,,,"Application, Registration, Supplementary, Late...",20.00,,,International,,
16,ArrupeJesuitUniversity,,Shortcourse,330.00,,,,"Application, Registration, Supplementary, Late...",20.00,,,,,
17,ArrupeJesuitUniversity,,Shortcourse,330.00,,,,"Application, Registration, Supplementary, Late...",20.00,,,International,,
18,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,Transcript,30.00,,,National&International,,
19,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,Student ID,5.00,,,National&International,,
20,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,Lunch,250.00,,,National&International,,
21,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,Student Permit,,,,National&International,,
22,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,Graduation regalia,85.00,,,National&International,,
23,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,Medical,10.00,,,National&International,,
24,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,,,,,International,Offcampus-Single,150.00
25,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,,,,,International,Offcampus-Shared,120.00
26,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,,,,,International,Oncampus-Single,NaN
27,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,,,,,International,Oncampus-Shared,200.00

In [111]:
AJU['underGradNonRes']  = ''
AJU['DiplomaNonRe'] = ''
AJU['underGradResDouble']  = ''
AJU['DiplomaResDouble']  = ''
AJU['underGradResSingle '] = ''
AJU['DiplomaResSingle']  = ''
AJU['ForeignNonRes']  = ''
AJU['ForeignResDouble']  = ''
AJU['ForeignResSingle']  = ''
AJU['BlockRelease']  = ''
AJU['BScNursingEducation']  = ''
AJU['MScStrategicManagement']  = ''
AJU['PostGraduateCorporateGovernance']  = ''
AJU['MScPostHarvest']  = ''
AJU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,ArrupeJesuitUniversity,,Postgraduate,1200.00,,,,"Application, Registration, Supplementary, Late...",20.00,,...,,,,,,,,,,
1,ArrupeJesuitUniversity,,Postgraduate,1500.00,,,,"Application, Registration, Supplementary, Late...",20.00,,...,,,,,,,,,,
2,ArrupeJesuitUniversity,,Postgraduate,1400.00,,,,"Application, Registration, Supplementary, Late...",20.00,,...,,,,,,,,,,
3,ArrupeJesuitUniversity,,Postgraduate,1800.00,,,,"Application, Registration, Supplementary, Late...",20.00,,...,,,,,,,,,,
4,ArrupeJesuitUniversity,,Undergraduate,900.00,,,,"Application, Registration, Supplementary, Late...",20.00,,...,,,,,,,,,,
5,ArrupeJesuitUniversity,,Undergraduate,850.00,,,,"Application, Registration, Supplementary, Late...",20.00,,...,,,,,,,,,,
6,ArrupeJesuitUniversity,,Undergraduate,1000.00,,,,"Application, Registration, Supplementary, Late...",20.00,,...,,,,,,,,,,
7,ArrupeJesuitUniversity,,Undergraduate,900.00,,,,"Application, Registration, Supplementary, Late...",20.00,,...,,,,,,,,,,
8,ArrupeJesuitUniversity,,Undergraduate,850.00,,,,"Application, Registration, Supplementary, Late...",20.00,,...,,,,,,,,,,
9,ArrupeJesuitUniversity,,Undergraduate,1000.00,,,,"Application, Registration, Supplementary, Late...",20.00,,...,,,,,,,,,,
10,ArrupeJesuitUniversity,,Diploma,300.00,,,,"Application, Registration, Supplementary, Late...",20.00,,...,,,,,,,,,,
11,ArrupeJesuitUniversity,,Diploma,300.00,,,,"Application, Registration, Supplementary, Late...",20.00,,...,,,,,,,,,,
12,ArrupeJesuitUniversity,,Diploma,650,,,,"Application, Registration, Supplementary, Late...",20.00,,...,,,,,,,,,,
13,ArrupeJesuitUniversity,,Diploma,650,,,,"Application, Registration, Supplementary, Late...",20.00,,...,,,,,,,,,,
14,ArrupeJesuitUniversity,,Diploma,1200,,,,"Application, Registration, Supplementary, Late...",20.00,,...,,,,,,,,,,
15,ArrupeJesuitUniversity,,Diploma,1400,,,,"Application, Registration, Supplementary, Late...",20.00,,...,,,,,,,,,,
16,ArrupeJesuitUniversity,,Shortcourse,330.00,,,,"Application, Registration, Supplementary, Late...",20.00,,...,,,,,,,,,,
17,ArrupeJesuitUniversity,,Shortcourse,330.00,,,,"Application, Registration, Supplementary, Late...",20.00,,...,,,,,,,,,,
18,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,Transcript,30.00,,...,,,,,,,,,,
19,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,Student ID,5.00,,...,,,,,,,,,,
20,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,Lunch,250.00,,...,,,,,,,,,,
21,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,Student Permit,,,...,,,,,,,,,,
22,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,Graduation regalia,85.00,,...,,,,,,,,,,
23,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,Medical,10.00,,...,,,,,,,,,,
24,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,,,,...,,,,,,,,,,
25,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,,,,...,,,,,,,,,,
26,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,,,,...,,,,,,,,,,
27,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,,,,...,,,,,,,,,,

In [112]:
dfList = [BUSE, UZ, Catholic, GSU, MASU, MSU, NUST, ZOU, GZU, MARONDERA, AU, AJU]
Colleges = pd.concat(dfList)
Colleges

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,BinduraUniversity,"Humanities, Commercials",Undergraduate,US$620,,,,,,,...,,,,,,,,,,
1,BinduraUniversity,Medicine,Undergraduate,US$700,,,,,,,...,,,,,,,,,,
2,BinduraUniversity,Science&Engineering,Undergraduate,US$680,,,,,,,...,,,,,,,,,,
3,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Certificate/Diploma,US$550,,,,,,,...,,,,,,,,,,
4,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Medical Aid,US$35,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,Medical,10.00,,...,,,,,,,,,,
24,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,,,,...,,,,,,,,,,
25,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,,,,...,,,,,,,,,,
26,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,,,,...,,,,,,,,,,
27,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,,,,...,,,,,,,,,,

# Reformed church university

In [113]:
text = extract_text("Reformed Church University Fees Structure.pdf")
text

'Fees Structure \n\nUndergraduate (new students) \n\nConventional                             $ 550.00 \n\nBlock release                             $ 650.00 \n\nUndergraduate (returning students) \n\nConventional                             $ 530.00 \n\nBlock release                             $ 630.00 \n\n\x0c'

In [114]:
x=[]
for i in text:
    if i!='\n'and i!='*': 
       print(i, end='')

Fees Structure Undergraduate (new students) Conventional                             $ 550.00 Block release                             $ 650.00 Undergraduate (returning students) Conventional                             $ 530.00 Block release                             $ 630.00

In [115]:
Uni = []
faculty = []
level = []
fees = []
online = []
fees = []
parallel = []
fees = []
fees1 = []
campus = []
campus = []
student = []
accom = []
amnt = []

In [116]:
RCU = pd.DataFrame(list(zip(Uni, faculty, level, fees, online, fees, parallel, fees,fees1, campus, campus, student, accom, amnt)), 
                   columns = ['University', 'Faculty', 'Level', 'Conventional','Online', 'Block', 'Parallel', 'FeesType', 'FeesAmount', 'Campus', 'OtherCampus', 'StudentType', 'Accommodation', 'Amount',
                             ])
RCU

Empty DataFrame
Columns: [University, Faculty, Level, Conventional, Online, Block, Parallel, FeesType, FeesAmount, Campus, OtherCampus, StudentType, Accommodation, Amount]
Index: []

In [117]:
RCU.loc[len(RCU)] = ['ReformedChurchUniversity', '', '1.1', '$550.00', '', '$650.00','', '', '', '', '', '', '','']
RCU.loc[len(RCU)] = ['ReformedChurchUniversity', '', 'Undergraduate', '$530.00', '', '$630.00','', '', '', '', '', '', '','']
RCU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType,Accommodation,Amount
0,ReformedChurchUniversity,,1.1,$550.00,,$650.00,,,,,,,,
1,ReformedChurchUniversity,,Undergraduate,$530.00,,$630.00,,,,,,,,

In [118]:
RCU['underGradNonRes']  = ''
RCU['DiplomaNonRe'] = ''
RCU['underGradResDouble']  = ''
RCU['DiplomaResDouble']  = ''
RCU['underGradResSingle '] = ''
RCU['DiplomaResSingle']  = ''
RCU['ForeignNonRes']  = ''
RCU['ForeignResDouble']  = ''
RCU['ForeignResSingle']  = ''
RCU['BlockRelease']  = ''
RCU['BScNursingEducation']  = ''
RCU['MScStrategicManagement']  = ''
RCU['PostGraduateCorporateGovernance']  = ''
RCU['MScPostHarvest']  = ''
RCU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,ReformedChurchUniversity,,1.1,$550.00,,$650.00,,,,,...,,,,,,,,,,
1,ReformedChurchUniversity,,Undergraduate,$530.00,,$630.00,,,,,...,,,,,,,,,,

In [119]:
dfList = [BUSE, UZ, Catholic, GSU, MASU, NUST, ZOU, GZU, MARONDERA, AU,AJU, RCU]
Colleges = pd.concat(dfList)
Colleges

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,BinduraUniversity,"Humanities, Commercials",Undergraduate,US$620,,,,,,,...,,,,,,,,,,
1,BinduraUniversity,Medicine,Undergraduate,US$700,,,,,,,...,,,,,,,,,,
2,BinduraUniversity,Science&Engineering,Undergraduate,US$680,,,,,,,...,,,,,,,,,,
3,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Certificate/Diploma,US$550,,,,,,,...,,,,,,,,,,
4,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Medical Aid,US$35,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,,,,...,,,,,,,,,,
26,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,,,,...,,,,,,,,,,
27,ArrupeJesuitUniversity,,"Under&Postgraduate, Diploma, Shortcourse",,,,,,,,...,,,,,,,,,,
0,ReformedChurchUniversity,,1.1,$550.00,,$650.00,,,,,...,,,,,,,,,,
1,ReformedChurchUniversity,,Undergraduate,$530.00,,$630.00,,,,,...,,,,,,,,,,

# Solusi university

In [120]:
SolusiUniversity=pd.read_html('https://solusi.ac.zw/calendar/')
SolusiUniversity0=pd.DataFrame(SolusiUniversity[0])
SolusiUniversity0

,0,1,2,3,4,5,6,7
0,NaN,NaN,NaN,NaN,USD,NaN,NaN,NaN
1,NaN,Tuition,Rent,Internet,Library Fee,Medical Aid,SRC,Total
2,Undergraduate Degree,1000,300,60,50,25,10,1445
3,Undergraduate Degree Bimester,1000,NaN,60,NaN,NaN,NaN,1060
4,PGDE,1100,NaN,60,NaN,NaN,NaN,1160
5,Masters Degree,1200,NaN,60,NaN,NaN,NaN,1260
6,Block/ BEd,1000,150,60,NaN,NaN,NaN,1210
7,Diploma Chaplaincy,500,300,60,50,25,10,945
8,ECE Diploma,500,300,60,50,25,10,945

In [121]:
SolusiUniversity1=pd.DataFrame(SolusiUniversity[1])
SolusiUniversity1

                                         0                              1
0                         Application Fees                             20
1                                 Lab Fees                             90
2                        Verification Fees                             20
3                          Full Transcript                             20
4                     Partial Transcrption                             15
5                  Transcript Delivery Fee                             10
6               Remarking Fee (Per Credit)                             50
7                        I D Cards renewal                              5
8                          Cafeteria Meals                              2
9           Graduation Fees -Undergraduate                            275
10  Graduation Fees- Post Graduate Studies                            300
11       Graduation Fees- Diploma Programs                            250
12              Graduation Fee in Absentia                            100
13              International Student Fees                            150
14                          Thesis Expense                           1200
15                  PGDE-Teaching Practise                           1100
16   ECE Diploma Teaching Practice Fees (p                            500
17          ECE Examination Fee (per Term)                            100
18                           Exemption Fee                             50
19                      Supplementary Fees                             50
20             Attachment Supervision Fees  Equivalent to Semesters Fees
21                    Rental  Block (MSQ)                            150
22               Rental (Married Quarters)                            600

In [122]:
Uni = []
faculty = []
level = []
fees = []
online = []
fees = []
para = []
fees = []
fees1 = []
campus = []
campus = []
student = []
accommd = []
amnt = []

for i in SolusiUniversity[0].index[1:]:
    Uni.append(SolusiUniversity)
    
len(Uni)

8

In [123]:
SU= pd.DataFrame(list(zip(Uni, faculty, level, fees, online, fees, para, fees,fees1, campus, campus, student, accommd, amnt )), 
                   columns = ['University', 'Faculty', 'Level', 'Conventional','Online', 'Block', 'Parallel','FeesType', 'FeesAmount', 'Campus', 'OtherCampus', 'StudentType', 'Accommodation','Amount',
                            ])
SU

Empty DataFrame
Columns: [University, Faculty, Level, Conventional, Online, Block, Parallel, FeesType, FeesAmount, Campus, OtherCampus, StudentType, Accommodation, Amount]
Index: []

In [124]:
SU.loc[len(SU)] = ['SolusiUniversity', '', 'Undergraduate', SolusiUniversity[0][1][2], '', '','', 'Other fees', '240.81', '', '', '', '','']
SU.loc[len(SU)] = ['SolusiUniversity', '', 'PGDE',SolusiUniversity[0][1][4], '', '','', 'Other fees', '240.81', '', '', '', '','']
SU.loc[len(SU)] = ['SolusiUniversity', '', 'Postgraduate', SolusiUniversity[0][2][5], '', '','', 'Other fees', '240.81', '', '', '', '','']
SU.loc[len(SU)] = ['SolusiUniversity', '', 'Diploma', SolusiUniversity[0][2][7], '', '','', 'Other fees',  '240.81', '', '', '', '','']
SU.loc[len(SU)] = ['SolusiUniversity', '', 'Diploma&Undergraduate', SolusiUniversity[0][2][2], '', '','', '',  '', '', '', '', '','']
SU.loc[len(SU)] = ['SolusiUniversity', '', 'Undergratuate', '', '', SolusiUniversity[0][2][6], '',  '','', '', '', '', '','']
SU.loc[len(SU)] = ['SolusiUniversity', '', 'Diploma&Undergraduate', SolusiUniversity[0][3][2], '', '','', '',  '', '', '', '', '','']
SU.loc[len(SU)] = ['SolusiUniversity', '', 'Diploma&Undergraduate', SolusiUniversity[0][4][2], '', '','', '',  '', '', '', '', '','']
SU.loc[len(SU)] = ['SolusiUniversity', '', 'Diploma&Undergraduate', SolusiUniversity[0][5][2], '', '','', '',  '', '', '', '', '','']
SU.loc[len(SU)] = ['SolusiUniversity', '', 'Diploma&Undergraduate', SolusiUniversity[0][6][2], '', '','', '',  '', '', '', '', '','']
SU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType,Accommodation,Amount
0,SolusiUniversity,,Undergraduate,1000,,,,Other fees,240.81,,,,,
1,SolusiUniversity,,PGDE,1100,,,,Other fees,240.81,,,,,
2,SolusiUniversity,,Postgraduate,NaN,,,,Other fees,240.81,,,,,
3,SolusiUniversity,,Diploma,300,,,,Other fees,240.81,,,,,
4,SolusiUniversity,,Diploma&Undergraduate,300,,,,,,,,,,
5,SolusiUniversity,,Undergratuate,,,150,,,,,,,,
6,SolusiUniversity,,Diploma&Undergraduate,60,,,,,,,,,,
7,SolusiUniversity,,Diploma&Undergraduate,50,,,,,,,,,,
8,SolusiUniversity,,Diploma&Undergraduate,25,,,,,,,,,,
9,SolusiUniversity,,Diploma&Undergraduate,10,,,,,,,,,,

In [125]:
SU['underGradNonRes']  = ''
SU['DiplomaNonRe'] = ''
SU['underGradResDouble']  = ''
SU['DiplomaResDouble']  = ''
SU['underGradResSingle '] = ''
SU['DiplomaResSingle']  = ''
SU['ForeignNonRes']  = ''
SU['ForeignResDouble']  = ''
SU['ForeignResSingle']  = ''
SU['BlockRelease']  = ''
SU['BScNursingEducation']  = ''
SU['MScStrategicManagement']  = ''
SU['PostGraduateCorporateGovernance']  = ''
SU['MScPostHarvest']  = ''
SU

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,SolusiUniversity,,Undergraduate,1000,,,,Other fees,240.81,,...,,,,,,,,,,
1,SolusiUniversity,,PGDE,1100,,,,Other fees,240.81,,...,,,,,,,,,,
2,SolusiUniversity,,Postgraduate,NaN,,,,Other fees,240.81,,...,,,,,,,,,,
3,SolusiUniversity,,Diploma,300,,,,Other fees,240.81,,...,,,,,,,,,,
4,SolusiUniversity,,Diploma&Undergraduate,300,,,,,,,...,,,,,,,,,,
5,SolusiUniversity,,Undergratuate,,,150,,,,,...,,,,,,,,,,
6,SolusiUniversity,,Diploma&Undergraduate,60,,,,,,,...,,,,,,,,,,
7,SolusiUniversity,,Diploma&Undergraduate,50,,,,,,,...,,,,,,,,,,
8,SolusiUniversity,,Diploma&Undergraduate,25,,,,,,,...,,,,,,,,,,
9,SolusiUniversity,,Diploma&Undergraduate,10,,,,,,,...,,,,,,,,,,

In [126]:
dfList = [BUSE, UZ, Catholic, GSU, MASU, MSU, NUST, ZOU, GZU, MARONDERA, AU, AJU, RCU, SU]
Colleges = pd.concat(dfList)
Colleges

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,BinduraUniversity,"Humanities, Commercials",Undergraduate,US$620,,,,,,,...,,,,,,,,,,
1,BinduraUniversity,Medicine,Undergraduate,US$700,,,,,,,...,,,,,,,,,,
2,BinduraUniversity,Science&Engineering,Undergraduate,US$680,,,,,,,...,,,,,,,,,,
3,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Certificate/Diploma,US$550,,,,,,,...,,,,,,,,,,
4,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Medical Aid,US$35,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,SolusiUniversity,,Undergratuate,,,150,,,,,...,,,,,,,,,,
6,SolusiUniversity,,Diploma&Undergraduate,60,,,,,,,...,,,,,,,,,,
7,SolusiUniversity,,Diploma&Undergraduate,50,,,,,,,...,,,,,,,,,,
8,SolusiUniversity,,Diploma&Undergraduate,25,,,,,,,...,,,,,,,,,,
9,SolusiUniversity,,Diploma&Undergraduate,10,,,,,,,...,,,,,,,,,,

# Womens University

-No hyperlinks or tables

# Zimbabwe Ezekiel Guti University

-PDF to be extracted

# Mutare polytechnic

In [127]:
MutarePolytechnic=pd.read_html('https://zwefinder.net/mutare-polytechnic-school-fees/')
# convert list to dataframe
MutarePolytechnic0=pd.DataFrame(MutarePolytechnic[0])
MutarePolytechnic0

,0,1,2,3
0,LEVEL,DAY SCHOOL STUDENTS,RESIDENT STUDENTS,RESIDENT STUDENTS
1,NaN,TUITION,TUITION,BOARDING
2,National Certificate,$280.00,$280.00,$200.00
3,National Diploma,$275.00,$275.00,$200.00
4,Higher National Diploma,$325.00,$325.00,$200.00

In [128]:
Uni = []
faculty = []
level = []
fees = []
online = []
fees = []
para = []
fees = []
fees1 = []
campus = []
campus = []
student = []
accommd = []
amnt = []

for i in MutarePolytechnic[0].index[1:]:
    Uni.append(MutarePolytechnic)
    
len(Uni)

4

In [129]:
MP= pd.DataFrame(list(zip(Uni, faculty, level, fees, online, fees, para, fees,fees1, campus, campus, student, accommd, amnt )), 
                   columns = ['University', 'Faculty', 'Level', 'Conventional','Online', 'Block','Parallel', 'FeesType', 'FeesAmount', 'Campus', 'OtherCampus', 'StudentType', 'Accommodation','Amount',
                            ])
MP

Empty DataFrame
Columns: [University, Faculty, Level, Conventional, Online, Block, Parallel, FeesType, FeesAmount, Campus, OtherCampus, StudentType, Accommodation, Amount]
Index: []

In [130]:
MP.loc[len(MP)] = ['MutarePolytechnic', '', 'Certificate', MutarePolytechnic[0][2][2], '', '', '','', '', '', '', '', 'OnCampus', MutarePolytechnic[0][3][2]]
MP.loc[len(MP)] = ['MutarePolytechnic', '', 'Diploma', MutarePolytechnic[0][2][3], '', '', '',  '', '','', '', '', 'OnCampus', MutarePolytechnic[0][3][3]]
MP.loc[len(MP)] = ['MutarePolytechnic', '', 'H.Diploma', MutarePolytechnic[0][2][4], '', '', '',  '','', '', '', '', 'OnCampus', MutarePolytechnic[0][3][4]]
MP

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType,Accommodation,Amount
0,MutarePolytechnic,,Certificate,$280.00,,,,,,,,,OnCampus,$200.00
1,MutarePolytechnic,,Diploma,$275.00,,,,,,,,,OnCampus,$200.00
2,MutarePolytechnic,,H.Diploma,$325.00,,,,,,,,,OnCampus,$200.00

In [131]:
MP['underGradNonRes']  = ''
MP['DiplomaNonRe'] = ''
MP['underGradResDouble']  = ''
MP['DiplomaResDouble']  = ''
MP['underGradResSingle '] = ''
MP['DiplomaResSingle']  = ''
MP['ForeignNonRes']  = ''
MP['ForeignResDouble']  = ''
MP['ForeignResSingle']  = ''
MP['BlockRelease']  = ''
MP['BScNursingEducation']  = ''
MP['MScStrategicManagement']  = ''
MP['PostGraduateCorporateGovernance']  = ''
MP['MScPostHarvest']  = ''
MP

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,MutarePolytechnic,,Certificate,$280.00,,,,,,,...,,,,,,,,,,
1,MutarePolytechnic,,Diploma,$275.00,,,,,,,...,,,,,,,,,,
2,MutarePolytechnic,,H.Diploma,$325.00,,,,,,,...,,,,,,,,,,

In [132]:
dfList = [BUSE, UZ, Catholic, GSU, MASU, MSU, NUST, ZOU, GZU, MARONDERA, AU, AJU, RCU, SU, MP]
Colleges = pd.concat(dfList)
Colleges

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,BinduraUniversity,"Humanities, Commercials",Undergraduate,US$620,,,,,,,...,,,,,,,,,,
1,BinduraUniversity,Medicine,Undergraduate,US$700,,,,,,,...,,,,,,,,,,
2,BinduraUniversity,Science&Engineering,Undergraduate,US$680,,,,,,,...,,,,,,,,,,
3,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Certificate/Diploma,US$550,,,,,,,...,,,,,,,,,,
4,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Medical Aid,US$35,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,SolusiUniversity,,Diploma&Undergraduate,25,,,,,,,...,,,,,,,,,,
9,SolusiUniversity,,Diploma&Undergraduate,10,,,,,,,...,,,,,,,,,,
0,MutarePolytechnic,,Certificate,$280.00,,,,,,,...,,,,,,,,,,
1,MutarePolytechnic,,Diploma,$275.00,,,,,,,...,,,,,,,,,,
2,MutarePolytechnic,,H.Diploma,$325.00,,,,,,,...,,,,,,,,,,

# Kwekwe polytechnic

In [133]:
KwekwePolytechnic=pd.read_html('http://www.kwekwepoly.ac.zw/KWP/myPages/Admissions/fees_structure.aspx')
# convert list to dataframe
KwekwePolytechnic0=pd.DataFrame(KwekwePolytechnic[0])
KwekwePolytechnic0

    TERM 1     NC     ND    HND  B.TECH
0  TUITION  150.0  200.0  250.0   400.0
1    TOTAL  150.0  200.0  250.0   400.0

In [134]:
KwekwePolytechnic1=pd.DataFrame(KwekwePolytechnic[1])
KwekwePolytechnic1

  TERM 2 & 3     NC     ND    HND  B.TECH
0    TUITION  150.0  200.0  250.0   400.0
1      TOTAL  150.0  200.0  250.0   400.0

In [135]:
KwekwePolytechnic3=pd.DataFrame(KwekwePolytechnic[3])
KwekwePolytechnic3

           TERM 1     NC      ND     HND  B.TECH
0             GPF  850.0  850.00  850.00  850.00
1     MEDICAL AID   50.0   50.00   50.00   50.00
2             PDF   10.0   10.00   10.00   10.00
3       G/CAUTION   15.0   15.00   15.00   15.00
4  C/REGISTRATION   25.0   25.00   25.00   25.00
5        AUTOCARD   30.0   &nbsp   &nbsp   &nbsp
6           TOTAL  980.0  950.00  950.00  950.00

In [136]:
KwekwePolytechnic4=pd.DataFrame(KwekwePolytechnic[4])
KwekwePolytechnic4

  TERM 2 and 3     NC      ND     HND  B.TECH
0          GPF  850.0  850.00  850.00  850.00
1      MEDICAL   50.0   50.00   50.00   50.00
2     AUTOCARD   30.0   &nbsp   &nbsp   &nbsp
3        TOTAL  930.0  900.00  900.00  900.00

In [137]:
Uni = []
faculty = []
level = []
fees = []
online = []
fees = []
para = []
fees = []
fees1 = []
campus = []
campus = []
student = []
accommd = []
amnt = []

for i in KwekwePolytechnic[0].index[1:]:
    Uni.append(KwekwePolytechnic)
    
len(Uni)

1

In [138]:
KP= pd.DataFrame(list(zip(Uni, faculty, level, fees, online, fees,para, fees,fees1, campus, campus, student, accommd, amnt )), 
                   columns = ['University', 'Faculty', 'Level', 'Conventional','Online', 'Block', 'Parallel', 'FeesType', 'FeesAmount', 'Campus', 'OtherCampus', 'StudentType', 'Accommodation','Amount',
                            ])
KP

Empty DataFrame
Columns: [University, Faculty, Level, Conventional, Online, Block, Parallel, FeesType, FeesAmount, Campus, OtherCampus, StudentType, Accommodation, Amount]
Index: []

In [139]:
KP.loc[len(KP)] = ['KwekwePolytechnic', '', 'Certificate', KwekwePolytechnic[0]['NC'][0], '', '','', 'Auto Card', KwekwePolytechnic[3]['NC'][5] , '', '', '', '','']
KP.loc[len(KP)] = ['KwekwePolytechnic', '', 'Diploma', KwekwePolytechnic[0]['ND'][0], '', '', '',  '','', '', '', '', '','']
KP.loc[len(KP)] = ['KwekwePolytechnic', '', 'H.Diploma', KwekwePolytechnic[0]['HND'][0], '', '', '','',  '', '', '', '', '','']
KP.loc[len(KP)] = ['KwekwePolytechnic', '', 'Technology', KwekwePolytechnic[0]['B.TECH'][0], '', '','', '',  '', '', '', '', '','']
KP.loc[len(KP)] = ['KwekwePolytechnic', '', 'Certificate, Diploma, H.Dploma, Technology', '', '', '','', 'GPF', KwekwePolytechnic[3]['NC'][0] , '', '', '', '','']
KP.loc[len(KP)] = ['KwekwePolytechnic', '', 'Certificate, Diploma, H.Dploma, Technology', '', '', '','', 'Medical', KwekwePolytechnic[3]['NC'][0] , '', '', '', '','']
KP.loc[len(KP)] = ['KwekwePolytechnic', '', 'Certificate, Diploma, H.Dploma, Technology', '', '', '','', 'PDF', KwekwePolytechnic[3]['NC'][0] , '', '', '', '','']
KP.loc[len(KP)] = ['KwekwePolytechnic', '', 'Certificate, Diploma, H.Dploma, Technology', '', '', '','', 'G/Caution', KwekwePolytechnic[3]['NC'][0] , '', '', '', '','']
KP.loc[len(KP)] = ['KwekwePolytechnic', '', 'Certificate, Diploma, H.Dploma, Technology', '', '', '','', 'C/Registration', KwekwePolytechnic[3]['NC'][0] , '', '', '', '','']
KP

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType,Accommodation,Amount
0,KwekwePolytechnic,,Certificate,150.0,,,,Auto Card,30.0,,,,,
1,KwekwePolytechnic,,Diploma,200.0,,,,,,,,,,
2,KwekwePolytechnic,,H.Diploma,250.0,,,,,,,,,,
3,KwekwePolytechnic,,Technology,400.0,,,,,,,,,,
4,KwekwePolytechnic,,"Certificate, Diploma, H.Dploma, Technology",,,,,GPF,850.0,,,,,
5,KwekwePolytechnic,,"Certificate, Diploma, H.Dploma, Technology",,,,,Medical,850.0,,,,,
6,KwekwePolytechnic,,"Certificate, Diploma, H.Dploma, Technology",,,,,PDF,850.0,,,,,
7,KwekwePolytechnic,,"Certificate, Diploma, H.Dploma, Technology",,,,,G/Caution,850.0,,,,,
8,KwekwePolytechnic,,"Certificate, Diploma, H.Dploma, Technology",,,,,C/Registration,850.0,,,,,

In [140]:
KP['underGradNonRes']  = ''
KP['DiplomaNonRe'] = ''
KP['underGradResDouble']  = ''
KP['DiplomaResDouble']  = ''
KP['underGradResSingle '] = ''
KP['DiplomaResSingle']  = ''
KP['ForeignNonRes']  = ''
KP['ForeignResDouble']  = ''
KP['ForeignResSingle']  = ''
KP['BlockRelease']  = ''
KP['BScNursingEducation']  = ''
KP['MScStrategicManagement']  = ''
KP['PostGraduateCorporateGovernance']  = ''
KP['MScPostHarvest']  = ''
KP

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,KwekwePolytechnic,,Certificate,150.0,,,,Auto Card,30.0,,...,,,,,,,,,,
1,KwekwePolytechnic,,Diploma,200.0,,,,,,,...,,,,,,,,,,
2,KwekwePolytechnic,,H.Diploma,250.0,,,,,,,...,,,,,,,,,,
3,KwekwePolytechnic,,Technology,400.0,,,,,,,...,,,,,,,,,,
4,KwekwePolytechnic,,"Certificate, Diploma, H.Dploma, Technology",,,,,GPF,850.0,,...,,,,,,,,,,
5,KwekwePolytechnic,,"Certificate, Diploma, H.Dploma, Technology",,,,,Medical,850.0,,...,,,,,,,,,,
6,KwekwePolytechnic,,"Certificate, Diploma, H.Dploma, Technology",,,,,PDF,850.0,,...,,,,,,,,,,
7,KwekwePolytechnic,,"Certificate, Diploma, H.Dploma, Technology",,,,,G/Caution,850.0,,...,,,,,,,,,,
8,KwekwePolytechnic,,"Certificate, Diploma, H.Dploma, Technology",,,,,C/Registration,850.0,,...,,,,,,,,,,

In [141]:
dfList = [BUSE, UZ, Catholic, GSU, MASU,MSU, NUST, ZOU, GZU, MARONDERA, AU, AJU, RCU,SU, MP, KP]
Colleges = pd.concat(dfList)
Colleges

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,BinduraUniversity,"Humanities, Commercials",Undergraduate,US$620,,,,,,,...,,,,,,,,,,
1,BinduraUniversity,Medicine,Undergraduate,US$700,,,,,,,...,,,,,,,,,,
2,BinduraUniversity,Science&Engineering,Undergraduate,US$680,,,,,,,...,,,,,,,,,,
3,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Certificate/Diploma,US$550,,,,,,,...,,,,,,,,,,
4,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Medical Aid,US$35,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,KwekwePolytechnic,,"Certificate, Diploma, H.Dploma, Technology",,,,,GPF,850.0,,...,,,,,,,,,,
5,KwekwePolytechnic,,"Certificate, Diploma, H.Dploma, Technology",,,,,Medical,850.0,,...,,,,,,,,,,
6,KwekwePolytechnic,,"Certificate, Diploma, H.Dploma, Technology",,,,,PDF,850.0,,...,,,,,,,,,,
7,KwekwePolytechnic,,"Certificate, Diploma, H.Dploma, Technology",,,,,G/Caution,850.0,,...,,,,,,,,,,
8,KwekwePolytechnic,,"Certificate, Diploma, H.Dploma, Technology",,,,,C/Registration,850.0,,...,,,,,,,,,,

# Kushinga Phikelela polytechnic

-No hyperlinks or tables

# Joshua mqabuko nkomo polytechnic

-No hyperlinks or tables

# Harare polytechnic

In [142]:
text = extract_text("Harare Polytechnic Fees Structure 2023_2024.pdf")
text

'Harare Polytechnic School Fees Schedule \n\nHarare Polytechnic fee schedule has been successfully uploaded online, the schedule is available as \nfollows: \n\nNational Certificate [NC] \n\n$255.00 \n\nExcl. Accommodation & Meals \n\nNational Diploma [ND] \n\nSponsored Links \n\n$275.00 \n\nExcl. Accommodation & Meals \n\nHigher National Diploma [HND] \n\n$295.00 \n\nExcl. Accommodation & Meals \n\n\x0c'

In [143]:
x=[]
for i in text:
    if i!='\n'and i!='*': 
       print(i, end='')

Harare Polytechnic School Fees Schedule Harare Polytechnic fee schedule has been successfully uploaded online, the schedule is available as follows: National Certificate [NC] $255.00 Excl. Accommodation & Meals National Diploma [ND] Sponsored Links $275.00 Excl. Accommodation & Meals Higher National Diploma [HND] $295.00 Excl. Accommodation & Meals

In [144]:
Uni = []
faculty = []
level = []
fees = []
online = []
fees = []
para = []
fees = []
fees1 = []
campus = []
campus = []
student = []
accommd = []
amnt = []

In [145]:
HP= pd.DataFrame(list(zip(Uni, faculty, level, fees, online, fees, para, fees,fees1, campus, campus, student, accommd, amnt )), 
                   columns = ['University', 'Faculty', 'Level', 'Conventional','Online', 'Block','Parallel', 'FeesType', 'FeesAmount', 'Campus', 'OtherCampus', 'StudentType', 'Accommodation','Amount',
                            ])
HP

Empty DataFrame
Columns: [University, Faculty, Level, Conventional, Online, Block, Parallel, FeesType, FeesAmount, Campus, OtherCampus, StudentType, Accommodation, Amount]
Index: []

In [146]:
HP.loc[len(HP)] = ['HararePolytechnic', '', 'Certificate', '$255.00', '', '','', '', '' , '', '', '', '','']
HP.loc[len(HP)] = ['HararePolytechnic', '', 'Diploma', '$275.00', '', '', '','',  '', '', '', '', '','']
HP.loc[len(HP)] = ['HararePolytechnic', '', 'H.Diploma', '$295.00', '', '','', '',  '', '', '', '', '','']
HP

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType,Accommodation,Amount
0,HararePolytechnic,,Certificate,$255.00,,,,,,,,,,
1,HararePolytechnic,,Diploma,$275.00,,,,,,,,,,
2,HararePolytechnic,,H.Diploma,$295.00,,,,,,,,,,

In [147]:
HP['underGradNonRes']  = ''
HP['DiplomaNonRe'] = ''
HP['underGradResDouble']  = ''
HP['DiplomaResDouble']  = ''
HP['underGradResSingle '] = ''
HP['DiplomaResSingle']  = ''
HP['ForeignNonRes']  = ''
HP['ForeignResDouble']  = ''
HP['ForeignResSingle']  = ''
HP['BlockRelease']  = ''
HP['BScNursingEducation']  = ''
HP['MScStrategicManagement']  = ''
HP['PostGraduateCorporateGovernance']  = ''
HP['MScPostHarvest']  = ''
HP

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,HararePolytechnic,,Certificate,$255.00,,,,,,,...,,,,,,,,,,
1,HararePolytechnic,,Diploma,$275.00,,,,,,,...,,,,,,,,,,
2,HararePolytechnic,,H.Diploma,$295.00,,,,,,,...,,,,,,,,,,

In [148]:
dfList = [BUSE, UZ, Catholic, GSU, MASU, NUST, ZOU, GZU, MARONDERA, AU, AJU, RCU, SU, MP, KP, HP]
Colleges = pd.concat(dfList)
Colleges

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,BinduraUniversity,"Humanities, Commercials",Undergraduate,US$620,,,,,,,...,,,,,,,,,,
1,BinduraUniversity,Medicine,Undergraduate,US$700,,,,,,,...,,,,,,,,,,
2,BinduraUniversity,Science&Engineering,Undergraduate,US$680,,,,,,,...,,,,,,,,,,
3,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Certificate/Diploma,US$550,,,,,,,...,,,,,,,,,,
4,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Medical Aid,US$35,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,KwekwePolytechnic,,"Certificate, Diploma, H.Dploma, Technology",,,,,G/Caution,850.0,,...,,,,,,,,,,
8,KwekwePolytechnic,,"Certificate, Diploma, H.Dploma, Technology",,,,,C/Registration,850.0,,...,,,,,,,,,,
0,HararePolytechnic,,Certificate,$255.00,,,,,,,...,,,,,,,,,,
1,HararePolytechnic,,Diploma,$275.00,,,,,,,...,,,,,,,,,,
2,HararePolytechnic,,H.Diploma,$295.00,,,,,,,...,,,,,,,,,,

# gweru polytechnic

In [149]:
GweruPolytechnic=pd.read_html('https://zwefinder.net/gweru-polytechnic-fees-structure/')
# convert list to dataframe
GweruPolytechnic0=pd.DataFrame(GweruPolytechnic[0])
GweruPolytechnic0

                     LEVEL FEES AND LEVIES PER TERM
0      National Cetificate                   US$225
1          National Dipoma                   US$275
2  Higher National Diploma                   US$325
3            Block Release                   US$325

In [150]:
GweruPolytechnic1=pd.DataFrame(GweruPolytechnic[1])
GweruPolytechnic1

                                               LEVEL FEES AND LEVIES PER TERM
0                             Hostels utilities levy                    US$25
1  Hostel caution (insurance against breakages re...                    US$15
2                                      Catering fees                   US$150
3                                              Total                   US$190

In [151]:
Uni = []
faculty = []
level = []
fees = []
online = []
fees = []
para = []
fees = []
fees1 = []
campus = []
campus = []
student = []
accommd = []
amnt = []

for i in GweruPolytechnic[0].index[1:]:
    Uni.append(GweruPolytechnic)
    
len(Uni)

3

In [152]:
GP= pd.DataFrame(list(zip(Uni, faculty, level, fees, online, fees, para, fees,fees1, campus, campus, student, accommd, amnt )), 
                   columns = ['University', 'Faculty', 'Level', 'Conventional','Online', 'Block','Parallel', 'FeesType', 'FeesAmount', 'Campus', 'OtherCampus', 'StudentType', 'Accommodation','Amount',
                            ])
GP

Empty DataFrame
Columns: [University, Faculty, Level, Conventional, Online, Block, Parallel, FeesType, FeesAmount, Campus, OtherCampus, StudentType, Accommodation, Amount]
Index: []

In [153]:
GP.loc[len(GP)] = ['GweruPolytechnic', '', 'Certificate', 'US$225' , '', 'US$325', '', 'HostelLevy, Caution&Catering', 'US$190', '', '', '', '', '']
GP.loc[len(GP)] = ['GweruPolytechnic', '', 'Diploma', 'US$275', '', 'US$325', '', 'HostelLevy, Caution&Catering',  'US$190', '', '', '', '', '']
GP.loc[len(GP)] = ['GweruPolytechnic', '', 'H.Diploma', 'US$325', '', 'US$325', '', 'HostelLevy, Caution&Catering', 'US$190', '', '', '', '', '']
GP

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType,Accommodation,Amount
0,GweruPolytechnic,,Certificate,US$225,,US$325,,"HostelLevy, Caution&Catering",US$190,,,,,
1,GweruPolytechnic,,Diploma,US$275,,US$325,,"HostelLevy, Caution&Catering",US$190,,,,,
2,GweruPolytechnic,,H.Diploma,US$325,,US$325,,"HostelLevy, Caution&Catering",US$190,,,,,

In [154]:
GP['underGradNonRes']  = ''
GP['DiplomaNonRe'] = ''
GP['underGradResDouble']  = ''
GP['DiplomaResDouble']  = ''
GP['underGradResSingle '] = ''
GP['DiplomaResSingle']  = ''
GP['ForeignNonRes']  = ''
GP['ForeignResDouble']  = ''
GP['ForeignResSingle']  = ''
GP['BlockRelease']  = ''
GP['BScNursingEducation']  = ''
GP['MScStrategicManagement']  = ''
GP['PostGraduateCorporateGovernance']  = ''
GP['MScPostHarvest']  = ''
GP

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,GweruPolytechnic,,Certificate,US$225,,US$325,,"HostelLevy, Caution&Catering",US$190,,...,,,,,,,,,,
1,GweruPolytechnic,,Diploma,US$275,,US$325,,"HostelLevy, Caution&Catering",US$190,,...,,,,,,,,,,
2,GweruPolytechnic,,H.Diploma,US$325,,US$325,,"HostelLevy, Caution&Catering",US$190,,...,,,,,,,,,,

In [155]:
dfList = [BUSE, UZ, Catholic, GSU, MASU, MSU, NUST, ZOU, GZU, MARONDERA, AU, AJU, RCU, SU, MP, KP, HP, GP]
Colleges = pd.concat(dfList)
Colleges

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,BinduraUniversity,"Humanities, Commercials",Undergraduate,US$620,,,,,,,...,,,,,,,,,,
1,BinduraUniversity,Medicine,Undergraduate,US$700,,,,,,,...,,,,,,,,,,
2,BinduraUniversity,Science&Engineering,Undergraduate,US$680,,,,,,,...,,,,,,,,,,
3,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Certificate/Diploma,US$550,,,,,,,...,,,,,,,,,,
4,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Medical Aid,US$35,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,HararePolytechnic,,Diploma,$275.00,,,,,,,...,,,,,,,,,,
2,HararePolytechnic,,H.Diploma,$295.00,,,,,,,...,,,,,,,,,,
0,GweruPolytechnic,,Certificate,US$225,,US$325,,"HostelLevy, Caution&Catering",US$190,,...,,,,,,,,,,
1,GweruPolytechnic,,Diploma,US$275,,US$325,,"HostelLevy, Caution&Catering",US$190,,...,,,,,,,,,,
2,GweruPolytechnic,,H.Diploma,US$325,,US$325,,"HostelLevy, Caution&Catering",US$190,,...,,,,,,,,,,

# Bulawayo polytechnic

In [156]:
df=pd.read_html('https://zwefinder.net/bulawayo-polytechnic-fees/')
# convert list to dataframe
df0=pd.DataFrame(df[0])
df0

                                       0                                  1
0                                  LEVEL  2023 Tuition Fees (RTGS) per term
1        National Foundation Certificate                                500
2                   National Certificate                               1050
3  National Diploma/Diploma in Education                               1100
4                Higher National Diploma                               1200
5                 Bachelor of Technology                               1500

In [157]:
text = extract_text("Bulawayo Polytechnic Fees Structure.pdf")
text

'FEES STRUCTURE \n\nLEVEL \n\nNational Certificate (NC) \n\nNational Diploma (ND) \n\nHigher National Diploma (HND) \n\nFEES AND LEVIES PER TERM \n\n$225 \n\n$265 \n\n$375 \n\n \n\x0c'

In [158]:
x=[]
for i in text:
    if i!='\n'and i!='*': 
       print(i, end='')

FEES STRUCTURE LEVEL National Certificate (NC) National Diploma (ND) Higher National Diploma (HND) FEES AND LEVIES PER TERM $225 $265 $375

In [159]:
Uni = []
faculty = []
level = []
fees = []
online = []
fees = []
para = []
fees = []
fees1 = []
campus = []
campus = []
student = []
accommd = []
amnt = []

In [160]:
BP= pd.DataFrame(list(zip(Uni, faculty, level, fees, online, fees,para, fees,fees1, campus, campus, student, accommd, amnt )), 
                   columns = ['University', 'Faculty', 'Level', 'Conventional','Online', 'Block', 'Parallel', 'FeesType', 'FeesAmount', 'Campus', 'OtherCampus', 'StudentType', 'Accommodation','Amount',
                            ])
BP

Empty DataFrame
Columns: [University, Faculty, Level, Conventional, Online, Block, Parallel, FeesType, FeesAmount, Campus, OtherCampus, StudentType, Accommodation, Amount]
Index: []

In [161]:
BP.loc[len(BP)] = ['BulawayoPolytechnic', '', 'Certificate', '$225', '', '','', '', '' , '', '', '', '','']
BP.loc[len(BP)] = ['BulawayoPolytechnic', '', 'Diploma', '$265', '', '', '', '', '', '', '', '', '','']
BP.loc[len(BP)] = ['BulawayoPolytechnic', '', 'H.Diploma', '$375', '', '', '', '', '', '', '', '', '','']
BP

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,OtherCampus,StudentType,Accommodation,Amount
0,BulawayoPolytechnic,,Certificate,$225,,,,,,,,,,
1,BulawayoPolytechnic,,Diploma,$265,,,,,,,,,,
2,BulawayoPolytechnic,,H.Diploma,$375,,,,,,,,,,

In [162]:
BP['underGradNonRes']  = ''
BP['DiplomaNonRe'] = ''
BP['underGradResDouble']  = ''
BP['DiplomaResDouble']  = ''
BP['underGradResSingle '] = ''
BP['DiplomaResSingle']  = ''
BP['ForeignNonRes']  = ''
BP['ForeignResDouble']  = ''
BP['ForeignResSingle']  = ''
BP['BlockRelease']  = ''
BP['BScNursingEducation']  = ''
BP['MScStrategicManagement']  = ''
BP['PostGraduateCorporateGovernance']  = ''
BP['MScPostHarvest']  = ''
BP

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,underGradResSingle,DiplomaResSingle,ForeignNonRes,ForeignResDouble,ForeignResSingle,BlockRelease,BScNursingEducation,MScStrategicManagement,PostGraduateCorporateGovernance,MScPostHarvest
0,BulawayoPolytechnic,,Certificate,$225,,,,,,,...,,,,,,,,,,
1,BulawayoPolytechnic,,Diploma,$265,,,,,,,...,,,,,,,,,,
2,BulawayoPolytechnic,,H.Diploma,$375,,,,,,,...,,,,,,,,,,

In [166]:
dfList = [BUSE, UZ, Catholic, GSU, MASU,MSU, NUST, ZOU, GZU, MARONDERA, AU, AJU, RCU, SU, MP, KP, HP, GP,BP, CUT ]
Colleges = pd.concat(dfList)
Colleges

,University,Faculty,Level,Conventional,Online,Block,Parallel,FeesType,FeesAmount,Campus,...,FeeType,underGraduateNonRes,DiplomaNonRes,underGraduateResDoubleRoom,DiplomaResDoubleRoom,underGraduateResSingleRoom,DiplomaResSingleRoom,ForeignNonResStudent,ForeignResDoubleRoom,ForeignResSingleRoom
0,BinduraUniversity,"Humanities, Commercials",Undergraduate,US$620,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BinduraUniversity,Medicine,Undergraduate,US$700,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BinduraUniversity,Science&Engineering,Undergraduate,US$680,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Certificate/Diploma,US$550,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BinduraUniversity,"Humanities, Commercials, Science&Engineering",Undergraduate,,,,,Medical Aid,US$35,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,ChinhoyiUniversityOfTechnology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,TOTAL FEES,514.00,424.00,654.00,564.00,664.00,574.00,2614.00,2754.00,2764.00
11,ChinhoyiUniversityOfTechnology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Book Levy - 1.1 Students,10,10,10,10,10,10,10,10,10
12,ChinhoyiUniversityOfTechnology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,EQUIPMENT LEVY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,ChinhoyiUniversityOfTechnology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LIBRARY FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,ChinhoyiUniversityOfTechnology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ICT LEVY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [168]:
Colleges.to_csv("Colleges.csv")

# Belvedere Technical teachers college

-None

# Bondolfi teachers college

-None

# Hillside Teachers college

-None

# Madziwa teachers college

-None

# Marymount Teachers college

-None

# Mkoba teachers college

-None

# Masvingo Teachers college

-None

# Morgan Zintec teachers college

-None

# Morgenster Teachers college

-None

# Mupfure Self Help college

In [165]:
-None

TypeError: bad operand type for unary -: 'NoneType'

# Mutare Teachers college

In [ ]:
df=pd.read_html('https://zwefinder.net/mutare-teachers-college-fees-structure/')
# convert list to dataframe
df=pd.DataFrame(df[0])
df

# Nyadire Teachers college

In [ ]:
df=pd.read_html('https://zwefinder.net/nyadire-teachers-college-fees/')
# convert list to dataframe
df=pd.DataFrame(df[0])
df

# Seke Teachers College

In [ ]:
df=pd.read_html('https://zwefinder.net/seke-teachers-college-fees/')
# convert list to dataframe
df=pd.DataFrame(df[0])
df

# United college of education

In [ ]:
df=pd.read_html('https://zwefinder.net/united-college-of-education-fees-structure/')
# convert list to dataframe
df=pd.DataFrame(df[0])
df

# Msasa Industrial training College

In [ ]:
df=pd.read_html('https://zwefinder.net/msasa-industrial-training-college-fees/')
# convert list to dataframe
df=pd.DataFrame(df[0])
df

# Westgate Industrial training college

In [ ]:
df=pd.read_html('https://zwefinder.net/westgate-industrial-training-college-fees/')
# convert list to dataframe
df=pd.DataFrame(df[0])
df

# St Peters Kubatana Industrial training college

In [ ]:
df=pd.read_html('https://zwefinder.net/st-peters-kubatana-industrial-training-college-intake/')
# convert list to dataframe
df=pd.DataFrame(df[0])
df

# Danhiko Training School

In [ ]:
df=pd.read_html('https://zwefinder.net/danhiko-training-school-fees/')
# convert list to dataframe
df=pd.DataFrame(df[0])
df

# universities